workflows/active/10-suotbAwLf95OlE1f.json
{
  "updatedAt": "2026-06-25T23:01:09.414Z",
  "createdAt": "2026-06-18T15:22:59.531Z",
  "id": "suotbAwLf95OlE1f",
  "name": "10",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3184,
        -496
      ],
      "id": "547640c7-170a-49ec-b6c2-3739d96568ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "path": "77e4adf5-cd8f-4ef5-9862-18770879dbe6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        -272
      ],
      "id": "d5d9da3c-fb9f-4d74-972a-a9fd6c2b2d95",
      "name": "Webhook",
      "webhookId": "77e4adf5-cd8f-4ef5-9862-18770879dbe6"
    },
    {
      "parameters": {
        "maxItems": 200
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1856,
        -496
      ],
      "id": "31bf3226-581a-44f9-b0a8-8c81c48f54e0",
      "name": "Limit"
    },
    {
      "parameters": {
        "domain": "={{ $('Get many rows').first().json.website }}",
        "onlyEmails": false,
        "limit": 5,
        "filters": {
          "department": [
            "executive",
            "management",
            "marketing"
          ]
        }
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        -1376,
        -480
      ],
      "id": "e8982589-a444-4b73-a060-399cce86efaf",
      "name": "Hunter",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "hunterApi": {
          "id": "yZGF0DkzLwp2b49M",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -736,
        -496
      ],
      "id": "589b5672-c2d2-477b-8240-881dc1a075de",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1600,
        -496
      ],
      "id": "1ed50e0b-bed9-4c90-bc00-a2799bb58921",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -480,
        -272
      ],
      "id": "f6d72a64-7528-4ecd-bbc9-3781bf773e1d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "row_number",
              "value": "={{ $('Get many rows').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -496
      ],
      "id": "4dc308c9-0b70-4182-ba92-214ba6a06e69",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        -496
      ],
      "id": "ce253126-8bc6-4ef9-bc9a-a5a329d65c9c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1520,
        -688
      ],
      "id": "d27bdd7d-a15e-41e8-92ca-d31184f1eef3",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d77fbb8-6e1b-4ea2-8852-8887ef2e8380",
              "leftValue": "={{$json.emails.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1200,
        -480
      ],
      "id": "63bace76-11de-41dd-bc03-fd17c77058e5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        -496
      ],
      "id": "a9ed7660-6614-4516-8634-f6ab2cf02f1d",
      "name": "Wait",
      "webhookId": "348e933e-4e12-4e5c-be17-cea3bde36283"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1072,
        -272
      ],
      "id": "1acecc4c-b12e-4097-8976-f1dc59ab3167",
      "name": "Wait1",
      "webhookId": "e3d1ead0-cdc0-4791-9a51-19521fe3e9ec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "id",
              "value": "={{ $('Get many rows').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        -272
      ],
      "id": "3ebfbe29-b1ea-4ba8-95e2-4ef39fbedb08",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ecf24989-ed45-4873-8db9-3fee90b28c7b",
              "name": "name",
              "value": "={{ $json.business_name }}",
              "type": "string"
            },
            {
              "id": "6323428c-3306-4144-bcae-551fd34458da",
              "name": "websiteUri",
              "value": "={{ $json.website }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        -496
      ],
      "id": "f1b896af-c5a7-423a-a4fc-98f53ab7b369",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "585b05ed-c2eb-48f3-abb2-6bd2898b790f",
              "name": "Website_URL",
              "value": "={{ $('Split Out').item.json.domain }}",
              "type": "string"
            },
            {
              "id": "16543e92-7848-4f86-bdba-2830b3b41626",
              "name": "email",
              "value": "={{ $('Split Out').item.json.emails.value }}",
              "type": "string"
            },
            {
              "id": "53f78f00-ced8-40e0-b7a2-66ce10466f0a",
              "name": "first_name",
              "value": "={{ $('Split Out').item.json.emails.first_name }}",
              "type": "string"
            },
            {
              "id": "f23326ea-e9b5-4463-8236-766aee75b708",
              "name": "last_name",
              "value": "={{ $('Split Out').item.json.emails.last_name }}",
              "type": "string"
            },
            {
              "id": "a2d49c4a-ec8b-4a6a-a4ca-8efcdfe855a4",
              "name": "position_raw",
              "value": "={{ $('Split Out').item.json.emails.position_raw }}",
              "type": "string"
            },
            {
              "id": "518ebb43-6632-4bae-b12c-4c0cd6041472",
              "name": "position",
              "value": "={{ $('Split Out').item.json.emails.position }}",
              "type": "string"
            },
            {
              "id": "44794344-7b1e-413b-bd32-22136b4d23d9",
              "name": "linkedin",
              "value": "={{ $('Split Out').item.json.emails.linkedin }}",
              "type": "string"
            },
            {
              "id": "519b03e1-8fe4-4f41-a0bb-b955c1bde719",
              "name": "seniority",
              "value": "={{ $('Split Out').item.json.emails.seniority }}",
              "type": "string"
            },
            {
              "id": "2b544f5f-b231-46b7-9a93-c1db1a4bedcc",
              "name": "twitter",
              "value": "={{ $('Split Out').item.json.emails.twitter }}",
              "type": "string"
            },
            {
              "id": "9f2c9ee8-17a5-4865-99e4-f003ef350d68",
              "name": "verification",
              "value": "={{ $('Split Out').item.json.emails.verification }}",
              "type": "object"
            },
            {
              "id": "48a7f622-6f69-4507-bd69-9fad6e139eb6",
              "name": "emails.department",
              "value": "={{ $('Split Out').item.json.emails.department }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -496
      ],
      "id": "59b59333-aa79-4d5e-bf52-d4200ccee3e3",
      "name": "Edit Fields4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -272,
        -496
      ],
      "id": "6251e26c-49ef-4a6c-a4ab-13f48a7c9e46",
      "name": "Wait2",
      "webhookId": "e9d0df04-4d0c-4dd1-986c-016d3908de51"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 5,
        "filterType": "string",
        "filterString": "found_email.is.null"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2496,
        -496
      ],
      "id": "e6d724db-658d-41af-a4a2-1fe593eec461",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ad5dee7-63da-4873-8e93-aef1830dcba5",
              "leftValue": "={{ $json.website.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2208,
        -496
      ],
      "id": "ac3fbc50-5355-49e1-8306-2772cb1816b4",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields3').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "found_email",
              "fieldValue": "Not Found"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -864,
        -272
      ],
      "id": "24d00f5d-4d7b-4211-b771-14ef48fd47d5",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields3').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "found_email",
              "fieldValue": "yes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        -496
      ],
      "id": "80e05f6a-6bfe-4c9b-90da-f9306284f584",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.35.225.222.54.sslip.io/webhook/0e421f21-389d-4daa-b409-df2b62583ddb",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"run_id\": \"{{ $json.body.run_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1296,
        -688
      ],
      "id": "c41e0960-a762-4b99-9d7b-bed681176018",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "tableId": "leads_emails",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $('Get many rows').item.json.business_name }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Get many rows').item.json.niche }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Get many rows').item.json.location }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $('Get many rows').item.json.address }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Get many rows').item.json.phone }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $('Get many rows').item.json.website }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $('Get many rows').item.json.google_place_id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $('Get many rows').item.json.rating }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('Get many rows').item.json.created_at }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $('Get many rows').item.json.updated_at }}"
            },
            {
              "fieldId": "run_id",
              "fieldValue": "={{ $('Get many rows').item.json.run_id }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Split Out').item.json.emails.value }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('Split Out').item.json.emails.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $('Split Out').item.json.emails.last_name }}"
            },
            {
              "fieldId": "position",
              "fieldValue": "={{ $('Split Out').item.json.emails.position }}"
            },
            {
              "fieldId": "position_raw",
              "fieldValue": "={{ $('Split Out').item.json.emails.position_raw }}"
            },
            {
              "fieldId": "linkedin",
              "fieldValue": "={{ $('Split Out').item.json.emails.linkedin }}"
            },
            {
              "fieldId": "twitter",
              "fieldValue": "={{ $('Split Out').item.json.emails.twitter }}"
            },
            {
              "fieldId": "seniority",
              "fieldValue": "={{ $('Split Out').item.json.emails.seniority }}"
            },
            {
              "fieldId": "department",
              "fieldValue": "={{ $('Split Out').item.json.emails.department }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        -496
      ],
      "id": "1c304f14-9179-4d2c-b374-fc70bc78bc12",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://apdxwrqulwljzyhrixrv.supabase.co/rest/v1/run_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.body.run_id }}\",\n  \"stage\": \"Finding Contact Emails\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2912,
        -496
      ],
      "id": "47fc87c6-edfe-4a03-824d-645df1d2ad22",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.35.225.222.54.sslip.io",
            "user-agent": "n8n",
            "content-length": "49",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "35.225.222.54",
            "x-forwarded-host": "n8n.35.225.222.54.sslip.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4c5ca81a9b1e",
            "x-real-ip": "35.225.222.54"
          },
          "params": {},
          "query": {},
          "body": {
            "run_id": "fd12cc31-2aa4-4876-aaf4-4b52c86dae66"
          },
          "webhookUrl": "https://n8n.35.225.222.54.sslip.io/webhook-test/77e4adf5-cd8f-4ef5-9862-18770879dbe6",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {},
        "pairedItem": [
          {
            "item": 0,
            "input": 0
          }
        ]
      }
    ],
    "Get many rows": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45",
          "business_name": "The Wolseley Piccadilly",
          "niche": "restaurant",
          "location": "london",
          "address": "160 Piccadilly, London W1J 9EB, UK",
          "phone": "020 7499 6996",
          "website": "https://www.thewolseleypiccadilly.com/",
          "google_place_id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:39:35.677582+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "NO",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "03bdc5b1-396c-4ca1-a3cb-5720d08b9e67",
          "business_name": "Gymkhana",
          "niche": "restaurant",
          "location": "london",
          "address": "42 Albemarle St, London W1S 4JH, UK",
          "phone": "020 3011 5900",
          "website": "http://www.gymkhanarestaurants.com/",
          "google_place_id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:40:46.022886+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "c76ebe9d-c4f3-40af-905d-bb71e8c810b5",
          "business_name": "Brighten Up Teeth Whitening",
          "niche": "dental",
          "location": "london",
          "address": "Golden Cross House, 8 Duncannon St, London WC2N 4JF, UK",
          "phone": "020 7868 5360",
          "website": "https://brightenupteeth.co.uk/treatments/laser-teeth-whitening",
          "google_place_id": "ChIJi28N0Z4FdkgR8mmt9VTwuvA",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:14.472443+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "dc94dfc3-16d8-4620-8587-9a85ab073cef",
          "business_name": "ODL Dental Clinic - Affordable Braces London",
          "niche": "dental",
          "location": "london",
          "address": "Unit 1, Salisbury House, 31 Finsbury Circus, London EC2M 5QQ, UK",
          "phone": "020 7739 3345",
          "website": "http://www.odldentalclinic.com/",
          "google_place_id": "ChIJeXcm8rocdkgRyD9LO8MPZ_M",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:18.908232+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "dcd1fbef-60a4-4a58-aebf-943843b38b65",
          "business_name": "Hermes London Dental Clinic",
          "niche": "dental",
          "location": "london",
          "address": "205 Vauxhall Bridge Rd, Pimlico, London SW1V 1ER, UK",
          "phone": "020 7233 7660",
          "website": "https://hermeslondondentalclinic.com/",
          "google_place_id": "ChIJS7kCaeAEdkgRDXzHYmjXq_8",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:23.380021+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Filter": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45",
          "business_name": "The Wolseley Piccadilly",
          "niche": "restaurant",
          "location": "london",
          "address": "160 Piccadilly, London W1J 9EB, UK",
          "phone": "020 7499 6996",
          "website": "https://www.thewolseleypiccadilly.com/",
          "google_place_id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:39:35.677582+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "NO",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "03bdc5b1-396c-4ca1-a3cb-5720d08b9e67",
          "business_name": "Gymkhana",
          "niche": "restaurant",
          "location": "london",
          "address": "42 Albemarle St, London W1S 4JH, UK",
          "phone": "020 3011 5900",
          "website": "http://www.gymkhanarestaurants.com/",
          "google_place_id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:40:46.022886+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "c76ebe9d-c4f3-40af-905d-bb71e8c810b5",
          "business_name": "Brighten Up Teeth Whitening",
          "niche": "dental",
          "location": "london",
          "address": "Golden Cross House, 8 Duncannon St, London WC2N 4JF, UK",
          "phone": "020 7868 5360",
          "website": "https://brightenupteeth.co.uk/treatments/laser-teeth-whitening",
          "google_place_id": "ChIJi28N0Z4FdkgR8mmt9VTwuvA",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:14.472443+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "dc94dfc3-16d8-4620-8587-9a85ab073cef",
          "business_name": "ODL Dental Clinic - Affordable Braces London",
          "niche": "dental",
          "location": "london",
          "address": "Unit 1, Salisbury House, 31 Finsbury Circus, London EC2M 5QQ, UK",
          "phone": "020 7739 3345",
          "website": "http://www.odldentalclinic.com/",
          "google_place_id": "ChIJeXcm8rocdkgRyD9LO8MPZ_M",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:18.908232+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "dcd1fbef-60a4-4a58-aebf-943843b38b65",
          "business_name": "Hermes London Dental Clinic",
          "niche": "dental",
          "location": "london",
          "address": "205 Vauxhall Bridge Rd, Pimlico, London SW1V 1ER, UK",
          "phone": "020 7233 7660",
          "website": "https://hermeslondondentalclinic.com/",
          "google_place_id": "ChIJS7kCaeAEdkgRDXzHYmjXq_8",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:23.380021+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Edit Fields3": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45",
          "business_name": "The Wolseley Piccadilly",
          "niche": "restaurant",
          "location": "london",
          "address": "160 Piccadilly, London W1J 9EB, UK",
          "phone": "020 7499 6996",
          "website": "https://www.thewolseleypiccadilly.com/",
          "google_place_id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:39:35.677582+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "NO",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "The Wolseley Piccadilly",
          "websiteUri": "https://www.thewolseleypiccadilly.com/"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "03bdc5b1-396c-4ca1-a3cb-5720d08b9e67",
          "business_name": "Gymkhana",
          "niche": "restaurant",
          "location": "london",
          "address": "42 Albemarle St, London W1S 4JH, UK",
          "phone": "020 3011 5900",
          "website": "http://www.gymkhanarestaurants.com/",
          "google_place_id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:40:46.022886+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "Gymkhana",
          "websiteUri": "http://www.gymkhanarestaurants.com/"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "c76ebe9d-c4f3-40af-905d-bb71e8c810b5",
          "business_name": "Brighten Up Teeth Whitening",
          "niche": "dental",
          "location": "london",
          "address": "Golden Cross House, 8 Duncannon St, London WC2N 4JF, UK",
          "phone": "020 7868 5360",
          "website": "https://brightenupteeth.co.uk/treatments/laser-teeth-whitening",
          "google_place_id": "ChIJi28N0Z4FdkgR8mmt9VTwuvA",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:14.472443+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "Brighten Up Teeth Whitening",
          "websiteUri": "https://brightenupteeth.co.uk/treatments/laser-teeth-whitening"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "dc94dfc3-16d8-4620-8587-9a85ab073cef",
          "business_name": "ODL Dental Clinic - Affordable Braces London",
          "niche": "dental",
          "location": "london",
          "address": "Unit 1, Salisbury House, 31 Finsbury Circus, London EC2M 5QQ, UK",
          "phone": "020 7739 3345",
          "website": "http://www.odldentalclinic.com/",
          "google_place_id": "ChIJeXcm8rocdkgRyD9LO8MPZ_M",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:18.908232+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "ODL Dental Clinic - Affordable Braces London",
          "websiteUri": "http://www.odldentalclinic.com/"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "dcd1fbef-60a4-4a58-aebf-943843b38b65",
          "business_name": "Hermes London Dental Clinic",
          "niche": "dental",
          "location": "london",
          "address": "205 Vauxhall Bridge Rd, Pimlico, London SW1V 1ER, UK",
          "phone": "020 7233 7660",
          "website": "https://hermeslondondentalclinic.com/",
          "google_place_id": "ChIJS7kCaeAEdkgRDXzHYmjXq_8",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:23.380021+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "Hermes London Dental Clinic",
          "websiteUri": "https://hermeslondondentalclinic.com/"
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Limit": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45",
          "business_name": "The Wolseley Piccadilly",
          "niche": "restaurant",
          "location": "london",
          "address": "160 Piccadilly, London W1J 9EB, UK",
          "phone": "020 7499 6996",
          "website": "https://www.thewolseleypiccadilly.com/",
          "google_place_id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:39:35.677582+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "NO",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "The Wolseley Piccadilly",
          "websiteUri": "https://www.thewolseleypiccadilly.com/"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "03bdc5b1-396c-4ca1-a3cb-5720d08b9e67",
          "business_name": "Gymkhana",
          "niche": "restaurant",
          "location": "london",
          "address": "42 Albemarle St, London W1S 4JH, UK",
          "phone": "020 3011 5900",
          "website": "http://www.gymkhanarestaurants.com/",
          "google_place_id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-23T16:40:46.022886+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "Gymkhana",
          "websiteUri": "http://www.gymkhanarestaurants.com/"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "c76ebe9d-c4f3-40af-905d-bb71e8c810b5",
          "business_name": "Brighten Up Teeth Whitening",
          "niche": "dental",
          "location": "london",
          "address": "Golden Cross House, 8 Duncannon St, London WC2N 4JF, UK",
          "phone": "020 7868 5360",
          "website": "https://brightenupteeth.co.uk/treatments/laser-teeth-whitening",
          "google_place_id": "ChIJi28N0Z4FdkgR8mmt9VTwuvA",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:14.472443+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "Brighten Up Teeth Whitening",
          "websiteUri": "https://brightenupteeth.co.uk/treatments/laser-teeth-whitening"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "dc94dfc3-16d8-4620-8587-9a85ab073cef",
          "business_name": "ODL Dental Clinic - Affordable Braces London",
          "niche": "dental",
          "location": "london",
          "address": "Unit 1, Salisbury House, 31 Finsbury Circus, London EC2M 5QQ, UK",
          "phone": "020 7739 3345",
          "website": "http://www.odldentalclinic.com/",
          "google_place_id": "ChIJeXcm8rocdkgRyD9LO8MPZ_M",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:18.908232+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "ODL Dental Clinic - Affordable Braces London",
          "websiteUri": "http://www.odldentalclinic.com/"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "dcd1fbef-60a4-4a58-aebf-943843b38b65",
          "business_name": "Hermes London Dental Clinic",
          "niche": "dental",
          "location": "london",
          "address": "205 Vauxhall Bridge Rd, Pimlico, London SW1V 1ER, UK",
          "phone": "020 7233 7660",
          "website": "https://hermeslondondentalclinic.com/",
          "google_place_id": "ChIJS7kCaeAEdkgRDXzHYmjXq_8",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-24T16:58:13.5622+00:00",
          "updated_at": "2026-06-25T15:56:23.380021+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null,
          "name": "Hermes London Dental Clinic",
          "websiteUri": "https://hermeslondondentalclinic.com/"
        },
        "pairedItem": {
          "item": 4
        }
      }
    ],
    "Hunter": [
      {
        "json": {
          "domain": "thewolseleypiccadilly.com",
          "disposable": false,
          "webmail": false,
          "accept_all": false,
          "pattern": null,
          "organization": null,
          "linked_domains": [],
          "emails": []
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Edit Fields2": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait1": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Update a row": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45",
          "business_name": "The Wolseley Piccadilly",
          "niche": "restaurant",
          "location": "london",
          "address": "160 Piccadilly, London W1J 9EB, UK",
          "phone": "020 7499 6996",
          "website": "https://www.thewolseleypiccadilly.com/",
          "google_place_id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-25T22:59:04.617428+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Replace Me": [
      {
        "json": {
          "id": "a05533a0-523d-4bc6-9dd6-885395d1ed45",
          "business_name": "The Wolseley Piccadilly",
          "niche": "restaurant",
          "location": "london",
          "address": "160 Piccadilly, London W1J 9EB, UK",
          "phone": "020 7499 6996",
          "website": "https://www.thewolseleypiccadilly.com/",
          "google_place_id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-25T22:59:04.617428+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": "Not Found",
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Aggregate2": [
      {
        "json": {
          "value": []
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          },
          {
            "item": 2
          },
          {
            "item": 3
          },
          {
            "item": 4
          }
        ]
      }
    ]
  },
  "versionId": "5307db2a-2c74-4480-80b8-1ba44901ad09",
  "activeVersionId": "5307db2a-2c74-4480-80b8-1ba44901ad09",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-18T15:22:59.533Z",
      "createdAt": "2026-06-18T15:22:59.533Z",
      "role": "workflow:owner",
      "workflowId": "suotbAwLf95OlE1f",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-25T23:01:49.000Z",
    "createdAt": "2026-06-25T23:01:09.416Z",
    "versionId": "5307db2a-2c74-4480-80b8-1ba44901ad09",
    "workflowId": "suotbAwLf95OlE1f",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -3184,
          -496
        ],
        "id": "547640c7-170a-49ec-b6c2-3739d96568ef",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "path": "77e4adf5-cd8f-4ef5-9862-18770879dbe6",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -3216,
          -272
        ],
        "id": "d5d9da3c-fb9f-4d74-972a-a9fd6c2b2d95",
        "name": "Webhook",
        "webhookId": "77e4adf5-cd8f-4ef5-9862-18770879dbe6"
      },
      {
        "parameters": {
          "maxItems": 200
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          -1856,
          -496
        ],
        "id": "31bf3226-581a-44f9-b0a8-8c81c48f54e0",
        "name": "Limit"
      },
      {
        "parameters": {
          "domain": "={{ $('Get many rows').first().json.website }}",
          "onlyEmails": false,
          "limit": 5,
          "filters": {
            "department": [
              "executive",
              "management",
              "marketing"
            ]
          }
        },
        "type": "n8n-nodes-base.hunter",
        "typeVersion": 1,
        "position": [
          -1376,
          -480
        ],
        "id": "e8982589-a444-4b73-a060-399cce86efaf",
        "name": "Hunter",
        "alwaysOutputData": true,
        "retryOnFail": false,
        "credentials": {
          "hunterApi": {
            "id": "yZGF0DkzLwp2b49M",
            "name": "Hunter account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "emails",
          "include": "allOtherFields",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -736,
          -496
        ],
        "id": "589b5672-c2d2-477b-8240-881dc1a075de",
        "name": "Split Out"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1600,
          -496
        ],
        "id": "1ed50e0b-bed9-4c90-bc00-a2799bb58921",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Replace Me",
        "typeVersion": 1,
        "position": [
          -480,
          -272
        ],
        "id": "f6d72a64-7528-4ecd-bbc9-3781bf773e1d"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
                "name": "row_number",
                "value": "={{ $('Get many rows').item.json.id }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          -496
        ],
        "id": "4dc308c9-0b70-4182-ba92-214ba6a06e69",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          208,
          -496
        ],
        "id": "ce253126-8bc6-4ef9-bc9a-a5a329d65c9c",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "value"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1520,
          -688
        ],
        "id": "d27bdd7d-a15e-41e8-92ca-d31184f1eef3",
        "name": "Aggregate2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "2d77fbb8-6e1b-4ea2-8852-8887ef2e8380",
                "leftValue": "={{$json.emails.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1200,
          -480
        ],
        "id": "63bace76-11de-41dd-bc03-fd17c77058e5",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          688,
          -496
        ],
        "id": "a9ed7660-6614-4516-8634-f6ab2cf02f1d",
        "name": "Wait",
        "webhookId": "348e933e-4e12-4e5c-be17-cea3bde36283"
      },
      {
        "parameters": {
          "amount": 4
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1072,
          -272
        ],
        "id": "1acecc4c-b12e-4097-8976-f1dc59ab3167",
        "name": "Wait1",
        "webhookId": "e3d1ead0-cdc0-4791-9a51-19521fe3e9ec"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
                "name": "id",
                "value": "={{ $('Get many rows').item.json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1280,
          -272
        ],
        "id": "3ebfbe29-b1ea-4ba8-95e2-4ef39fbedb08",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "ecf24989-ed45-4873-8db9-3fee90b28c7b",
                "name": "name",
                "value": "={{ $json.business_name }}",
                "type": "string"
              },
              {
                "id": "6323428c-3306-4144-bcae-551fd34458da",
                "name": "websiteUri",
                "value": "={{ $json.website }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2016,
          -496
        ],
        "id": "f1b896af-c5a7-423a-a4fc-98f53ab7b369",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "585b05ed-c2eb-48f3-abb2-6bd2898b790f",
                "name": "Website_URL",
                "value": "={{ $('Split Out').item.json.domain }}",
                "type": "string"
              },
              {
                "id": "16543e92-7848-4f86-bdba-2830b3b41626",
                "name": "email",
                "value": "={{ $('Split Out').item.json.emails.value }}",
                "type": "string"
              },
              {
                "id": "53f78f00-ced8-40e0-b7a2-66ce10466f0a",
                "name": "first_name",
                "value": "={{ $('Split Out').item.json.emails.first_name }}",
                "type": "string"
              },
              {
                "id": "f23326ea-e9b5-4463-8236-766aee75b708",
                "name": "last_name",
                "value": "={{ $('Split Out').item.json.emails.last_name }}",
                "type": "string"
              },
              {
                "id": "a2d49c4a-ec8b-4a6a-a4ca-8efcdfe855a4",
                "name": "position_raw",
                "value": "={{ $('Split Out').item.json.emails.position_raw }}",
                "type": "string"
              },
              {
                "id": "518ebb43-6632-4bae-b12c-4c0cd6041472",
                "name": "position",
                "value": "={{ $('Split Out').item.json.emails.position }}",
                "type": "string"
              },
              {
                "id": "44794344-7b1e-413b-bd32-22136b4d23d9",
                "name": "linkedin",
                "value": "={{ $('Split Out').item.json.emails.linkedin }}",
                "type": "string"
              },
              {
                "id": "519b03e1-8fe4-4f41-a0bb-b955c1bde719",
                "name": "seniority",
                "value": "={{ $('Split Out').item.json.emails.seniority }}",
                "type": "string"
              },
              {
                "id": "2b544f5f-b231-46b7-9a93-c1db1a4bedcc",
                "name": "twitter",
                "value": "={{ $('Split Out').item.json.emails.twitter }}",
                "type": "string"
              },
              {
                "id": "9f2c9ee8-17a5-4865-99e4-f003ef350d68",
                "name": "verification",
                "value": "={{ $('Split Out').item.json.emails.verification }}",
                "type": "object"
              },
              {
                "id": "48a7f622-6f69-4507-bd69-9fad6e139eb6",
                "name": "emails.department",
                "value": "={{ $('Split Out').item.json.emails.department }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -480,
          -496
        ],
        "id": "59b59333-aa79-4d5e-bf52-d4200ccee3e3",
        "name": "Edit Fields4"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -272,
          -496
        ],
        "id": "6251e26c-49ef-4a6c-a4ab-13f48a7c9e46",
        "name": "Wait2",
        "webhookId": "e9d0df04-4d0c-4dd1-986c-016d3908de51"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "leads",
          "limit": 5,
          "filterType": "string",
          "filterString": "found_email.is.null"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2496,
          -496
        ],
        "id": "e6d724db-658d-41af-a4a2-1fe593eec461",
        "name": "Get many rows",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2ad5dee7-63da-4873-8e93-aef1830dcba5",
                "leftValue": "={{ $json.website.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -2208,
          -496
        ],
        "id": "ac3fbc50-5355-49e1-8306-2772cb1816b4",
        "name": "Filter"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "leads",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields3').item.json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "found_email",
                "fieldValue": "Not Found"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -864,
          -272
        ],
        "id": "24d00f5d-4d7b-4211-b771-14ef48fd47d5",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "leads",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields3').item.json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "found_email",
                "fieldValue": "yes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          976,
          -496
        ],
        "id": "80e05f6a-6bfe-4c9b-90da-f9306284f584",
        "name": "Update a row1",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "https://n8n.35.225.222.54.sslip.io/webhook/0e421f21-389d-4daa-b409-df2b62583ddb",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"run_id\": \"{{ $json.body.run_id }}\" }",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1296,
          -688
        ],
        "id": "c41e0960-a762-4b99-9d7b-bed681176018",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "tableId": "leads_emails",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "business_name",
                "fieldValue": "={{ $('Get many rows').item.json.business_name }}"
              },
              {
                "fieldId": "niche",
                "fieldValue": "={{ $('Get many rows').item.json.niche }}"
              },
              {
                "fieldId": "location",
                "fieldValue": "={{ $('Get many rows').item.json.location }}"
              },
              {
                "fieldId": "address",
                "fieldValue": "={{ $('Get many rows').item.json.address }}"
              },
              {
                "fieldId": "phone",
                "fieldValue": "={{ $('Get many rows').item.json.phone }}"
              },
              {
                "fieldId": "website",
                "fieldValue": "={{ $('Get many rows').item.json.website }}"
              },
              {
                "fieldId": "google_place_id",
                "fieldValue": "={{ $('Get many rows').item.json.google_place_id }}"
              },
              {
                "fieldId": "rating",
                "fieldValue": "={{ $('Get many rows').item.json.rating }}"
              },
              {
                "fieldId": "created_at",
                "fieldValue": "={{ $('Get many rows').item.json.created_at }}"
              },
              {
                "fieldId": "updated_at",
                "fieldValue": "={{ $('Get many rows').item.json.updated_at }}"
              },
              {
                "fieldId": "run_id",
                "fieldValue": "={{ $('Get many rows').item.json.run_id }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $('Split Out').item.json.emails.value }}"
              },
              {
                "fieldId": "first_name",
                "fieldValue": "={{ $('Split Out').item.json.emails.first_name }}"
              },
              {
                "fieldId": "last_name",
                "fieldValue": "={{ $('Split Out').item.json.emails.last_name }}"
              },
              {
                "fieldId": "position",
                "fieldValue": "={{ $('Split Out').item.json.emails.position }}"
              },
              {
                "fieldId": "position_raw",
                "fieldValue": "={{ $('Split Out').item.json.emails.position_raw }}"
              },
              {
                "fieldId": "linkedin",
                "fieldValue": "={{ $('Split Out').item.json.emails.linkedin }}"
              },
              {
                "fieldId": "twitter",
                "fieldValue": "={{ $('Split Out').item.json.emails.twitter }}"
              },
              {
                "fieldId": "seniority",
                "fieldValue": "={{ $('Split Out').item.json.emails.seniority }}"
              },
              {
                "fieldId": "department",
                "fieldValue": "={{ $('Split Out').item.json.emails.department }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -64,
          -496
        ],
        "id": "1c304f14-9179-4d2c-b374-fc70bc78bc12",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "https://apdxwrqulwljzyhrixrv.supabase.co/rest/v1/run_status",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"run_id\": \"{{ $json.body.run_id }}\",\n  \"stage\": \"Finding Contact Emails\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2912,
          -496
        ],
        "id": "47fc87c6-edfe-4a03-824d-645df1d2ad22",
        "name": "HTTP Request1",
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Limit": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hunter": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Aggregate2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Hunter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Me": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate2": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Update a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row1": {
        "main": [
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "senul adeeth",
    "name": "Version 5307db2a",
    "description": "",
    "autosaved": true
  },
  "tags": []
}