workflows/active/12-xSP3aCw1qlhEtTit.json
{
  "updatedAt": "2026-06-24T17:29:16.245Z",
  "createdAt": "2026-06-18T16:46:26.984Z",
  "id": "xSP3aCw1qlhEtTit",
  "name": "12",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        -176
      ],
      "id": "53bd1697-ce6e-4ab0-8798-de415f86952c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79e5a160-aef0-40e3-ae8e-e14223ac2017",
              "name": "first_name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "6c9ba4df-7d71-4231-b6b3-904518d0525b",
              "name": "company_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "21c2fdfd-6397-445e-9ace-f28d969be7ce",
              "name": "page",
              "value": "={{ $json.page }}",
              "type": "string"
            },
            {
              "id": "f89187d8-7344-4a06-99b3-fa112ab68ae0",
              "name": "website_problem",
              "value": "={{ $json.website_problem }}",
              "type": "string"
            },
            {
              "id": "fc35eed8-7efe-4c61-aa43-e5dcfe2995c1",
              "name": "recognizable_reason",
              "value": "={{ $json.recognizable_reason }}",
              "type": "string"
            },
            {
              "id": "8f55dfbe-eb3e-4808-8a07-3df27c4ffc07",
              "name": "review",
              "value": "=free prototype",
              "type": "string"
            },
            {
              "id": "fc39c9f4-1d85-4042-ba5b-458302354d7b",
              "name": "asset_exits",
              "value": "=yes",
              "type": "string"
            },
            {
              "id": "03fc7f5c-10bf-4f89-a913-27fc43a0581c",
              "name": "review_time",
              "value": "2 minutes",
              "type": "string"
            },
            {
              "id": "5f0010a9-50f5-4f76-8bf0-b312b9506c1c",
              "name": "micro_yes",
              "value": "Want me to send the free prototype?",
              "type": "string"
            },
            {
              "id": "35dc8333-7aa1-4cc0-8a54-8914c77baa5c",
              "name": "your_name",
              "value": "Senul",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -96
      ],
      "id": "eb499c1f-5a9f-4f43-80db-b4dc8449273d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are writing Follow Up 1 for a cold email sequence to a recruitment agency. The pitch has already been sent with no reply.\n\nINPUTS:\n- Client first name: {{ $('Get row(s) in sheet1').first().json.first_name }}\n- Company name: {{ $('Get row(s) in sheet1').first().json.name }}\n- Website: {{ $('Get row(s) in sheet1').first().json.website }}\n- Website problem: {{ $('Get row(s) in sheet1').first().json.website_problem }}\n- Specific issues (pipe-separated): {{ $('Get row(s) in sheet1').first().json.recognizable_reason }}\n- Consequence: {{ $('Get row(s) in sheet1').first().json.consequence_mechanics }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n- Pitch email: {{ $('pitch parsed').first().json.subject }} {{ $('pitch parsed').first().json.body }}\n\nTASK:\nStay on the exact same single issue from the pitch. Do not switch topics, do not introduce a second issue, do not generalise. Sharpen the consequence — show what is actually happening to the business because of this one issue, from a fresh angle that wasn't used in the pitch.\n\nRULES:\n- Do NOT copy or repeat any wording from the pitch\n- Do NOT reference, summarise, or mention \"the pitch\" or any previous email\n- Do NOT say \"just following up\", \"circling back\", \"checking in\", or any line that is about you rather than the visitor\n- Do NOT use corporate filler words: mockup, demo, optimise, streamline, leverage, innovative, solution, enhance, seamlessly, or similar\n- Do NOT use brochure phrases: creates friction, impacts revenue, missed opportunities, poor first impression, or similar\n- Do NOT use hedging words: could, might, may, potentially, possibly, some, many, or similar\n- Never assume where the visitor goes after leaving — just say they leave\n- Subject line must be different to the pitch subject line, and specific to the issue\n- Under 70 words total (body only, not counting subject)\n- Subject line: exactly 3 or 4 words\n- Plain business voice, sound natural and human\n- Structure: one sentence sharpening the consequence of the same issue from a new angle → one sentence on what that means for the business → CTA\n- CTA must use different wording to the pitch CTA — use: \"Want me to send it over?\"\n- Sign off: Best, [sender name]\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1776,
        -96
      ],
      "id": "b107515c-5639-45bc-bcb5-4633a98941fd",
      "name": "Follow Up 1",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "J1l2ZUht2A09BOqf",
          "name": "ak - gemini api key paid version"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are writing Follow Up 2 for a cold email sequence to a recruitment agency. The pitch and Follow Up 1 have already been sent with no reply.\n\nINPUTS:\n- Client first name: {{ $('Get row(s) in sheet1').first().json.first_name }}\n- Company name: {{ $('Get row(s) in sheet1').first().json.name }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n\nTASK:\nWrite a very short, direct Follow Up 2. No preamble, no context, no reference to previous emails. Just a straight ask.\n\nRULES:\n- Never say \"circling back\", \"following up\", \"just checking in\", \"still no reply\", or any line that is about you\n- Never use the words mockup or demo\n- Under 40 words total (body only, not counting subject)\n- Subject line: exactly 3 or 4 words, specific to the company name or issue, different from the pitch and Follow Up 1 subject lines\n- Sound like a real person sending a quick nudge\n- No corporate or AI-sounding words\n- CTA must use different wording to the pitch and Follow Up 1 CTAs — use: \"Would you like me to send over the prototype for [company name]?\"\n- Sign off: Best, [sender name]\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 1800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2416,
        -96
      ],
      "id": "24566564-403d-4cc8-9051-008d01769b57",
      "name": "Follow Up 2",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "J1l2ZUht2A09BOqf",
          "name": "ak - gemini api key paid version"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        -96
      ],
      "id": "bc67795c-dd51-414c-8846-ed283049c15a",
      "name": "Wait",
      "webhookId": "7ab78674-07d8-4c80-9247-c673753dffb5"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        -96
      ],
      "id": "288464b6-a4cf-4359-8333-8a7116db06a7",
      "name": "Wait1",
      "webhookId": "89be4df0-9276-4dab-b0f4-0ea2dc81379f"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        -96
      ],
      "id": "3ffdcdde-a3d1-4bbc-9ced-59713c11ab4f",
      "name": "Wait2",
      "webhookId": "bb087120-16a5-408d-b873-ae0d6cff2cbf"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2864,
        -96
      ],
      "id": "e9ac41ab-f15c-4a40-8514-25ee69da0176",
      "name": "Wait3",
      "webhookId": "da88bae6-0372-428c-b7ba-06ac61f40ed4"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3424,
        -96
      ],
      "id": "9b20fd4d-6e78-440c-992d-f957c6cfafd7",
      "name": "Wait4",
      "webhookId": "f251f5e2-0fe1-41d4-96b9-1e5125383d21"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aRf_l4brlJ0DxFF9N1RDtIRBfYu7FdovX03jmGV0eSU",
          "mode": "list",
          "cachedResultName": "Step 5 - Round 2 - Find Issues",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aRf_l4brlJ0DxFF9N1RDtIRBfYu7FdovX03jmGV0eSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aRf_l4brlJ0DxFF9N1RDtIRBfYu7FdovX03jmGV0eSU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "pitch": "={{ $('pitch parsed').item.json.body }}",
            "follow up 1 ": "={{ $('follow up 1 parsed').item.json.body }}",
            "follow up 2": "={{ $('follow up 2 parsed').item.json.body }}",
            "follow up 3": "={{ $('Code in JavaScript').item.json.body }}",
            "email created": "true",
            "pitch_subject_line": "={{ $('pitch parsed').item.json.subject }}",
            "follow up 1 subject line": "={{ $('follow up 1 parsed').item.json.subject }}",
            "follow up 2 subject line": "={{ $('follow up 2 parsed').item.json.subject }}",
            "follow up 3 subject line": "={{ $('Code in JavaScript').item.json.subject }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nationalPhoneNumber",
              "displayName": "nationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "format adrees",
              "displayName": "format adrees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "google search email",
              "displayName": "google search email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hunter email",
              "displayName": "hunter email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "verfication",
              "displayName": "verfication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedn",
              "displayName": "linkedn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "internationalPhoneNumber",
              "displayName": "internationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "page",
              "displayName": "page",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website_problem",
              "displayName": "website_problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recognizable_reason",
              "displayName": "recognizable_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "consequence_mechanics",
              "displayName": "consequence_mechanics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "review",
              "displayName": "review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "asset_exits",
              "displayName": "asset_exits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "review_time",
              "displayName": "review_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "micro_yes",
              "displayName": "micro_yes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject_lable",
              "displayName": "subject_lable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pitch_subject_line",
              "displayName": "pitch_subject_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pitch",
              "displayName": "pitch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow up 1 subject line",
              "displayName": "follow up 1 subject line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow up 1 ",
              "displayName": "follow up 1 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow up 2 subject line",
              "displayName": "follow up 2 subject line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow up 2",
              "displayName": "follow up 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow up 3 subject line",
              "displayName": "follow up 3 subject line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow up 3",
              "displayName": "follow up 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stop_30",
              "displayName": "stop_30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "issues",
              "displayName": "issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "research_done",
              "displayName": "research_done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "done",
              "displayName": "done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "checked_reply",
              "displayName": "checked_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status ",
              "displayName": "status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "infor aded",
              "displayName": "infor aded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email created",
              "displayName": "email created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent the email to alex",
              "displayName": "sent the email to alex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email fixed in word",
              "displayName": "Email fixed in word",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "send the email to the lead",
              "displayName": "send the email to the lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pitch email sent",
              "displayName": "Pitch email sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up 1 sent",
              "displayName": "Follow up 1 sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up 2 sent",
              "displayName": "Follow up 2 sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up 3 sent",
              "displayName": "Follow up 3 sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isuue found",
              "displayName": "isuue found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3792,
        -96
      ],
      "id": "a003139b-7d48-49f1-a4cd-98913b6349cf",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are writing a cold outreach email for a small agency contacting a recruitment agency about a website issue.\n\nINPUTS:\n- Client first name: {{ $('Edit Fields').first().json.first_name }}\n- Company name: {{ $('Edit Fields').first().json.company_name }}\n- Website: {{ $('Edit Fields').first().json.page }}\n- Website problem: {{ $('Get row(s) in sheet1').first().json.website_problem }}\n- Specific issues (pipe-separated): {{ $('Get row(s) in sheet1').first().json.recognizable_reason }}\n- Consequence: {{ $('Get row(s) in sheet1').first().json.consequence_mechanics }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n\nTASK:\nFrom the pipe-separated list in \"specific issues\", pick the single strongest one — the one issue that stops a visitor (usually a candidate looking for a job) from completing one specific action. Write a cold pitch email based on that ONE issue only.\n\nRULES:\n- Pick ONE issue only. Never combine two issues in the same sentence, even if both appear in the input list.\n- Describe exactly what the visitor sees or experiences when they hit the issue — not a vague summary\n- Plain business voice, no marketing tone, no hype\n- Under 70 words total (body only, not counting subject)\n- Subject line: exactly 3 or 4 words, specific to the issue\n- Never use corporate filler words: mockup, demo, optimise, streamline, leverage, innovative, solution, enhance, seamlessly, or similar\n- Never use brochure phrases: creates friction, impacts revenue, missed opportunities, poor first impression, damages trust, or similar\n- Never use hedging words: could, might, may, potentially, possibly, some, many, or similar — state consequences as fact\n- Never assume where the visitor goes after leaving — just say they leave\n- Structure: greeting → one sentence describing exactly what the visitor sees and the one action they can't complete → one sentence on what that costs the business → CTA\n- CTA must be: \"Would you like me to send the prototype I made for you?\"\n- Sign off: Best, [sender name]\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 3000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1200,
        -96
      ],
      "id": "9f16b074-0ad2-428c-897c-c199c013dc8f",
      "name": "pitch",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "J1l2ZUht2A09BOqf",
          "name": "ak - gemini api key paid version"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are writing the final follow up email in a cold email sequence to a recruitment agency. This is Follow Up 3 — the last message.\n\nINPUTS:\n- Client first name: {{ $('Get row(s) in sheet1').first().json.first_name }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n\nTASK:\nWrite the final follow up. It must always follow this exact structure — do not change it:\n\n\"Yes or no — want me to send the prototype over?\n\nBest, [sender name]\"\n\nRULES:\n- Use this exact body structure every time, no variations, no \"Last one from me\"\n- The close must force a binary decision — never leave it open-ended\n- Subject line: exactly 3 or 4 words\n- Subject line must NOT say \"Final Follow Up\", \"Last Email\", \"Final Check-in\" or anything that signals you're giving up — use something action-forward like \"Send the prototype over?\"\n- Never use the words mockup or demo\n- No explanation, no context, no reference to the issue\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
            },
            {}
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 1600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3008,
        -96
      ],
      "id": "4a71c5d0-83bf-457b-829d-e76a5568ee28",
      "name": "follow up 3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "J1l2ZUht2A09BOqf",
          "name": "ak - gemini api key paid version"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -96
      ],
      "id": "fe7dad9f-f501-4794-81f5-0c25c9ad8d92",
      "name": "pitch parsed"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -96
      ],
      "id": "faa7aca0-49f5-4cf2-8be9-249be7bc317b",
      "name": "follow up 1 parsed"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -96
      ],
      "id": "18192e72-ad43-42ba-8027-f9a7a14c65be",
      "name": "follow up 2 parsed"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        -96
      ],
      "id": "8f06ea63-2086-4cf2-82f7-896768e3b172",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        528,
        -96
      ],
      "id": "6523a8b0-72ea-4c35-ab8a-e894f5a0c786",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3952,
        -96
      ],
      "id": "af4cbfbf-a615-41ed-a6a7-2c625600a446",
      "name": "Wait5",
      "webhookId": "5cd39074-95ef-4a57-bb41-e65609196fa1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bec65dd-1726-4dec-8e2e-cc377f0f11fe",
              "leftValue": "={{ $json.website_problem }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "590bc177-66fe-4c2f-8bf9-93dc311c3eb5",
              "leftValue": "={{ $json.recognizable_reason }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a5bcf7de-f194-49da-a2a0-8c5db26f6261",
              "leftValue": "={{ $json.consequence_mechanics }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "74019933-622d-4ad9-91a5-53523b06ffeb",
              "leftValue": "={{ $json.review }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        320,
        -96
      ],
      "id": "5a88cdf5-c63b-4f9f-ac5d-66619f7af2ad",
      "name": "Filter"
    },
    {
      "parameters": {
        "path": "4a5ea893-7f17-4a67-b7be-2912bff72daa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        160
      ],
      "id": "dc2fc88c-1648-44e4-8569-359072eb7cde",
      "name": "Webhook",
      "webhookId": "4a5ea893-7f17-4a67-b7be-2912bff72daa"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_emails",
        "limit": 100
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        -64
      ],
      "id": "f46a4fe0-7c89-450e-a703-8f5df36d55b8",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads_emails",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {},
            {},
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3632,
        -96
      ],
      "id": "cf35380d-b9a8-47fa-8cf2-f3e1dfa9c414",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://apdxwrqulwljzyhrixrv.supabase.co/rest/v1/run_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"stage\": \"Crafting Outreach Email\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -688,
        -64
      ],
      "id": "efb3d6ee-a60c-426b-beb3-891b8e911a2a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe52cde4-0e57-4f8c-9046-3a3ee497b902",
              "leftValue": "={{ $json.business_name.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        -64
      ],
      "id": "fe232a50-929d-47f0-a323-589d31e69635",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://n8n.35.225.222.54.sslip.io/webhook/4a5ea893-7f17-4a67-b7be-2912bff72daa",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.body.run_id }}\",\n  \"stage\": \"done\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        144
      ],
      "id": "445877b5-ed05-40f3-b2e7-8844d2097329",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up 1": {
      "main": [
        [
          {
            "node": "follow up 1 parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up 2": {
      "main": [
        [
          {
            "node": "follow up 2 parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "pitch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Follow Up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Follow Up 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "follow up 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pitch": {
      "main": [
        [
          {
            "node": "pitch parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "follow up 3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pitch parsed": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "follow up 1 parsed": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "follow up 2 parsed": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Get many rows": [
      {
        "json": {
          "id": "5715dbb8-718e-4f9d-a4e9-242d717f44d5",
          "business_name": "Fallow",
          "niche": "restaurant",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-15T16:35:53.561011+00:00",
          "run_id": null,
          "email": "toby@fallowrestaurant.com",
          "first_name": "Toby",
          "last_name": "Labdon",
          "position_raw": "Floor & Wine Supervisor & Product Ambassador",
          "position": "Head Waiter",
          "linkedin": "https://www.linkedin.com/in/toby-labdon-7a0066222",
          "twitter": null,
          "verification_date": null,
          "status": null,
          "seniority": "executive",
          "department": "management"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "de4b66ef-a188-486c-91e3-63f43c1c711c",
          "business_name": "Fallow",
          "niche": "restaurant",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-15T16:35:53.561011+00:00",
          "run_id": null,
          "email": "jack@fallowrestaurant.com",
          "first_name": "Jack",
          "last_name": "Croft",
          "position_raw": "Director",
          "position": "Director",
          "linkedin": "https://www.linkedin.com/in/jack-croft-019a05a4",
          "twitter": null,
          "verification_date": null,
          "status": null,
          "seniority": "executive",
          "department": "management"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "2cc6f5ab-0331-4b33-ab34-bb59ee41f50f",
          "business_name": "Fallow",
          "niche": "restaurant",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-15T16:35:53.561011+00:00",
          "run_id": null,
          "email": "julia@fallowrestaurant.com",
          "first_name": "Julia",
          "last_name": "Gilbert",
          "position_raw": "Managing Director",
          "position": "Managing Director",
          "linkedin": "https://www.linkedin.com/in/julia-gilbert-8474ba1b",
          "twitter": null,
          "verification_date": null,
          "status": null,
          "seniority": "executive",
          "department": "executive"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "56de310a-70d5-4554-b268-29071fc06b1d",
          "business_name": "Fallow",
          "niche": "restaurant",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-15T16:35:53.561011+00:00",
          "run_id": null,
          "email": "nina@fallowrestaurant.com",
          "first_name": "Nina",
          "last_name": "Leith",
          "position_raw": "Head of Marketing & Guest Operations",
          "position": "Director of Marketing",
          "linkedin": "https://www.linkedin.com/in/nina-leith-04235588",
          "twitter": null,
          "verification_date": null,
          "status": null,
          "seniority": "executive",
          "department": "marketing"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "35c254cf-b150-4aba-97fc-87f19d0d2f93",
          "business_name": "Fallow",
          "niche": "restaurant",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "created_at": "2026-06-15T16:35:53.561011+00:00",
          "updated_at": "2026-06-15T16:35:53.561011+00:00",
          "run_id": null,
          "email": "priyance.dabre@fallowrestaurant.com",
          "first_name": "Priyance",
          "last_name": "Dabre",
          "position_raw": "Assistant Head sommelier",
          "position": "Assistant Head Sommelier",
          "linkedin": "https://www.linkedin.com/in/priyance-dabre-937a64172",
          "twitter": null,
          "verification_date": null,
          "status": null,
          "seniority": "executive",
          "department": "management"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "96304b97-f8bc-4269-b907-3de6210e9f64",
  "activeVersionId": "96304b97-f8bc-4269-b907-3de6210e9f64",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-18T16:46:26.988Z",
      "createdAt": "2026-06-18T16:46:26.988Z",
      "role": "workflow:owner",
      "workflowId": "xSP3aCw1qlhEtTit",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-25T16:22:17.000Z",
    "createdAt": "2026-06-24T17:29:16.247Z",
    "versionId": "96304b97-f8bc-4269-b907-3de6210e9f64",
    "workflowId": "xSP3aCw1qlhEtTit",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -944,
          -176
        ],
        "id": "53bd1697-ce6e-4ab0-8798-de415f86952c",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "79e5a160-aef0-40e3-ae8e-e14223ac2017",
                "name": "first_name",
                "value": "={{ $json.first_name }}",
                "type": "string"
              },
              {
                "id": "6c9ba4df-7d71-4231-b6b3-904518d0525b",
                "name": "company_name",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "21c2fdfd-6397-445e-9ace-f28d969be7ce",
                "name": "page",
                "value": "={{ $json.page }}",
                "type": "string"
              },
              {
                "id": "f89187d8-7344-4a06-99b3-fa112ab68ae0",
                "name": "website_problem",
                "value": "={{ $json.website_problem }}",
                "type": "string"
              },
              {
                "id": "fc35eed8-7efe-4c61-aa43-e5dcfe2995c1",
                "name": "recognizable_reason",
                "value": "={{ $json.recognizable_reason }}",
                "type": "string"
              },
              {
                "id": "8f55dfbe-eb3e-4808-8a07-3df27c4ffc07",
                "name": "review",
                "value": "=free prototype",
                "type": "string"
              },
              {
                "id": "fc39c9f4-1d85-4042-ba5b-458302354d7b",
                "name": "asset_exits",
                "value": "=yes",
                "type": "string"
              },
              {
                "id": "03fc7f5c-10bf-4f89-a913-27fc43a0581c",
                "name": "review_time",
                "value": "2 minutes",
                "type": "string"
              },
              {
                "id": "5f0010a9-50f5-4f76-8bf0-b312b9506c1c",
                "name": "micro_yes",
                "value": "Want me to send the free prototype?",
                "type": "string"
              },
              {
                "id": "35dc8333-7aa1-4cc0-8a54-8914c77baa5c",
                "name": "your_name",
                "value": "Senul",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          -96
        ],
        "id": "eb499c1f-5a9f-4f43-80db-b4dc8449273d",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "=You are writing Follow Up 1 for a cold email sequence to a recruitment agency. The pitch has already been sent with no reply.\n\nINPUTS:\n- Client first name: {{ $('Get row(s) in sheet1').first().json.first_name }}\n- Company name: {{ $('Get row(s) in sheet1').first().json.name }}\n- Website: {{ $('Get row(s) in sheet1').first().json.website }}\n- Website problem: {{ $('Get row(s) in sheet1').first().json.website_problem }}\n- Specific issues (pipe-separated): {{ $('Get row(s) in sheet1').first().json.recognizable_reason }}\n- Consequence: {{ $('Get row(s) in sheet1').first().json.consequence_mechanics }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n- Pitch email: {{ $('pitch parsed').first().json.subject }} {{ $('pitch parsed').first().json.body }}\n\nTASK:\nStay on the exact same single issue from the pitch. Do not switch topics, do not introduce a second issue, do not generalise. Sharpen the consequence — show what is actually happening to the business because of this one issue, from a fresh angle that wasn't used in the pitch.\n\nRULES:\n- Do NOT copy or repeat any wording from the pitch\n- Do NOT reference, summarise, or mention \"the pitch\" or any previous email\n- Do NOT say \"just following up\", \"circling back\", \"checking in\", or any line that is about you rather than the visitor\n- Do NOT use corporate filler words: mockup, demo, optimise, streamline, leverage, innovative, solution, enhance, seamlessly, or similar\n- Do NOT use brochure phrases: creates friction, impacts revenue, missed opportunities, poor first impression, or similar\n- Do NOT use hedging words: could, might, may, potentially, possibly, some, many, or similar\n- Never assume where the visitor goes after leaving — just say they leave\n- Subject line must be different to the pitch subject line, and specific to the issue\n- Under 70 words total (body only, not counting subject)\n- Subject line: exactly 3 or 4 words\n- Plain business voice, sound natural and human\n- Structure: one sentence sharpening the consequence of the same issue from a new angle → one sentence on what that means for the business → CTA\n- CTA must use different wording to the pitch CTA — use: \"Want me to send it over?\"\n- Sign off: Best, [sender name]\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
              }
            ]
          },
          "jsonOutput": true,
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1776,
          -96
        ],
        "id": "b107515c-5639-45bc-bcb5-4633a98941fd",
        "name": "Follow Up 1",
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "J1l2ZUht2A09BOqf",
            "name": "ak - gemini api key paid version"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "=You are writing Follow Up 2 for a cold email sequence to a recruitment agency. The pitch and Follow Up 1 have already been sent with no reply.\n\nINPUTS:\n- Client first name: {{ $('Get row(s) in sheet1').first().json.first_name }}\n- Company name: {{ $('Get row(s) in sheet1').first().json.name }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n\nTASK:\nWrite a very short, direct Follow Up 2. No preamble, no context, no reference to previous emails. Just a straight ask.\n\nRULES:\n- Never say \"circling back\", \"following up\", \"just checking in\", \"still no reply\", or any line that is about you\n- Never use the words mockup or demo\n- Under 40 words total (body only, not counting subject)\n- Subject line: exactly 3 or 4 words, specific to the company name or issue, different from the pitch and Follow Up 1 subject lines\n- Sound like a real person sending a quick nudge\n- No corporate or AI-sounding words\n- CTA must use different wording to the pitch and Follow Up 1 CTAs — use: \"Would you like me to send over the prototype for [company name]?\"\n- Sign off: Best, [sender name]\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "maxOutputTokens": 1800
          }
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          2416,
          -96
        ],
        "id": "24566564-403d-4cc8-9051-008d01769b57",
        "name": "Follow Up 2",
        "retryOnFail": true,
        "credentials": {
          "googlePalmApi": {
            "id": "J1l2ZUht2A09BOqf",
            "name": "ak - gemini api key paid version"
          }
        }
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          976,
          -96
        ],
        "id": "bc67795c-dd51-414c-8846-ed283049c15a",
        "name": "Wait",
        "webhookId": "7ab78674-07d8-4c80-9247-c673753dffb5"
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1632,
          -96
        ],
        "id": "288464b6-a4cf-4359-8333-8a7116db06a7",
        "name": "Wait1",
        "webhookId": "89be4df0-9276-4dab-b0f4-0ea2dc81379f"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2256,
          -96
        ],
        "id": "3ffdcdde-a3d1-4bbc-9ced-59713c11ab4f",
        "name": "Wait2",
        "webhookId": "bb087120-16a5-408d-b873-ae0d6cff2cbf"
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2864,
          -96
        ],
        "id": "e9ac41ab-f15c-4a40-8514-25ee69da0176",
        "name": "Wait3",
        "webhookId": "da88bae6-0372-428c-b7ba-06ac61f40ed4"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3424,
          -96
        ],
        "id": "9b20fd4d-6e78-440c-992d-f957c6cfafd7",
        "name": "Wait4",
        "webhookId": "f251f5e2-0fe1-41d4-96b9-1e5125383d21"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1aRf_l4brlJ0DxFF9N1RDtIRBfYu7FdovX03jmGV0eSU",
            "mode": "list",
            "cachedResultName": "Step 5 - Round 2 - Find Issues",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aRf_l4brlJ0DxFF9N1RDtIRBfYu7FdovX03jmGV0eSU/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aRf_l4brlJ0DxFF9N1RDtIRBfYu7FdovX03jmGV0eSU/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
              "pitch": "={{ $('pitch parsed').item.json.body }}",
              "follow up 1 ": "={{ $('follow up 1 parsed').item.json.body }}",
              "follow up 2": "={{ $('follow up 2 parsed').item.json.body }}",
              "follow up 3": "={{ $('Code in JavaScript').item.json.body }}",
              "email created": "true",
              "pitch_subject_line": "={{ $('pitch parsed').item.json.subject }}",
              "follow up 1 subject line": "={{ $('follow up 1 parsed').item.json.subject }}",
              "follow up 2 subject line": "={{ $('follow up 2 parsed').item.json.subject }}",
              "follow up 3 subject line": "={{ $('Code in JavaScript').item.json.subject }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "name",
                "displayName": "name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "place id",
                "displayName": "place id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "nationalPhoneNumber",
                "displayName": "nationalPhoneNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Issue",
                "displayName": "Issue",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "rating",
                "displayName": "rating",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "website",
                "displayName": "website",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "format adrees",
                "displayName": "format adrees",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "google search email",
                "displayName": "google search email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "hunter email",
                "displayName": "hunter email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "twitter",
                "displayName": "twitter",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "last_name",
                "displayName": "last_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "department",
                "displayName": "department",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "job title",
                "displayName": "job title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "verfication",
                "displayName": "verfication",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "linkedn",
                "displayName": "linkedn",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "internationalPhoneNumber",
                "displayName": "internationalPhoneNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "page",
                "displayName": "page",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "website_problem",
                "displayName": "website_problem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "recognizable_reason",
                "displayName": "recognizable_reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "consequence_mechanics",
                "displayName": "consequence_mechanics",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "review",
                "displayName": "review",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "asset_exits",
                "displayName": "asset_exits",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "review_time",
                "displayName": "review_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "micro_yes",
                "displayName": "micro_yes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "subject_lable",
                "displayName": "subject_lable",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pitch_subject_line",
                "displayName": "pitch_subject_line",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "pitch",
                "displayName": "pitch",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "follow up 1 subject line",
                "displayName": "follow up 1 subject line",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "follow up 1 ",
                "displayName": "follow up 1 ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "follow up 2 subject line",
                "displayName": "follow up 2 subject line",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "follow up 2",
                "displayName": "follow up 2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "follow up 3 subject line",
                "displayName": "follow up 3 subject line",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "follow up 3",
                "displayName": "follow up 3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "stop_30",
                "displayName": "stop_30",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "issues",
                "displayName": "issues",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "thread_id",
                "displayName": "thread_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "research_done",
                "displayName": "research_done",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "done",
                "displayName": "done",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "checked_reply",
                "displayName": "checked_reply",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "status ",
                "displayName": "status ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "infor aded",
                "displayName": "infor aded",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "email created",
                "displayName": "email created",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "sent the email to alex",
                "displayName": "sent the email to alex",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Email fixed in word",
                "displayName": "Email fixed in word",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "send the email to the lead",
                "displayName": "send the email to the lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Pitch email sent",
                "displayName": "Pitch email sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Follow up 1 sent",
                "displayName": "Follow up 1 sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Follow up 2 sent",
                "displayName": "Follow up 2 sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Follow up 3 sent",
                "displayName": "Follow up 3 sent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "isuue found",
                "displayName": "isuue found",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3792,
          -96
        ],
        "id": "a003139b-7d48-49f1-a4cd-98913b6349cf",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "XurJbcuuPZn14SYW",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "=You are writing a cold outreach email for a small agency contacting a recruitment agency about a website issue.\n\nINPUTS:\n- Client first name: {{ $('Edit Fields').first().json.first_name }}\n- Company name: {{ $('Edit Fields').first().json.company_name }}\n- Website: {{ $('Edit Fields').first().json.page }}\n- Website problem: {{ $('Get row(s) in sheet1').first().json.website_problem }}\n- Specific issues (pipe-separated): {{ $('Get row(s) in sheet1').first().json.recognizable_reason }}\n- Consequence: {{ $('Get row(s) in sheet1').first().json.consequence_mechanics }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n\nTASK:\nFrom the pipe-separated list in \"specific issues\", pick the single strongest one — the one issue that stops a visitor (usually a candidate looking for a job) from completing one specific action. Write a cold pitch email based on that ONE issue only.\n\nRULES:\n- Pick ONE issue only. Never combine two issues in the same sentence, even if both appear in the input list.\n- Describe exactly what the visitor sees or experiences when they hit the issue — not a vague summary\n- Plain business voice, no marketing tone, no hype\n- Under 70 words total (body only, not counting subject)\n- Subject line: exactly 3 or 4 words, specific to the issue\n- Never use corporate filler words: mockup, demo, optimise, streamline, leverage, innovative, solution, enhance, seamlessly, or similar\n- Never use brochure phrases: creates friction, impacts revenue, missed opportunities, poor first impression, damages trust, or similar\n- Never use hedging words: could, might, may, potentially, possibly, some, many, or similar — state consequences as fact\n- Never assume where the visitor goes after leaving — just say they leave\n- Structure: greeting → one sentence describing exactly what the visitor sees and the one action they can't complete → one sentence on what that costs the business → CTA\n- CTA must be: \"Would you like me to send the prototype I made for you?\"\n- Sign off: Best, [sender name]\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
              }
            ]
          },
          "jsonOutput": true,
          "builtInTools": {},
          "options": {
            "maxOutputTokens": 3000
          }
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1200,
          -96
        ],
        "id": "9f16b074-0ad2-428c-897c-c199c013dc8f",
        "name": "pitch",
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "googlePalmApi": {
            "id": "J1l2ZUht2A09BOqf",
            "name": "ak - gemini api key paid version"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "=You are writing the final follow up email in a cold email sequence to a recruitment agency. This is Follow Up 3 — the last message.\n\nINPUTS:\n- Client first name: {{ $('Get row(s) in sheet1').first().json.first_name }}\n- Sender name: {{ $('Edit Fields').first().json.your_name }}\n\nTASK:\nWrite the final follow up. It must always follow this exact structure — do not change it:\n\n\"Yes or no — want me to send the prototype over?\n\nBest, [sender name]\"\n\nRULES:\n- Use this exact body structure every time, no variations, no \"Last one from me\"\n- The close must force a binary decision — never leave it open-ended\n- Subject line: exactly 3 or 4 words\n- Subject line must NOT say \"Final Follow Up\", \"Last Email\", \"Final Check-in\" or anything that signals you're giving up — use something action-forward like \"Send the prototype over?\"\n- Never use the words mockup or demo\n- No explanation, no context, no reference to the issue\n\nOUTPUT:\nReturn only valid JSON in this exact format, nothing else, no markdown, no explanation:\n{\"subject\": \"...\", \"body\": \"...\"}"
              },
              {}
            ]
          },
          "jsonOutput": true,
          "builtInTools": {},
          "options": {
            "maxOutputTokens": 1600
          }
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          3008,
          -96
        ],
        "id": "4a71c5d0-83bf-457b-829d-e76a5568ee28",
        "name": "follow up 3",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 3000,
        "credentials": {
          "googlePalmApi": {
            "id": "J1l2ZUht2A09BOqf",
            "name": "ak - gemini api key paid version"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          -96
        ],
        "id": "fe7dad9f-f501-4794-81f5-0c25c9ad8d92",
        "name": "pitch parsed"
      },
      {
        "parameters": {
          "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2080,
          -96
        ],
        "id": "faa7aca0-49f5-4cf2-8be9-249be7bc317b",
        "name": "follow up 1 parsed"
      },
      {
        "parameters": {
          "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2704,
          -96
        ],
        "id": "18192e72-ad43-42ba-8027-f9a7a14c65be",
        "name": "follow up 2 parsed"
      },
      {
        "parameters": {
          "jsCode": "const raw = items[0].json.content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    subject: parsed.subject,\n    body: parsed.body\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3280,
          -96
        ],
        "id": "8f06ea63-2086-4cf2-82f7-896768e3b172",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          528,
          -96
        ],
        "id": "6523a8b0-72ea-4c35-ab8a-e894f5a0c786",
        "name": "Limit"
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3952,
          -96
        ],
        "id": "af4cbfbf-a615-41ed-a6a7-2c625600a446",
        "name": "Wait5",
        "webhookId": "5cd39074-95ef-4a57-bb41-e65609196fa1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1bec65dd-1726-4dec-8e2e-cc377f0f11fe",
                "leftValue": "={{ $json.website_problem }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "590bc177-66fe-4c2f-8bf9-93dc311c3eb5",
                "leftValue": "={{ $json.recognizable_reason }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "a5bcf7de-f194-49da-a2a0-8c5db26f6261",
                "leftValue": "={{ $json.consequence_mechanics }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "74019933-622d-4ad9-91a5-53523b06ffeb",
                "leftValue": "={{ $json.review }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          320,
          -96
        ],
        "id": "5a88cdf5-c63b-4f9f-ac5d-66619f7af2ad",
        "name": "Filter"
      },
      {
        "parameters": {
          "path": "4a5ea893-7f17-4a67-b7be-2912bff72daa",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -992,
          160
        ],
        "id": "dc2fc88c-1648-44e4-8569-359072eb7cde",
        "name": "Webhook",
        "webhookId": "4a5ea893-7f17-4a67-b7be-2912bff72daa"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "leads_emails",
          "limit": 100
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -432,
          -64
        ],
        "id": "f46a4fe0-7c89-450e-a703-8f5df36d55b8",
        "name": "Get many rows",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "leads_emails",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Get many rows').first().json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {},
              {},
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3632,
          -96
        ],
        "id": "cf35380d-b9a8-47fa-8cf2-f3e1dfa9c414",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "https://apdxwrqulwljzyhrixrv.supabase.co/rest/v1/run_status",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"stage\": \"Crafting Outreach Email\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -688,
          -64
        ],
        "id": "efb3d6ee-a60c-426b-beb3-891b8e911a2a",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fe52cde4-0e57-4f8c-9046-3a3ee497b902",
                "leftValue": "={{ $json.business_name.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -224,
          -64
        ],
        "id": "fe232a50-929d-47f0-a323-589d31e69635",
        "name": "If"
      },
      {
        "parameters": {
          "url": "https://n8n.35.225.222.54.sslip.io/webhook/4a5ea893-7f17-4a67-b7be-2912bff72daa",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"run_id\": \"{{ $json.body.run_id }}\",\n  \"stage\": \"done\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -16,
          144
        ],
        "id": "445877b5-ed05-40f3-b2e7-8844d2097329",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Follow Up 1": {
        "main": [
          [
            {
              "node": "follow up 1 parsed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Follow Up 2": {
        "main": [
          [
            {
              "node": "follow up 2 parsed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "pitch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Follow Up 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Follow Up 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "follow up 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "Wait5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pitch": {
        "main": [
          [
            {
              "node": "pitch parsed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "follow up 3": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pitch parsed": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "follow up 1 parsed": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "follow up 2 parsed": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait5": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "senul adeeth",
    "name": "Version 96304b97",
    "description": "",
    "autosaved": true
  },
  "tags": []
}