workflows/active/9-qXJD479F0Bpg4Uzs.json
{
  "updatedAt": "2026-06-25T22:44:11.075Z",
  "createdAt": "2026-06-18T15:20:34.438Z",
  "id": "qXJD479F0Bpg4Uzs",
  "name": "9",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -288
      ],
      "id": "c44ab738-81bc-4acc-9bb9-e27629cfc75a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95965a6b-baf5-46c5-852e-a88a4be04d9f",
              "name": "Google_Maps_API",
              "value": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
              "type": "string"
            },
            {
              "id": "e0a9a743-f310-4eea-bfe4-55d5a25effd9",
              "name": "query",
              "value": "={{ $('Webhook').first().json.query.niche }}",
              "type": "string"
            },
            {
              "id": "1c7f4e33-3c43-4c3a-8fd8-b42d168c2fc7",
              "name": "location",
              "value": "={{ $('Webhook').item.json.query.location }}",
              "type": "string"
            },
            {
              "id": "b8da2aea-848e-4b55-912a-e60ff2e01cec",
              "name": "radius",
              "value": "1000",
              "type": "string"
            },
            {
              "id": "f8588993-203f-4fdd-a4d1-e1c32b3fd44b",
              "name": "Spreadsheet_id",
              "value": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
              "type": "string"
            },
            {
              "id": "90c98d91-f6e0-4592-8024-0e5b3066d225",
              "name": "sheet_name",
              "value": "sheet 1",
              "type": "string"
            },
            {
              "id": "33ddb2c0-29b3-4800-a69a-3d9affd9f613",
              "name": "Max_Item",
              "value": 300,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -288
      ],
      "id": "6f722452-1263-4b37-922d-411c9eae0247",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.location }}"
            },
            {
              "name": "key",
              "value": "=AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        -288
      ],
      "id": "6f36c1d3-c3a5-479f-9da7-ae1a4954c0ee",
      "name": "Get cordinetes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query }} {{ $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $('Edit Fields').item.json.radius }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        -288
      ],
      "id": "de313169-9db0-44c4-9318-e07bcb5a8266",
      "name": "Get Places"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        -288
      ],
      "id": "4e358165-938e-4ce7-89fe-01f4a8ef1d88",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "business_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        912,
        -288
      ],
      "id": "efd39cc0-fd27-4227-b653-d81a2635de82",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places').item.json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1136,
        -288
      ],
      "id": "d51332dd-f33d-458e-b440-0fddc57d6eef",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        -288
      ],
      "id": "371b8da8-248e-4cda-a05e-4db861dfceb5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        -80
      ],
      "id": "cf051201-78dd-4d64-a6c6-711eaa069820",
      "name": "Wait",
      "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        672,
        -80
      ],
      "id": "772050f0-e987-4c4f-a5aa-9a47304422e6",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1184,
        -80
      ],
      "id": "228bc47a-7b0a-48a4-b31d-a6b8ee6ade28",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1856,
        -80
      ],
      "id": "53525de6-37f7-42df-870f-17c3b9dc2435",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places1').first().json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2064,
        -80
      ],
      "id": "a1498d80-b2a5-480b-959b-5e25c786aaab",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        -80
      ],
      "id": "6a79eb25-e287-442d-ad08-79ced640fd40",
      "name": "Get Places1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -80
      ],
      "id": "e7f15ce9-ae38-43e4-b14d-ce1b05b0c52d",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        144
      ],
      "id": "8b60d787-4332-4525-b882-91912ededd35",
      "name": "Wait1",
      "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        784,
        144
      ],
      "id": "e4e5b4cc-da9c-4b94-bf76-cee1984c27af",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1184,
        144
      ],
      "id": "2e8d412a-6355-478f-b9d0-97cc9c9fe7e1",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        144
      ],
      "id": "e2eb609f-456a-4ea8-bec4-5f17a1685c5c",
      "name": "Get Places2"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $json.displayName.text }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Edit Fields').item.json.query }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Edit Fields').item.json.location }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.formattedAddress }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.nationalPhoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.websiteUri }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        -288
      ],
      "id": "b0441312-917c-4dd0-9900-e32b6d71dbeb",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $json.displayName.text }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Edit Fields').item.json.query }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Edit Fields').item.json.location }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.formattedAddress }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.nationalPhoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.websiteUri }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1616,
        -80
      ],
      "id": "4b1ba1c1-4994-4418-a48d-0b6410c08c66",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $json.displayName.text }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Edit Fields').item.json.query }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Edit Fields').item.json.location }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.formattedAddress }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.nationalPhoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.websiteUri }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        144
      ],
      "id": "1c169cd1-6bf1-4c2d-aeb6-673dbd64cd22",
      "name": "Create a row4",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "aa258b23-0b4e-48d7-aab9-de7f3d20538e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        -16
      ],
      "id": "b80fd16d-4c79-4d3e-8b2c-934549009e19",
      "name": "Webhook",
      "webhookId": "aa258b23-0b4e-48d7-aab9-de7f3d20538e"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1808,
        144
      ],
      "id": "acfaa9bc-621b-4ddc-9c10-9895e23d46b4",
      "name": "Wait2",
      "webhookId": "5d69b4f2-5e24-4bce-b6d8-59b69bc2aaa3"
    },
    {
      "parameters": {
        "url": "https://n8n.35.225.222.54.sslip.io/webhook-test/77e4adf5-cd8f-4ef5-9862-18770879dbe6",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"run_id\": \"{{ $('Webhook').item.json.query.run_id }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        144
      ],
      "id": "126885b6-90af-4fce-a1c2-292a3250d787",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://apdxwrqulwljzyhrixrv.supabase.co/rest/v1/run_status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{ $json.query.run_id }}\",\n  \"stage\": \"Discovering Leads\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        -288
      ],
      "id": "dd002bc0-ae8b-48ee-adb3-474be5ae3c40",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1392,
        -80
      ],
      "id": "8463c10c-363d-464d-9c42-4dc749cb0a5a",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1392,
        144
      ],
      "id": "eda23755-9d0e-4d4d-be62-a26fa2f63acc",
      "name": "Limit1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get cordinetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get cordinetes": {
      "main": [
        [
          {
            "node": "Get Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Get Places1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Get Places2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Create a row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.35.225.222.54.sslip.io",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "priority": "u=1, i",
            "referer": "http://localhost:5500/",
            "sec-ch-ua": "\"Google Chrome\";v=\"149\", \"Chromium\";v=\"149\", \"Not)A;Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "no-cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "109.150.29.238",
            "x-forwarded-host": "n8n.35.225.222.54.sslip.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4c5ca81a9b1e",
            "x-real-ip": "109.150.29.238"
          },
          "params": {},
          "query": {
            "run_id": "fd12cc31-2aa4-4876-aaf4-4b52c86dae66",
            "niche": "resturents",
            "location": "london"
          },
          "body": {},
          "webhookUrl": "https://n8n.35.225.222.54.sslip.io/webhook-test/aa258b23-0b4e-48d7-aab9-de7f3d20538e",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {},
        "pairedItem": [
          {
            "item": 0,
            "input": 0
          }
        ]
      }
    ],
    "Get cordinetes": [
      {
        "json": {
          "results": [
            {
              "address_components": [
                {
                  "long_name": "London",
                  "short_name": "London",
                  "types": [
                    "locality",
                    "political"
                  ]
                },
                {
                  "long_name": "London",
                  "short_name": "London",
                  "types": [
                    "postal_town"
                  ]
                },
                {
                  "long_name": "Greater London",
                  "short_name": "Greater London",
                  "types": [
                    "administrative_area_level_2",
                    "political"
                  ]
                },
                {
                  "long_name": "England",
                  "short_name": "England",
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ]
                },
                {
                  "long_name": "United Kingdom",
                  "short_name": "GB",
                  "types": [
                    "country",
                    "political"
                  ]
                }
              ],
              "formatted_address": "London, UK",
              "geometry": {
                "bounds": {
                  "northeast": {
                    "lat": 51.6723432,
                    "lng": 0.148271
                  },
                  "southwest": {
                    "lat": 51.38494009999999,
                    "lng": -0.3514683
                  }
                },
                "location": {
                  "lat": 51.5072178,
                  "lng": -0.1275862
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                  "northeast": {
                    "lat": 51.8822255,
                    "lng": 0.148271
                  },
                  "southwest": {
                    "lat": 51.38494009999999,
                    "lng": -0.4149317
                  }
                }
              },
              "place_id": "ChIJdd4hrwug2EcRmSrV3Vo6llI",
              "types": [
                "locality",
                "political"
              ]
            }
          ],
          "status": "OK"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "Google_Maps_API": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
          "query": "resturents",
          "location": "london",
          "radius": "1000",
          "Spreadsheet_id": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
          "sheet_name": "sheet 1",
          "Max_Item": 300
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Places": [
      {
        "json": {
          "places": [
            {
              "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
              "nationalPhoneNumber": "020 8017 1788",
              "internationalPhoneNumber": "+44 20 8017 1788",
              "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
              "rating": 4.7,
              "websiteUri": "http://www.fallowrestaurant.com/",
              "displayName": {
                "text": "Fallow"
              }
            },
            {
              "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
              "nationalPhoneNumber": "020 3778 1985",
              "internationalPhoneNumber": "+44 20 3778 1985",
              "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
              "rating": 4.7,
              "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
              "displayName": {
                "text": "Tattu London"
              }
            },
            {
              "id": "ChIJOTAQhtMEdkgR9ZmC_mZR0UM",
              "nationalPhoneNumber": "020 3441 6996",
              "internationalPhoneNumber": "+44 20 3441 6996",
              "formattedAddress": "24 Great Windmill St, London W1D 7LG, UK",
              "rating": 4.7,
              "websiteUri": "https://theblacklock.com/restaurants/blacklock-soho/?utm_source=SOHO_GMB&utm_medium=GMB&utm_campaign=SOHO_RES&utm_id=SOHO_GMB",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Blacklock Soho"
              }
            },
            {
              "id": "ChIJ818U8tkFdkgRpinGgNP16Ok",
              "nationalPhoneNumber": "020 8079 7467",
              "internationalPhoneNumber": "+44 20 8079 7467",
              "formattedAddress": "James court, 14 Greek St, London W1D 4DP, UK",
              "rating": 4.6,
              "websiteUri": "https://kapara.co.uk/?utm_campaign=SDM&utm_id=GMB&utm_medium=website+click&utm_source=GMB",
              "displayName": {
                "text": "Kapara Restaurant Soho"
              }
            },
            {
              "id": "ChIJq1kmUvcFdkgRd82Qpn-aSbw",
              "nationalPhoneNumber": "020 8057 6500",
              "internationalPhoneNumber": "+44 20 8057 6500",
              "formattedAddress": "13-15 West St, London WC2H 9NE, UK",
              "rating": 4.4,
              "websiteUri": "https://thehouseoflouie.com/",
              "displayName": {
                "text": "Louie"
              }
            },
            {
              "id": "ChIJjwnAQLUFdkgR34dn7CgORp4",
              "nationalPhoneNumber": "020 7451 0156",
              "internationalPhoneNumber": "+44 20 7451 0156",
              "formattedAddress": "38 Leicester Square, London WC2H 7DX, UK",
              "rating": 4.7,
              "websiteUri": "https://www.thelondoner.com/restaurants-bars/8-at-the-londoner?utm_source=Yext&utm_medium=Organic&utm_campaign=8",
              "displayName": {
                "text": "8 at The Londoner"
              }
            },
            {
              "id": "ChIJd_2m9pwFdkgRZNJ9puiVc_Q",
              "nationalPhoneNumber": "020 3963 5949",
              "internationalPhoneNumber": "+44 20 3963 5949",
              "formattedAddress": "The OWO, 7 Horse Guards Ave, London SW1A 2EU, UK",
              "rating": 4.5,
              "websiteUri": "https://www.papermoonrestaurants.com/paper-moon-london.html",
              "displayName": {
                "text": "Paper Moon Restaurant, London"
              }
            },
            {
              "id": "ChIJbboco0AFdkgRoeT-frDrj0M",
              "nationalPhoneNumber": "020 3828 2487",
              "internationalPhoneNumber": "+44 20 3828 2487",
              "formattedAddress": "4 Suffolk Pl, London SW1Y 4HX, UK",
              "rating": 4.5,
              "websiteUri": "https://www.bardostjames.com/",
              "displayName": {
                "text": "Bardo St James's"
              }
            },
            {
              "id": "ChIJZzLmQYoFdkgRf2kJmh4FwkA",
              "nationalPhoneNumber": "020 7836 8883",
              "internationalPhoneNumber": "+44 20 7836 8883",
              "formattedAddress": "6 Maiden Ln, London WC2E 7NA, UK",
              "rating": 4.8,
              "websiteUri": "https://www.fattpundit.co.uk/covent-garden/",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Fatt Pundit"
              }
            },
            {
              "id": "ChIJyeTsrLoFdkgRdsewS8ne0fQ",
              "nationalPhoneNumber": "020 3034 1394",
              "internationalPhoneNumber": "+44 20 3034 1394",
              "formattedAddress": "16a Bedford St, London WC2E 9HE, UK",
              "rating": 4.7,
              "websiteUri": "https://theblacklock.com/coventgarden-reservations/?utm_source=GMB&utm_medium=website+click&utm_campaign=SDM&utm_id=GMB",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Blacklock Covent Garden"
              }
            },
            {
              "id": "ChIJL-HmB88EdkgRfH-wI_8ELLQ",
              "nationalPhoneNumber": "020 7925 4749",
              "internationalPhoneNumber": "+44 20 7925 4749",
              "formattedAddress": "3-5 Great Scotland Yard, London SW1A 2HN, UK",
              "rating": 4.8,
              "websiteUri": "https://www.ekstedtattheyard.com/",
              "displayName": {
                "text": "Ekstedt at The Yard"
              }
            },
            {
              "id": "ChIJ1ylEM6UFdkgRYN5ttKqoPVc",
              "nationalPhoneNumber": "020 3053 1551",
              "internationalPhoneNumber": "+44 20 3053 1551",
              "formattedAddress": "36 Monmouth St, London WC2H 9HA, UK",
              "rating": 4.8,
              "websiteUri": "https://www.eatcrudo.com/",
              "displayName": {
                "text": "Crudo Covent Garden"
              }
            },
            {
              "id": "ChIJ_aG9xo4FdkgRfibauonvBkY",
              "nationalPhoneNumber": "020 3149 1016",
              "internationalPhoneNumber": "+44 20 3149 1016",
              "formattedAddress": "10 Upper St Martin's Ln, London WC2H 9FB, UK",
              "rating": 4.6,
              "websiteUri": "http://www.oleasocial.co.uk/",
              "displayName": {
                "text": "Olea Social"
              }
            },
            {
              "id": "ChIJ4aEfSVcFdkgRmCiF94UmtIg",
              "nationalPhoneNumber": "020 8559 1155",
              "internationalPhoneNumber": "+44 20 8559 1155",
              "formattedAddress": "67-69 Piccadilly, London W1J 0HJ, UK",
              "rating": 4.5,
              "websiteUri": "https://sheeshrestaurant.co.uk/booking/?utm_source=Google&utm_medium=Organic&utm_campaign=GBP-Listing-Mayfair",
              "displayName": {
                "text": "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub"
              }
            },
            {
              "id": "ChIJlciW4jsFdkgRvV8ezEeIcB8",
              "nationalPhoneNumber": "020 8016 6800",
              "internationalPhoneNumber": "+44 20 8016 6800",
              "formattedAddress": "40, 42 William IV St, London WC2N 4DD, UK",
              "rating": 4.8,
              "websiteUri": "https://colonelsaab.co.uk/",
              "displayName": {
                "text": "Colonel Saab Trafalgar Square"
              }
            },
            {
              "id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
              "nationalPhoneNumber": "020 3011 5900",
              "internationalPhoneNumber": "+44 20 3011 5900",
              "formattedAddress": "42 Albemarle St, London W1S 4JH, UK",
              "rating": 4.4,
              "websiteUri": "http://www.gymkhanarestaurants.com/",
              "priceLevel": "PRICE_LEVEL_VERY_EXPENSIVE",
              "displayName": {
                "text": "Gymkhana"
              }
            },
            {
              "id": "ChIJZf2Jlc4EdkgRv83xDpKQfHA",
              "nationalPhoneNumber": "020 3910 9777",
              "internationalPhoneNumber": "+44 20 3910 9777",
              "formattedAddress": "31-32 Northumberland Ave, London WC2N 5BW, UK",
              "rating": 4.5,
              "websiteUri": "https://www.prezzo.co.uk/restaurants/london-northumberland-avenue/",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Prezzo"
              }
            },
            {
              "id": "ChIJl5tPHtQEdkgRW15WLM9-Ef0",
              "nationalPhoneNumber": "020 7406 3980",
              "internationalPhoneNumber": "+44 20 7406 3980",
              "formattedAddress": "5A Air St, London W1J 0AD, UK",
              "rating": 4.5,
              "websiteUri": "https://thehawksmoor.com/locations/airstreet/?y_source=1_MjQyMjUwMzYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "Hawksmoor Air Street"
              }
            },
            {
              "id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
              "nationalPhoneNumber": "020 7499 6996",
              "internationalPhoneNumber": "+44 20 7499 6996",
              "formattedAddress": "160 Piccadilly, London W1J 9EB, UK",
              "rating": 4.4,
              "websiteUri": "https://www.thewolseleypiccadilly.com/",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "The Wolseley Piccadilly"
              }
            },
            {
              "id": "ChIJqxBXczEFdkgRd3A_V5gBgnA",
              "nationalPhoneNumber": "020 3725 0616",
              "internationalPhoneNumber": "+44 20 3725 0616",
              "formattedAddress": "Unit 4, 5 Coventry St, London W1D 7DH, UK",
              "rating": 4.8,
              "websiteUri": "https://www.superhiinternational.com/",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Haidilao Hot Pot London Piccadilly"
              }
            }
          ],
          "nextPageToken": "AaVGc3kUAa1wGM5zEtTbz4YCdus8nd59twr-LqAOkaUAk7K-sLbkkXcaciHQip65Xqwiz7JsCrN0VszNBQhAo3mk6w6fKrzdPYTzCjic6jVBaVidoNXAscS4twJI2OvGckxgXvPgkWE2Gz7xQA3V9prS6MdNo01BdWOz3i2CSkSCTVnG1EVJqe_jes6nu9eb30JFvktIdSNIrqiHrhj82XUjXm6sluRGnqGdPcw49x00bPUYHIMrZcrQJVI6iJUM42jEkv2v5Hsc_OfX1ngTIvNEmw6ysqPwJ12-YP-f9aPI9FoXYMIxCWKO6HJSqj149DdCDlVGCcUa9amFnZPNjW2ULNisz1NW__yj6hsyqZs3EJ3JWo0jq9Y_iWS_LjdX9acNaMlhpRN2TXlFlDT40T3uFKAxe6G2Ehmi-wLeOZhDs0GPbet76Qdb987vtY6aRfNzjZduxp2zH2Wj1rSVJlaOsUFhyTHiDi72bRUpyQ7KlPICDJvtHF7WnWqMcKCm6p3RaUka5ekjjnYgoKYL2HFmvmk14B7oodJd8akOzc69gdGBm7aYaOXjTJb9ZzUXtVsmi4ypyXyYrTEVKgN-nUGI26D-JtHlXQgTAE3l2LlJ-NUys7umq3hFqwdv-ncf1xOD5h1vkUSfoAfk7kszE0-3fqUeI5PzBtzSuPVZVy4OOHFjbDJC8s15PeRX-3QXLZwy2sNG1BTrl7MNIzf65Ymg26ul9TqEA8a7RnyGMf55z44TpU-_W9PGVxaEuLz31K9ok9XF5UnPn5OWusljGMSZ0nz83Sox4nl3OSQ2DPVlB5nO_60h8h2nO7-6Yneh6C_LRXOVz4XwQkI"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "nationalPhoneNumber": "020 8017 1788",
          "internationalPhoneNumber": "+44 20 8017 1788",
          "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
          "rating": 4.7,
          "websiteUri": "http://www.fallowrestaurant.com/",
          "displayName": {
            "text": "Fallow"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "nationalPhoneNumber": "020 3778 1985",
          "internationalPhoneNumber": "+44 20 3778 1985",
          "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "rating": 4.7,
          "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
          "displayName": {
            "text": "Tattu London"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJOTAQhtMEdkgR9ZmC_mZR0UM",
          "nationalPhoneNumber": "020 3441 6996",
          "internationalPhoneNumber": "+44 20 3441 6996",
          "formattedAddress": "24 Great Windmill St, London W1D 7LG, UK",
          "rating": 4.7,
          "websiteUri": "https://theblacklock.com/restaurants/blacklock-soho/?utm_source=SOHO_GMB&utm_medium=GMB&utm_campaign=SOHO_RES&utm_id=SOHO_GMB",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Blacklock Soho"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ818U8tkFdkgRpinGgNP16Ok",
          "nationalPhoneNumber": "020 8079 7467",
          "internationalPhoneNumber": "+44 20 8079 7467",
          "formattedAddress": "James court, 14 Greek St, London W1D 4DP, UK",
          "rating": 4.6,
          "websiteUri": "https://kapara.co.uk/?utm_campaign=SDM&utm_id=GMB&utm_medium=website+click&utm_source=GMB",
          "displayName": {
            "text": "Kapara Restaurant Soho"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJq1kmUvcFdkgRd82Qpn-aSbw",
          "nationalPhoneNumber": "020 8057 6500",
          "internationalPhoneNumber": "+44 20 8057 6500",
          "formattedAddress": "13-15 West St, London WC2H 9NE, UK",
          "rating": 4.4,
          "websiteUri": "https://thehouseoflouie.com/",
          "displayName": {
            "text": "Louie"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJjwnAQLUFdkgR34dn7CgORp4",
          "nationalPhoneNumber": "020 7451 0156",
          "internationalPhoneNumber": "+44 20 7451 0156",
          "formattedAddress": "38 Leicester Square, London WC2H 7DX, UK",
          "rating": 4.7,
          "websiteUri": "https://www.thelondoner.com/restaurants-bars/8-at-the-londoner?utm_source=Yext&utm_medium=Organic&utm_campaign=8",
          "displayName": {
            "text": "8 at The Londoner"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJd_2m9pwFdkgRZNJ9puiVc_Q",
          "nationalPhoneNumber": "020 3963 5949",
          "internationalPhoneNumber": "+44 20 3963 5949",
          "formattedAddress": "The OWO, 7 Horse Guards Ave, London SW1A 2EU, UK",
          "rating": 4.5,
          "websiteUri": "https://www.papermoonrestaurants.com/paper-moon-london.html",
          "displayName": {
            "text": "Paper Moon Restaurant, London"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJbboco0AFdkgRoeT-frDrj0M",
          "nationalPhoneNumber": "020 3828 2487",
          "internationalPhoneNumber": "+44 20 3828 2487",
          "formattedAddress": "4 Suffolk Pl, London SW1Y 4HX, UK",
          "rating": 4.5,
          "websiteUri": "https://www.bardostjames.com/",
          "displayName": {
            "text": "Bardo St James's"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJZzLmQYoFdkgRf2kJmh4FwkA",
          "nationalPhoneNumber": "020 7836 8883",
          "internationalPhoneNumber": "+44 20 7836 8883",
          "formattedAddress": "6 Maiden Ln, London WC2E 7NA, UK",
          "rating": 4.8,
          "websiteUri": "https://www.fattpundit.co.uk/covent-garden/",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Fatt Pundit"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJyeTsrLoFdkgRdsewS8ne0fQ",
          "nationalPhoneNumber": "020 3034 1394",
          "internationalPhoneNumber": "+44 20 3034 1394",
          "formattedAddress": "16a Bedford St, London WC2E 9HE, UK",
          "rating": 4.7,
          "websiteUri": "https://theblacklock.com/coventgarden-reservations/?utm_source=GMB&utm_medium=website+click&utm_campaign=SDM&utm_id=GMB",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Blacklock Covent Garden"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJL-HmB88EdkgRfH-wI_8ELLQ",
          "nationalPhoneNumber": "020 7925 4749",
          "internationalPhoneNumber": "+44 20 7925 4749",
          "formattedAddress": "3-5 Great Scotland Yard, London SW1A 2HN, UK",
          "rating": 4.8,
          "websiteUri": "https://www.ekstedtattheyard.com/",
          "displayName": {
            "text": "Ekstedt at The Yard"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ1ylEM6UFdkgRYN5ttKqoPVc",
          "nationalPhoneNumber": "020 3053 1551",
          "internationalPhoneNumber": "+44 20 3053 1551",
          "formattedAddress": "36 Monmouth St, London WC2H 9HA, UK",
          "rating": 4.8,
          "websiteUri": "https://www.eatcrudo.com/",
          "displayName": {
            "text": "Crudo Covent Garden"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ_aG9xo4FdkgRfibauonvBkY",
          "nationalPhoneNumber": "020 3149 1016",
          "internationalPhoneNumber": "+44 20 3149 1016",
          "formattedAddress": "10 Upper St Martin's Ln, London WC2H 9FB, UK",
          "rating": 4.6,
          "websiteUri": "http://www.oleasocial.co.uk/",
          "displayName": {
            "text": "Olea Social"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ4aEfSVcFdkgRmCiF94UmtIg",
          "nationalPhoneNumber": "020 8559 1155",
          "internationalPhoneNumber": "+44 20 8559 1155",
          "formattedAddress": "67-69 Piccadilly, London W1J 0HJ, UK",
          "rating": 4.5,
          "websiteUri": "https://sheeshrestaurant.co.uk/booking/?utm_source=Google&utm_medium=Organic&utm_campaign=GBP-Listing-Mayfair",
          "displayName": {
            "text": "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJlciW4jsFdkgRvV8ezEeIcB8",
          "nationalPhoneNumber": "020 8016 6800",
          "internationalPhoneNumber": "+44 20 8016 6800",
          "formattedAddress": "40, 42 William IV St, London WC2N 4DD, UK",
          "rating": 4.8,
          "websiteUri": "https://colonelsaab.co.uk/",
          "displayName": {
            "text": "Colonel Saab Trafalgar Square"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "nationalPhoneNumber": "020 3011 5900",
          "internationalPhoneNumber": "+44 20 3011 5900",
          "formattedAddress": "42 Albemarle St, London W1S 4JH, UK",
          "rating": 4.4,
          "websiteUri": "http://www.gymkhanarestaurants.com/",
          "priceLevel": "PRICE_LEVEL_VERY_EXPENSIVE",
          "displayName": {
            "text": "Gymkhana"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJZf2Jlc4EdkgRv83xDpKQfHA",
          "nationalPhoneNumber": "020 3910 9777",
          "internationalPhoneNumber": "+44 20 3910 9777",
          "formattedAddress": "31-32 Northumberland Ave, London WC2N 5BW, UK",
          "rating": 4.5,
          "websiteUri": "https://www.prezzo.co.uk/restaurants/london-northumberland-avenue/",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Prezzo"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJl5tPHtQEdkgRW15WLM9-Ef0",
          "nationalPhoneNumber": "020 7406 3980",
          "internationalPhoneNumber": "+44 20 7406 3980",
          "formattedAddress": "5A Air St, London W1J 0AD, UK",
          "rating": 4.5,
          "websiteUri": "https://thehawksmoor.com/locations/airstreet/?y_source=1_MjQyMjUwMzYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "Hawksmoor Air Street"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "nationalPhoneNumber": "020 7499 6996",
          "internationalPhoneNumber": "+44 20 7499 6996",
          "formattedAddress": "160 Piccadilly, London W1J 9EB, UK",
          "rating": 4.4,
          "websiteUri": "https://www.thewolseleypiccadilly.com/",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "The Wolseley Piccadilly"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJqxBXczEFdkgRd3A_V5gBgnA",
          "nationalPhoneNumber": "020 3725 0616",
          "internationalPhoneNumber": "+44 20 3725 0616",
          "formattedAddress": "Unit 4, 5 Coventry St, London W1D 7DH, UK",
          "rating": 4.8,
          "websiteUri": "https://www.superhiinternational.com/",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Haidilao Hot Pot London Piccadilly"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create a row": [
      {
        "json": {
          "id": "59e7ffb7-1061-47c0-902a-718f26f7c01a",
          "business_name": "Fallow",
          "niche": "resturents",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "0524e7c3-ae84-47d3-b001-fd6c83201672",
          "business_name": "Tattu London",
          "niche": "resturents",
          "location": "london",
          "address": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "phone": "020 3778 1985",
          "website": "https://tattu.co.uk/locations/tattu-london/",
          "google_place_id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "329d9007-74c2-4579-8465-a814e99101ae",
          "business_name": "Blacklock Soho",
          "niche": "resturents",
          "location": "london",
          "address": "24 Great Windmill St, London W1D 7LG, UK",
          "phone": "020 3441 6996",
          "website": "https://theblacklock.com/restaurants/blacklock-soho/?utm_source=SOHO_GMB&utm_medium=GMB&utm_campaign=SOHO_RES&utm_id=SOHO_GMB",
          "google_place_id": "ChIJOTAQhtMEdkgR9ZmC_mZR0UM",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "4cb63f5f-7eec-4787-9188-5c05956c9275",
          "business_name": "Kapara Restaurant Soho",
          "niche": "resturents",
          "location": "london",
          "address": "James court, 14 Greek St, London W1D 4DP, UK",
          "phone": "020 8079 7467",
          "website": "https://kapara.co.uk/?utm_campaign=SDM&utm_id=GMB&utm_medium=website+click&utm_source=GMB",
          "google_place_id": "ChIJ818U8tkFdkgRpinGgNP16Ok",
          "rating": 4.6,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "ff4f9b33-2e51-427d-a677-3614c4e8e8cc",
          "business_name": "Louie",
          "niche": "resturents",
          "location": "london",
          "address": "13-15 West St, London WC2H 9NE, UK",
          "phone": "020 8057 6500",
          "website": "https://thehouseoflouie.com/",
          "google_place_id": "ChIJq1kmUvcFdkgRd82Qpn-aSbw",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "id": "3bb01ab7-1fc1-4ebf-998e-83033c3e0650",
          "business_name": "8 at The Londoner",
          "niche": "resturents",
          "location": "london",
          "address": "38 Leicester Square, London WC2H 7DX, UK",
          "phone": "020 7451 0156",
          "website": "https://www.thelondoner.com/restaurants-bars/8-at-the-londoner?utm_source=Yext&utm_medium=Organic&utm_campaign=8",
          "google_place_id": "ChIJjwnAQLUFdkgR34dn7CgORp4",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "id": "0f4be303-198c-47ff-b984-56e19a954ea9",
          "business_name": "Paper Moon Restaurant, London",
          "niche": "resturents",
          "location": "london",
          "address": "The OWO, 7 Horse Guards Ave, London SW1A 2EU, UK",
          "phone": "020 3963 5949",
          "website": "https://www.papermoonrestaurants.com/paper-moon-london.html",
          "google_place_id": "ChIJd_2m9pwFdkgRZNJ9puiVc_Q",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "id": "6b699c55-730b-4f3a-8406-1310ce13ab00",
          "business_name": "Bardo St James's",
          "niche": "resturents",
          "location": "london",
          "address": "4 Suffolk Pl, London SW1Y 4HX, UK",
          "phone": "020 3828 2487",
          "website": "https://www.bardostjames.com/",
          "google_place_id": "ChIJbboco0AFdkgRoeT-frDrj0M",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "id": "7c6db45f-f898-4f45-9ce7-599be488598b",
          "business_name": "Fatt Pundit",
          "niche": "resturents",
          "location": "london",
          "address": "6 Maiden Ln, London WC2E 7NA, UK",
          "phone": "020 7836 8883",
          "website": "https://www.fattpundit.co.uk/covent-garden/",
          "google_place_id": "ChIJZzLmQYoFdkgRf2kJmh4FwkA",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "id": "980ecc1c-2ce6-4c17-9dce-96cc6f188461",
          "business_name": "Blacklock Covent Garden",
          "niche": "resturents",
          "location": "london",
          "address": "16a Bedford St, London WC2E 9HE, UK",
          "phone": "020 3034 1394",
          "website": "https://theblacklock.com/coventgarden-reservations/?utm_source=GMB&utm_medium=website+click&utm_campaign=SDM&utm_id=GMB",
          "google_place_id": "ChIJyeTsrLoFdkgRdsewS8ne0fQ",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "id": "89a43dee-281d-431e-a610-557538cbe65f",
          "business_name": "Ekstedt at The Yard",
          "niche": "resturents",
          "location": "london",
          "address": "3-5 Great Scotland Yard, London SW1A 2HN, UK",
          "phone": "020 7925 4749",
          "website": "https://www.ekstedtattheyard.com/",
          "google_place_id": "ChIJL-HmB88EdkgRfH-wI_8ELLQ",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "id": "f38373bd-362a-420d-97be-213dcc48f3ca",
          "business_name": "Crudo Covent Garden",
          "niche": "resturents",
          "location": "london",
          "address": "36 Monmouth St, London WC2H 9HA, UK",
          "phone": "020 3053 1551",
          "website": "https://www.eatcrudo.com/",
          "google_place_id": "ChIJ1ylEM6UFdkgRYN5ttKqoPVc",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "id": "3b1dc57b-dfc6-431d-858e-89e594994f42",
          "business_name": "Olea Social",
          "niche": "resturents",
          "location": "london",
          "address": "10 Upper St Martin's Ln, London WC2H 9FB, UK",
          "phone": "020 3149 1016",
          "website": "http://www.oleasocial.co.uk/",
          "google_place_id": "ChIJ_aG9xo4FdkgRfibauonvBkY",
          "rating": 4.6,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "id": "29753e5f-4d9c-45af-92c3-0236994079a1",
          "business_name": "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub",
          "niche": "resturents",
          "location": "london",
          "address": "67-69 Piccadilly, London W1J 0HJ, UK",
          "phone": "020 8559 1155",
          "website": "https://sheeshrestaurant.co.uk/booking/?utm_source=Google&utm_medium=Organic&utm_campaign=GBP-Listing-Mayfair",
          "google_place_id": "ChIJ4aEfSVcFdkgRmCiF94UmtIg",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "id": "e28b2608-b1ad-40cc-bb10-9e420c8e0b10",
          "business_name": "Colonel Saab Trafalgar Square",
          "niche": "resturents",
          "location": "london",
          "address": "40, 42 William IV St, London WC2N 4DD, UK",
          "phone": "020 8016 6800",
          "website": "https://colonelsaab.co.uk/",
          "google_place_id": "ChIJlciW4jsFdkgRvV8ezEeIcB8",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "id": "24feaaef-fb79-43ac-b61b-dc52991eb538",
          "business_name": "Gymkhana",
          "niche": "resturents",
          "location": "london",
          "address": "42 Albemarle St, London W1S 4JH, UK",
          "phone": "020 3011 5900",
          "website": "http://www.gymkhanarestaurants.com/",
          "google_place_id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "id": "ce18f215-1d5a-4492-ab23-99b367c79af3",
          "business_name": "Prezzo",
          "niche": "resturents",
          "location": "london",
          "address": "31-32 Northumberland Ave, London WC2N 5BW, UK",
          "phone": "020 3910 9777",
          "website": "https://www.prezzo.co.uk/restaurants/london-northumberland-avenue/",
          "google_place_id": "ChIJZf2Jlc4EdkgRv83xDpKQfHA",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "id": "b74a19e0-fb87-4bcf-aebe-0ca4384fc102",
          "business_name": "Hawksmoor Air Street",
          "niche": "resturents",
          "location": "london",
          "address": "5A Air St, London W1J 0AD, UK",
          "phone": "020 7406 3980",
          "website": "https://thehawksmoor.com/locations/airstreet/?y_source=1_MjQyMjUwMzYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D",
          "google_place_id": "ChIJl5tPHtQEdkgRW15WLM9-Ef0",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "id": "c193cabd-9f5b-4c60-aea5-2cd48a13447d",
          "business_name": "The Wolseley Piccadilly",
          "niche": "resturents",
          "location": "london",
          "address": "160 Piccadilly, London W1J 9EB, UK",
          "phone": "020 7499 6996",
          "website": "https://www.thewolseleypiccadilly.com/",
          "google_place_id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "rating": 4.4,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "id": "2fa7c8d8-a431-499d-b4f8-b4335ec1e17f",
          "business_name": "Haidilao Hot Pot London Piccadilly",
          "niche": "resturents",
          "location": "london",
          "address": "Unit 4, 5 Coventry St, London W1D 7DH, UK",
          "phone": "020 3725 0616",
          "website": "https://www.superhiinternational.com/",
          "google_place_id": "ChIJqxBXczEFdkgRd3A_V5gBgnA",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:40:56.574672+00:00",
          "updated_at": "2026-06-25T22:40:56.574672+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 19
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "business_name": [
            "Fallow",
            "Tattu London",
            "Blacklock Soho",
            "Kapara Restaurant Soho",
            "Louie",
            "8 at The Londoner",
            "Paper Moon Restaurant, London",
            "Bardo St James's",
            "Fatt Pundit",
            "Blacklock Covent Garden",
            "Ekstedt at The Yard",
            "Crudo Covent Garden",
            "Olea Social",
            "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub",
            "Colonel Saab Trafalgar Square",
            "Gymkhana",
            "Prezzo",
            "Hawksmoor Air Street",
            "The Wolseley Piccadilly",
            "Haidilao Hot Pot London Piccadilly"
          ]
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          },
          {
            "item": 2
          },
          {
            "item": 3
          },
          {
            "item": 4
          },
          {
            "item": 5
          },
          {
            "item": 6
          },
          {
            "item": 7
          },
          {
            "item": 8
          },
          {
            "item": 9
          },
          {
            "item": 10
          },
          {
            "item": 11
          },
          {
            "item": 12
          },
          {
            "item": 13
          },
          {
            "item": 14
          },
          {
            "item": 15
          },
          {
            "item": 16
          },
          {
            "item": 17
          },
          {
            "item": 18
          },
          {
            "item": 19
          }
        ]
      }
    ],
    "Insert row": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kUAa1wGM5zEtTbz4YCdus8nd59twr-LqAOkaUAk7K-sLbkkXcaciHQip65Xqwiz7JsCrN0VszNBQhAo3mk6w6fKrzdPYTzCjic6jVBaVidoNXAscS4twJI2OvGckxgXvPgkWE2Gz7xQA3V9prS6MdNo01BdWOz3i2CSkSCTVnG1EVJqe_jes6nu9eb30JFvktIdSNIrqiHrhj82XUjXm6sluRGnqGdPcw49x00bPUYHIMrZcrQJVI6iJUM42jEkv2v5Hsc_OfX1ngTIvNEmw6ysqPwJ12-YP-f9aPI9FoXYMIxCWKO6HJSqj149DdCDlVGCcUa9amFnZPNjW2ULNisz1NW__yj6hsyqZs3EJ3JWo0jq9Y_iWS_LjdX9acNaMlhpRN2TXlFlDT40T3uFKAxe6G2Ehmi-wLeOZhDs0GPbet76Qdb987vtY6aRfNzjZduxp2zH2Wj1rSVJlaOsUFhyTHiDi72bRUpyQ7KlPICDJvtHF7WnWqMcKCm6p3RaUka5ekjjnYgoKYL2HFmvmk14B7oodJd8akOzc69gdGBm7aYaOXjTJb9ZzUXtVsmi4ypyXyYrTEVKgN-nUGI26D-JtHlXQgTAE3l2LlJ-NUys7umq3hFqwdv-ncf1xOD5h1vkUSfoAfk7kszE0-3fqUeI5PzBtzSuPVZVy4OOHFjbDJC8s15PeRX-3QXLZwy2sNG1BTrl7MNIzf65Ymg26ul9TqEA8a7RnyGMf55z44TpU-_W9PGVxaEuLz31K9ok9XF5UnPn5OWusljGMSZ0nz83Sox4nl3OSQ2DPVlB5nO_60h8h2nO7-6Yneh6C_LRXOVz4XwQkI",
          "id": 105,
          "createdAt": "2026-06-25T22:40:56.681Z",
          "updatedAt": "2026-06-25T22:40:56.681Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kUAa1wGM5zEtTbz4YCdus8nd59twr-LqAOkaUAk7K-sLbkkXcaciHQip65Xqwiz7JsCrN0VszNBQhAo3mk6w6fKrzdPYTzCjic6jVBaVidoNXAscS4twJI2OvGckxgXvPgkWE2Gz7xQA3V9prS6MdNo01BdWOz3i2CSkSCTVnG1EVJqe_jes6nu9eb30JFvktIdSNIrqiHrhj82XUjXm6sluRGnqGdPcw49x00bPUYHIMrZcrQJVI6iJUM42jEkv2v5Hsc_OfX1ngTIvNEmw6ysqPwJ12-YP-f9aPI9FoXYMIxCWKO6HJSqj149DdCDlVGCcUa9amFnZPNjW2ULNisz1NW__yj6hsyqZs3EJ3JWo0jq9Y_iWS_LjdX9acNaMlhpRN2TXlFlDT40T3uFKAxe6G2Ehmi-wLeOZhDs0GPbet76Qdb987vtY6aRfNzjZduxp2zH2Wj1rSVJlaOsUFhyTHiDi72bRUpyQ7KlPICDJvtHF7WnWqMcKCm6p3RaUka5ekjjnYgoKYL2HFmvmk14B7oodJd8akOzc69gdGBm7aYaOXjTJb9ZzUXtVsmi4ypyXyYrTEVKgN-nUGI26D-JtHlXQgTAE3l2LlJ-NUys7umq3hFqwdv-ncf1xOD5h1vkUSfoAfk7kszE0-3fqUeI5PzBtzSuPVZVy4OOHFjbDJC8s15PeRX-3QXLZwy2sNG1BTrl7MNIzf65Ymg26ul9TqEA8a7RnyGMf55z44TpU-_W9PGVxaEuLz31K9ok9XF5UnPn5OWusljGMSZ0nz83Sox4nl3OSQ2DPVlB5nO_60h8h2nO7-6Yneh6C_LRXOVz4XwQkI",
          "id": 105,
          "createdAt": "2026-06-25T22:40:56.681Z",
          "updatedAt": "2026-06-25T22:40:56.681Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get row(s)": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kUAa1wGM5zEtTbz4YCdus8nd59twr-LqAOkaUAk7K-sLbkkXcaciHQip65Xqwiz7JsCrN0VszNBQhAo3mk6w6fKrzdPYTzCjic6jVBaVidoNXAscS4twJI2OvGckxgXvPgkWE2Gz7xQA3V9prS6MdNo01BdWOz3i2CSkSCTVnG1EVJqe_jes6nu9eb30JFvktIdSNIrqiHrhj82XUjXm6sluRGnqGdPcw49x00bPUYHIMrZcrQJVI6iJUM42jEkv2v5Hsc_OfX1ngTIvNEmw6ysqPwJ12-YP-f9aPI9FoXYMIxCWKO6HJSqj149DdCDlVGCcUa9amFnZPNjW2ULNisz1NW__yj6hsyqZs3EJ3JWo0jq9Y_iWS_LjdX9acNaMlhpRN2TXlFlDT40T3uFKAxe6G2Ehmi-wLeOZhDs0GPbet76Qdb987vtY6aRfNzjZduxp2zH2Wj1rSVJlaOsUFhyTHiDi72bRUpyQ7KlPICDJvtHF7WnWqMcKCm6p3RaUka5ekjjnYgoKYL2HFmvmk14B7oodJd8akOzc69gdGBm7aYaOXjTJb9ZzUXtVsmi4ypyXyYrTEVKgN-nUGI26D-JtHlXQgTAE3l2LlJ-NUys7umq3hFqwdv-ncf1xOD5h1vkUSfoAfk7kszE0-3fqUeI5PzBtzSuPVZVy4OOHFjbDJC8s15PeRX-3QXLZwy2sNG1BTrl7MNIzf65Ymg26ul9TqEA8a7RnyGMf55z44TpU-_W9PGVxaEuLz31K9ok9XF5UnPn5OWusljGMSZ0nz83Sox4nl3OSQ2DPVlB5nO_60h8h2nO7-6Yneh6C_LRXOVz4XwQkI",
          "id": 105,
          "createdAt": "2026-06-25T22:40:56.681Z",
          "updatedAt": "2026-06-25T22:40:56.681Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Places1": [
      {
        "json": {
          "places": [
            {
              "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
              "nationalPhoneNumber": "020 8017 1788",
              "internationalPhoneNumber": "+44 20 8017 1788",
              "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
              "rating": 4.7,
              "websiteUri": "http://www.fallowrestaurant.com/",
              "displayName": {
                "text": "Fallow"
              }
            },
            {
              "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
              "nationalPhoneNumber": "020 3778 1985",
              "internationalPhoneNumber": "+44 20 3778 1985",
              "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
              "rating": 4.7,
              "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
              "displayName": {
                "text": "Tattu London"
              }
            },
            {
              "id": "ChIJOTAQhtMEdkgR9ZmC_mZR0UM",
              "nationalPhoneNumber": "020 3441 6996",
              "internationalPhoneNumber": "+44 20 3441 6996",
              "formattedAddress": "24 Great Windmill St, London W1D 7LG, UK",
              "rating": 4.7,
              "websiteUri": "https://theblacklock.com/restaurants/blacklock-soho/?utm_source=SOHO_GMB&utm_medium=GMB&utm_campaign=SOHO_RES&utm_id=SOHO_GMB",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Blacklock Soho"
              }
            },
            {
              "id": "ChIJ818U8tkFdkgRpinGgNP16Ok",
              "nationalPhoneNumber": "020 8079 7467",
              "internationalPhoneNumber": "+44 20 8079 7467",
              "formattedAddress": "James court, 14 Greek St, London W1D 4DP, UK",
              "rating": 4.6,
              "websiteUri": "https://kapara.co.uk/?utm_campaign=SDM&utm_id=GMB&utm_medium=website+click&utm_source=GMB",
              "displayName": {
                "text": "Kapara Restaurant Soho"
              }
            },
            {
              "id": "ChIJd_2m9pwFdkgRZNJ9puiVc_Q",
              "nationalPhoneNumber": "020 3963 5949",
              "internationalPhoneNumber": "+44 20 3963 5949",
              "formattedAddress": "The OWO, 7 Horse Guards Ave, London SW1A 2EU, UK",
              "rating": 4.5,
              "websiteUri": "https://www.papermoonrestaurants.com/paper-moon-london.html",
              "displayName": {
                "text": "Paper Moon Restaurant, London"
              }
            },
            {
              "id": "ChIJq1kmUvcFdkgRd82Qpn-aSbw",
              "nationalPhoneNumber": "020 8057 6500",
              "internationalPhoneNumber": "+44 20 8057 6500",
              "formattedAddress": "13-15 West St, London WC2H 9NE, UK",
              "rating": 4.4,
              "websiteUri": "https://thehouseoflouie.com/",
              "displayName": {
                "text": "Louie"
              }
            },
            {
              "id": "ChIJbboco0AFdkgRoeT-frDrj0M",
              "nationalPhoneNumber": "020 3828 2487",
              "internationalPhoneNumber": "+44 20 3828 2487",
              "formattedAddress": "4 Suffolk Pl, London SW1Y 4HX, UK",
              "rating": 4.5,
              "websiteUri": "https://www.bardostjames.com/",
              "displayName": {
                "text": "Bardo St James's"
              }
            },
            {
              "id": "ChIJZzLmQYoFdkgRf2kJmh4FwkA",
              "nationalPhoneNumber": "020 7836 8883",
              "internationalPhoneNumber": "+44 20 7836 8883",
              "formattedAddress": "6 Maiden Ln, London WC2E 7NA, UK",
              "rating": 4.8,
              "websiteUri": "https://www.fattpundit.co.uk/covent-garden/",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Fatt Pundit"
              }
            },
            {
              "id": "ChIJ1ylEM6UFdkgRYN5ttKqoPVc",
              "nationalPhoneNumber": "020 3053 1551",
              "internationalPhoneNumber": "+44 20 3053 1551",
              "formattedAddress": "36 Monmouth St, London WC2H 9HA, UK",
              "rating": 4.8,
              "websiteUri": "https://www.eatcrudo.com/",
              "displayName": {
                "text": "Crudo Covent Garden"
              }
            },
            {
              "id": "ChIJyeTsrLoFdkgRdsewS8ne0fQ",
              "nationalPhoneNumber": "020 3034 1394",
              "internationalPhoneNumber": "+44 20 3034 1394",
              "formattedAddress": "16a Bedford St, London WC2E 9HE, UK",
              "rating": 4.7,
              "websiteUri": "https://theblacklock.com/coventgarden-reservations/?utm_source=GMB&utm_medium=website+click&utm_campaign=SDM&utm_id=GMB",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Blacklock Covent Garden"
              }
            },
            {
              "id": "ChIJL-HmB88EdkgRfH-wI_8ELLQ",
              "nationalPhoneNumber": "020 7925 4749",
              "internationalPhoneNumber": "+44 20 7925 4749",
              "formattedAddress": "3-5 Great Scotland Yard, London SW1A 2HN, UK",
              "rating": 4.8,
              "websiteUri": "https://www.ekstedtattheyard.com/",
              "displayName": {
                "text": "Ekstedt at The Yard"
              }
            },
            {
              "id": "ChIJ_aG9xo4FdkgRfibauonvBkY",
              "nationalPhoneNumber": "020 3149 1016",
              "internationalPhoneNumber": "+44 20 3149 1016",
              "formattedAddress": "10 Upper St Martin's Ln, London WC2H 9FB, UK",
              "rating": 4.6,
              "websiteUri": "http://www.oleasocial.co.uk/",
              "displayName": {
                "text": "Olea Social"
              }
            },
            {
              "id": "ChIJ4aEfSVcFdkgRmCiF94UmtIg",
              "nationalPhoneNumber": "020 8559 1155",
              "internationalPhoneNumber": "+44 20 8559 1155",
              "formattedAddress": "67-69 Piccadilly, London W1J 0HJ, UK",
              "rating": 4.5,
              "websiteUri": "https://sheeshrestaurant.co.uk/booking/?utm_source=Google&utm_medium=Organic&utm_campaign=GBP-Listing-Mayfair",
              "displayName": {
                "text": "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub"
              }
            },
            {
              "id": "ChIJlciW4jsFdkgRvV8ezEeIcB8",
              "nationalPhoneNumber": "020 8016 6800",
              "internationalPhoneNumber": "+44 20 8016 6800",
              "formattedAddress": "40, 42 William IV St, London WC2N 4DD, UK",
              "rating": 4.8,
              "websiteUri": "https://colonelsaab.co.uk/",
              "displayName": {
                "text": "Colonel Saab Trafalgar Square"
              }
            },
            {
              "id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
              "nationalPhoneNumber": "020 3011 5900",
              "internationalPhoneNumber": "+44 20 3011 5900",
              "formattedAddress": "42 Albemarle St, London W1S 4JH, UK",
              "rating": 4.4,
              "websiteUri": "http://www.gymkhanarestaurants.com/",
              "priceLevel": "PRICE_LEVEL_VERY_EXPENSIVE",
              "displayName": {
                "text": "Gymkhana"
              }
            },
            {
              "id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
              "nationalPhoneNumber": "020 7499 6996",
              "internationalPhoneNumber": "+44 20 7499 6996",
              "formattedAddress": "160 Piccadilly, London W1J 9EB, UK",
              "rating": 4.4,
              "websiteUri": "https://www.thewolseleypiccadilly.com/",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "The Wolseley Piccadilly"
              }
            },
            {
              "id": "ChIJZf2Jlc4EdkgRv83xDpKQfHA",
              "nationalPhoneNumber": "020 3910 9777",
              "internationalPhoneNumber": "+44 20 3910 9777",
              "formattedAddress": "31-32 Northumberland Ave, London WC2N 5BW, UK",
              "rating": 4.5,
              "websiteUri": "https://www.prezzo.co.uk/restaurants/london-northumberland-avenue/",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Prezzo"
              }
            },
            {
              "id": "ChIJl5tPHtQEdkgRW15WLM9-Ef0",
              "nationalPhoneNumber": "020 7406 3980",
              "internationalPhoneNumber": "+44 20 7406 3980",
              "formattedAddress": "5A Air St, London W1J 0AD, UK",
              "rating": 4.5,
              "websiteUri": "https://thehawksmoor.com/locations/airstreet/?y_source=1_MjQyMjUwMzYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "Hawksmoor Air Street"
              }
            },
            {
              "id": "ChIJ4co2k5kDdkgROKjVBk6wD8k",
              "nationalPhoneNumber": "020 8129 6760",
              "internationalPhoneNumber": "+44 20 8129 6760",
              "formattedAddress": "3 Bedale St, London SE1 9AL, UK",
              "rating": 4.7,
              "websiteUri": "http://oma.london/",
              "displayName": {
                "text": "OMA"
              }
            },
            {
              "id": "ChIJFWhXXcwEdkgRkKBKheUNnC4",
              "nationalPhoneNumber": "020 4580 1174",
              "internationalPhoneNumber": "+44 20 4580 1174",
              "formattedAddress": "33 King St, London WC2E 8JD, UK",
              "rating": 4.5,
              "websiteUri": "http://www.closmaggiore.com/?utm_source=google&utm_medium=organic&utm_campaign=googlemybusiness",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "Clos Maggiore"
              }
            }
          ],
          "nextPageToken": "AaVGc3kR4D7VgIzP7f7jnP4TUA4o1kPoocU5W5cdCdlxv3BHRMO8RpUPTCIXUMlpY4SgWvMjCTrBfcX-mrZbue1hdTOfW_Wpp7Y05kwaJBct99VX8wbxfN2lmW0rTOxGOB7ygbngqVorcQmIkb2XfBBlzHl8wcNl-9PJ41z9Ywgpyk2P_qAFSWaehWEEYFGMRl6s4gb_567h1jo5AF3bViAdqWxk31kL5fcyCLblqyB8ivD6c5_xDPL30aEG9pEQhy4owniEEjVZRxAfmLDrTk8dmDz2xPmc2oGgQ2Rd688H9Lf1h58TNmnE78eujSb7iU9Epx8Hxrr700JN4H4Cywcrq50K5UN2fFkgstD-rscl8GC0vitPy1V1xKz9x3Tj6VNkTWmu6D5QSbLf_H91hjVlC3ZWNc-eZ32AyfQJHsdsvYe9N7fl59Hln8zIa0OA06NQgtFQuZOT798hLVwNoRreFgb-kHoIPwi2J3gPQbsLe0DpUtc-IhA7WnRZbhNBSBhB1hi1ga1TuDTJH4Oagpv7T6J4pqoRKwGTyKMz5AY5K5uvIAGOMw5ZoNGgh0TRKMpHfOm-G7jqg6KMDEMJIfduvs3fveWZrrJ6-lLvR52dPPGEpm3g23Ooqf-Q1Nb2oL-q7EgNQok4druaANkqMfIOMYfU3FrBzB3e065n5aJXtKPg27ZiLEWmtLNfjUJZI8XbgoVyve7eQZB3blov5M1AkJid6hgUVeJ6sBWmnuEuEIu5xC1K5PXvQBnqea9uN0R-MuhbIQl4XhN4n2FszAkzJ5Mccb_gLQz68dh27x_x5aDgl5giSk8j3rc6jvqZ3SwW0sDyRKitGlo"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out1": [
      {
        "json": {
          "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "nationalPhoneNumber": "020 8017 1788",
          "internationalPhoneNumber": "+44 20 8017 1788",
          "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
          "rating": 4.7,
          "websiteUri": "http://www.fallowrestaurant.com/",
          "displayName": {
            "text": "Fallow"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "nationalPhoneNumber": "020 3778 1985",
          "internationalPhoneNumber": "+44 20 3778 1985",
          "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "rating": 4.7,
          "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
          "displayName": {
            "text": "Tattu London"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJOTAQhtMEdkgR9ZmC_mZR0UM",
          "nationalPhoneNumber": "020 3441 6996",
          "internationalPhoneNumber": "+44 20 3441 6996",
          "formattedAddress": "24 Great Windmill St, London W1D 7LG, UK",
          "rating": 4.7,
          "websiteUri": "https://theblacklock.com/restaurants/blacklock-soho/?utm_source=SOHO_GMB&utm_medium=GMB&utm_campaign=SOHO_RES&utm_id=SOHO_GMB",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Blacklock Soho"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ818U8tkFdkgRpinGgNP16Ok",
          "nationalPhoneNumber": "020 8079 7467",
          "internationalPhoneNumber": "+44 20 8079 7467",
          "formattedAddress": "James court, 14 Greek St, London W1D 4DP, UK",
          "rating": 4.6,
          "websiteUri": "https://kapara.co.uk/?utm_campaign=SDM&utm_id=GMB&utm_medium=website+click&utm_source=GMB",
          "displayName": {
            "text": "Kapara Restaurant Soho"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJd_2m9pwFdkgRZNJ9puiVc_Q",
          "nationalPhoneNumber": "020 3963 5949",
          "internationalPhoneNumber": "+44 20 3963 5949",
          "formattedAddress": "The OWO, 7 Horse Guards Ave, London SW1A 2EU, UK",
          "rating": 4.5,
          "websiteUri": "https://www.papermoonrestaurants.com/paper-moon-london.html",
          "displayName": {
            "text": "Paper Moon Restaurant, London"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJq1kmUvcFdkgRd82Qpn-aSbw",
          "nationalPhoneNumber": "020 8057 6500",
          "internationalPhoneNumber": "+44 20 8057 6500",
          "formattedAddress": "13-15 West St, London WC2H 9NE, UK",
          "rating": 4.4,
          "websiteUri": "https://thehouseoflouie.com/",
          "displayName": {
            "text": "Louie"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJbboco0AFdkgRoeT-frDrj0M",
          "nationalPhoneNumber": "020 3828 2487",
          "internationalPhoneNumber": "+44 20 3828 2487",
          "formattedAddress": "4 Suffolk Pl, London SW1Y 4HX, UK",
          "rating": 4.5,
          "websiteUri": "https://www.bardostjames.com/",
          "displayName": {
            "text": "Bardo St James's"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJZzLmQYoFdkgRf2kJmh4FwkA",
          "nationalPhoneNumber": "020 7836 8883",
          "internationalPhoneNumber": "+44 20 7836 8883",
          "formattedAddress": "6 Maiden Ln, London WC2E 7NA, UK",
          "rating": 4.8,
          "websiteUri": "https://www.fattpundit.co.uk/covent-garden/",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Fatt Pundit"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ1ylEM6UFdkgRYN5ttKqoPVc",
          "nationalPhoneNumber": "020 3053 1551",
          "internationalPhoneNumber": "+44 20 3053 1551",
          "formattedAddress": "36 Monmouth St, London WC2H 9HA, UK",
          "rating": 4.8,
          "websiteUri": "https://www.eatcrudo.com/",
          "displayName": {
            "text": "Crudo Covent Garden"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJyeTsrLoFdkgRdsewS8ne0fQ",
          "nationalPhoneNumber": "020 3034 1394",
          "internationalPhoneNumber": "+44 20 3034 1394",
          "formattedAddress": "16a Bedford St, London WC2E 9HE, UK",
          "rating": 4.7,
          "websiteUri": "https://theblacklock.com/coventgarden-reservations/?utm_source=GMB&utm_medium=website+click&utm_campaign=SDM&utm_id=GMB",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Blacklock Covent Garden"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJL-HmB88EdkgRfH-wI_8ELLQ",
          "nationalPhoneNumber": "020 7925 4749",
          "internationalPhoneNumber": "+44 20 7925 4749",
          "formattedAddress": "3-5 Great Scotland Yard, London SW1A 2HN, UK",
          "rating": 4.8,
          "websiteUri": "https://www.ekstedtattheyard.com/",
          "displayName": {
            "text": "Ekstedt at The Yard"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ_aG9xo4FdkgRfibauonvBkY",
          "nationalPhoneNumber": "020 3149 1016",
          "internationalPhoneNumber": "+44 20 3149 1016",
          "formattedAddress": "10 Upper St Martin's Ln, London WC2H 9FB, UK",
          "rating": 4.6,
          "websiteUri": "http://www.oleasocial.co.uk/",
          "displayName": {
            "text": "Olea Social"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ4aEfSVcFdkgRmCiF94UmtIg",
          "nationalPhoneNumber": "020 8559 1155",
          "internationalPhoneNumber": "+44 20 8559 1155",
          "formattedAddress": "67-69 Piccadilly, London W1J 0HJ, UK",
          "rating": 4.5,
          "websiteUri": "https://sheeshrestaurant.co.uk/booking/?utm_source=Google&utm_medium=Organic&utm_campaign=GBP-Listing-Mayfair",
          "displayName": {
            "text": "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJlciW4jsFdkgRvV8ezEeIcB8",
          "nationalPhoneNumber": "020 8016 6800",
          "internationalPhoneNumber": "+44 20 8016 6800",
          "formattedAddress": "40, 42 William IV St, London WC2N 4DD, UK",
          "rating": 4.8,
          "websiteUri": "https://colonelsaab.co.uk/",
          "displayName": {
            "text": "Colonel Saab Trafalgar Square"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "nationalPhoneNumber": "020 3011 5900",
          "internationalPhoneNumber": "+44 20 3011 5900",
          "formattedAddress": "42 Albemarle St, London W1S 4JH, UK",
          "rating": 4.4,
          "websiteUri": "http://www.gymkhanarestaurants.com/",
          "priceLevel": "PRICE_LEVEL_VERY_EXPENSIVE",
          "displayName": {
            "text": "Gymkhana"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "nationalPhoneNumber": "020 7499 6996",
          "internationalPhoneNumber": "+44 20 7499 6996",
          "formattedAddress": "160 Piccadilly, London W1J 9EB, UK",
          "rating": 4.4,
          "websiteUri": "https://www.thewolseleypiccadilly.com/",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "The Wolseley Piccadilly"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJZf2Jlc4EdkgRv83xDpKQfHA",
          "nationalPhoneNumber": "020 3910 9777",
          "internationalPhoneNumber": "+44 20 3910 9777",
          "formattedAddress": "31-32 Northumberland Ave, London WC2N 5BW, UK",
          "rating": 4.5,
          "websiteUri": "https://www.prezzo.co.uk/restaurants/london-northumberland-avenue/",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Prezzo"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJl5tPHtQEdkgRW15WLM9-Ef0",
          "nationalPhoneNumber": "020 7406 3980",
          "internationalPhoneNumber": "+44 20 7406 3980",
          "formattedAddress": "5A Air St, London W1J 0AD, UK",
          "rating": 4.5,
          "websiteUri": "https://thehawksmoor.com/locations/airstreet/?y_source=1_MjQyMjUwMzYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "Hawksmoor Air Street"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ4co2k5kDdkgROKjVBk6wD8k",
          "nationalPhoneNumber": "020 8129 6760",
          "internationalPhoneNumber": "+44 20 8129 6760",
          "formattedAddress": "3 Bedale St, London SE1 9AL, UK",
          "rating": 4.7,
          "websiteUri": "http://oma.london/",
          "displayName": {
            "text": "OMA"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJFWhXXcwEdkgRkKBKheUNnC4",
          "nationalPhoneNumber": "020 4580 1174",
          "internationalPhoneNumber": "+44 20 4580 1174",
          "formattedAddress": "33 King St, London WC2E 8JD, UK",
          "rating": 4.5,
          "websiteUri": "http://www.closmaggiore.com/?utm_source=google&utm_medium=organic&utm_campaign=googlemybusiness",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "Clos Maggiore"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Limit": [
      {
        "json": {
          "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "nationalPhoneNumber": "020 8017 1788",
          "internationalPhoneNumber": "+44 20 8017 1788",
          "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
          "rating": 4.7,
          "websiteUri": "http://www.fallowrestaurant.com/",
          "displayName": {
            "text": "Fallow"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "nationalPhoneNumber": "020 3778 1985",
          "internationalPhoneNumber": "+44 20 3778 1985",
          "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "rating": 4.7,
          "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
          "displayName": {
            "text": "Tattu London"
          }
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "Create a row3": [
      {
        "json": {
          "id": "639cf366-3287-4089-937a-776f0ef35c83",
          "business_name": "Fallow",
          "niche": "resturents",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:41:02.280364+00:00",
          "updated_at": "2026-06-25T22:41:02.280364+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "468bda28-3624-4d91-8baa-bd46375412d5",
          "business_name": "Tattu London",
          "niche": "resturents",
          "location": "london",
          "address": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "phone": "020 3778 1985",
          "website": "https://tattu.co.uk/locations/tattu-london/",
          "google_place_id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:41:02.280364+00:00",
          "updated_at": "2026-06-25T22:41:02.280364+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "Aggregate1": [
      {
        "json": {
          "displayName": []
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          }
        ]
      }
    ],
    "Update row(s)": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kR4D7VgIzP7f7jnP4TUA4o1kPoocU5W5cdCdlxv3BHRMO8RpUPTCIXUMlpY4SgWvMjCTrBfcX-mrZbue1hdTOfW_Wpp7Y05kwaJBct99VX8wbxfN2lmW0rTOxGOB7ygbngqVorcQmIkb2XfBBlzHl8wcNl-9PJ41z9Ywgpyk2P_qAFSWaehWEEYFGMRl6s4gb_567h1jo5AF3bViAdqWxk31kL5fcyCLblqyB8ivD6c5_xDPL30aEG9pEQhy4owniEEjVZRxAfmLDrTk8dmDz2xPmc2oGgQ2Rd688H9Lf1h58TNmnE78eujSb7iU9Epx8Hxrr700JN4H4Cywcrq50K5UN2fFkgstD-rscl8GC0vitPy1V1xKz9x3Tj6VNkTWmu6D5QSbLf_H91hjVlC3ZWNc-eZ32AyfQJHsdsvYe9N7fl59Hln8zIa0OA06NQgtFQuZOT798hLVwNoRreFgb-kHoIPwi2J3gPQbsLe0DpUtc-IhA7WnRZbhNBSBhB1hi1ga1TuDTJH4Oagpv7T6J4pqoRKwGTyKMz5AY5K5uvIAGOMw5ZoNGgh0TRKMpHfOm-G7jqg6KMDEMJIfduvs3fveWZrrJ6-lLvR52dPPGEpm3g23Ooqf-Q1Nb2oL-q7EgNQok4druaANkqMfIOMYfU3FrBzB3e065n5aJXtKPg27ZiLEWmtLNfjUJZI8XbgoVyve7eQZB3blov5M1AkJid6hgUVeJ6sBWmnuEuEIu5xC1K5PXvQBnqea9uN0R-MuhbIQl4XhN4n2FszAkzJ5Mccb_gLQz68dh27x_x5aDgl5giSk8j3rc6jvqZ3SwW0sDyRKitGlo",
          "id": 105,
          "createdAt": "2026-06-25T22:40:56.681Z",
          "updatedAt": "2026-06-25T22:41:02.333Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait1": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kR4D7VgIzP7f7jnP4TUA4o1kPoocU5W5cdCdlxv3BHRMO8RpUPTCIXUMlpY4SgWvMjCTrBfcX-mrZbue1hdTOfW_Wpp7Y05kwaJBct99VX8wbxfN2lmW0rTOxGOB7ygbngqVorcQmIkb2XfBBlzHl8wcNl-9PJ41z9Ywgpyk2P_qAFSWaehWEEYFGMRl6s4gb_567h1jo5AF3bViAdqWxk31kL5fcyCLblqyB8ivD6c5_xDPL30aEG9pEQhy4owniEEjVZRxAfmLDrTk8dmDz2xPmc2oGgQ2Rd688H9Lf1h58TNmnE78eujSb7iU9Epx8Hxrr700JN4H4Cywcrq50K5UN2fFkgstD-rscl8GC0vitPy1V1xKz9x3Tj6VNkTWmu6D5QSbLf_H91hjVlC3ZWNc-eZ32AyfQJHsdsvYe9N7fl59Hln8zIa0OA06NQgtFQuZOT798hLVwNoRreFgb-kHoIPwi2J3gPQbsLe0DpUtc-IhA7WnRZbhNBSBhB1hi1ga1TuDTJH4Oagpv7T6J4pqoRKwGTyKMz5AY5K5uvIAGOMw5ZoNGgh0TRKMpHfOm-G7jqg6KMDEMJIfduvs3fveWZrrJ6-lLvR52dPPGEpm3g23Ooqf-Q1Nb2oL-q7EgNQok4druaANkqMfIOMYfU3FrBzB3e065n5aJXtKPg27ZiLEWmtLNfjUJZI8XbgoVyve7eQZB3blov5M1AkJid6hgUVeJ6sBWmnuEuEIu5xC1K5PXvQBnqea9uN0R-MuhbIQl4XhN4n2FszAkzJ5Mccb_gLQz68dh27x_x5aDgl5giSk8j3rc6jvqZ3SwW0sDyRKitGlo",
          "id": 105,
          "createdAt": "2026-06-25T22:40:56.681Z",
          "updatedAt": "2026-06-25T22:41:02.333Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get row(s)1": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kR4D7VgIzP7f7jnP4TUA4o1kPoocU5W5cdCdlxv3BHRMO8RpUPTCIXUMlpY4SgWvMjCTrBfcX-mrZbue1hdTOfW_Wpp7Y05kwaJBct99VX8wbxfN2lmW0rTOxGOB7ygbngqVorcQmIkb2XfBBlzHl8wcNl-9PJ41z9Ywgpyk2P_qAFSWaehWEEYFGMRl6s4gb_567h1jo5AF3bViAdqWxk31kL5fcyCLblqyB8ivD6c5_xDPL30aEG9pEQhy4owniEEjVZRxAfmLDrTk8dmDz2xPmc2oGgQ2Rd688H9Lf1h58TNmnE78eujSb7iU9Epx8Hxrr700JN4H4Cywcrq50K5UN2fFkgstD-rscl8GC0vitPy1V1xKz9x3Tj6VNkTWmu6D5QSbLf_H91hjVlC3ZWNc-eZ32AyfQJHsdsvYe9N7fl59Hln8zIa0OA06NQgtFQuZOT798hLVwNoRreFgb-kHoIPwi2J3gPQbsLe0DpUtc-IhA7WnRZbhNBSBhB1hi1ga1TuDTJH4Oagpv7T6J4pqoRKwGTyKMz5AY5K5uvIAGOMw5ZoNGgh0TRKMpHfOm-G7jqg6KMDEMJIfduvs3fveWZrrJ6-lLvR52dPPGEpm3g23Ooqf-Q1Nb2oL-q7EgNQok4druaANkqMfIOMYfU3FrBzB3e065n5aJXtKPg27ZiLEWmtLNfjUJZI8XbgoVyve7eQZB3blov5M1AkJid6hgUVeJ6sBWmnuEuEIu5xC1K5PXvQBnqea9uN0R-MuhbIQl4XhN4n2FszAkzJ5Mccb_gLQz68dh27x_x5aDgl5giSk8j3rc6jvqZ3SwW0sDyRKitGlo",
          "id": 105,
          "createdAt": "2026-06-25T22:40:56.681Z",
          "updatedAt": "2026-06-25T22:41:02.333Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Places2": [
      {
        "json": {
          "places": [
            {
              "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
              "nationalPhoneNumber": "020 8017 1788",
              "internationalPhoneNumber": "+44 20 8017 1788",
              "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
              "rating": 4.7,
              "websiteUri": "http://www.fallowrestaurant.com/",
              "displayName": {
                "text": "Fallow"
              }
            },
            {
              "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
              "nationalPhoneNumber": "020 3778 1985",
              "internationalPhoneNumber": "+44 20 3778 1985",
              "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
              "rating": 4.7,
              "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
              "displayName": {
                "text": "Tattu London"
              }
            },
            {
              "id": "ChIJOTAQhtMEdkgR9ZmC_mZR0UM",
              "nationalPhoneNumber": "020 3441 6996",
              "internationalPhoneNumber": "+44 20 3441 6996",
              "formattedAddress": "24 Great Windmill St, London W1D 7LG, UK",
              "rating": 4.7,
              "websiteUri": "https://theblacklock.com/restaurants/blacklock-soho/?utm_source=SOHO_GMB&utm_medium=GMB&utm_campaign=SOHO_RES&utm_id=SOHO_GMB",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Blacklock Soho"
              }
            },
            {
              "id": "ChIJ818U8tkFdkgRpinGgNP16Ok",
              "nationalPhoneNumber": "020 8079 7467",
              "internationalPhoneNumber": "+44 20 8079 7467",
              "formattedAddress": "James court, 14 Greek St, London W1D 4DP, UK",
              "rating": 4.6,
              "websiteUri": "https://kapara.co.uk/?utm_campaign=SDM&utm_id=GMB&utm_medium=website+click&utm_source=GMB",
              "displayName": {
                "text": "Kapara Restaurant Soho"
              }
            },
            {
              "id": "ChIJd_2m9pwFdkgRZNJ9puiVc_Q",
              "nationalPhoneNumber": "020 3963 5949",
              "internationalPhoneNumber": "+44 20 3963 5949",
              "formattedAddress": "The OWO, 7 Horse Guards Ave, London SW1A 2EU, UK",
              "rating": 4.5,
              "websiteUri": "https://www.papermoonrestaurants.com/paper-moon-london.html",
              "displayName": {
                "text": "Paper Moon Restaurant, London"
              }
            },
            {
              "id": "ChIJq1kmUvcFdkgRd82Qpn-aSbw",
              "nationalPhoneNumber": "020 8057 6500",
              "internationalPhoneNumber": "+44 20 8057 6500",
              "formattedAddress": "13-15 West St, London WC2H 9NE, UK",
              "rating": 4.4,
              "websiteUri": "https://thehouseoflouie.com/",
              "displayName": {
                "text": "Louie"
              }
            },
            {
              "id": "ChIJbboco0AFdkgRoeT-frDrj0M",
              "nationalPhoneNumber": "020 3828 2487",
              "internationalPhoneNumber": "+44 20 3828 2487",
              "formattedAddress": "4 Suffolk Pl, London SW1Y 4HX, UK",
              "rating": 4.5,
              "websiteUri": "https://www.bardostjames.com/",
              "displayName": {
                "text": "Bardo St James's"
              }
            },
            {
              "id": "ChIJZzLmQYoFdkgRf2kJmh4FwkA",
              "nationalPhoneNumber": "020 7836 8883",
              "internationalPhoneNumber": "+44 20 7836 8883",
              "formattedAddress": "6 Maiden Ln, London WC2E 7NA, UK",
              "rating": 4.8,
              "websiteUri": "https://www.fattpundit.co.uk/covent-garden/",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Fatt Pundit"
              }
            },
            {
              "id": "ChIJ1ylEM6UFdkgRYN5ttKqoPVc",
              "nationalPhoneNumber": "020 3053 1551",
              "internationalPhoneNumber": "+44 20 3053 1551",
              "formattedAddress": "36 Monmouth St, London WC2H 9HA, UK",
              "rating": 4.8,
              "websiteUri": "https://www.eatcrudo.com/",
              "displayName": {
                "text": "Crudo Covent Garden"
              }
            },
            {
              "id": "ChIJyeTsrLoFdkgRdsewS8ne0fQ",
              "nationalPhoneNumber": "020 3034 1394",
              "internationalPhoneNumber": "+44 20 3034 1394",
              "formattedAddress": "16a Bedford St, London WC2E 9HE, UK",
              "rating": 4.7,
              "websiteUri": "https://theblacklock.com/coventgarden-reservations/?utm_source=GMB&utm_medium=website+click&utm_campaign=SDM&utm_id=GMB",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Blacklock Covent Garden"
              }
            },
            {
              "id": "ChIJL-HmB88EdkgRfH-wI_8ELLQ",
              "nationalPhoneNumber": "020 7925 4749",
              "internationalPhoneNumber": "+44 20 7925 4749",
              "formattedAddress": "3-5 Great Scotland Yard, London SW1A 2HN, UK",
              "rating": 4.8,
              "websiteUri": "https://www.ekstedtattheyard.com/",
              "displayName": {
                "text": "Ekstedt at The Yard"
              }
            },
            {
              "id": "ChIJ_aG9xo4FdkgRfibauonvBkY",
              "nationalPhoneNumber": "020 3149 1016",
              "internationalPhoneNumber": "+44 20 3149 1016",
              "formattedAddress": "10 Upper St Martin's Ln, London WC2H 9FB, UK",
              "rating": 4.6,
              "websiteUri": "http://www.oleasocial.co.uk/",
              "displayName": {
                "text": "Olea Social"
              }
            },
            {
              "id": "ChIJ4aEfSVcFdkgRmCiF94UmtIg",
              "nationalPhoneNumber": "020 8559 1155",
              "internationalPhoneNumber": "+44 20 8559 1155",
              "formattedAddress": "67-69 Piccadilly, London W1J 0HJ, UK",
              "rating": 4.5,
              "websiteUri": "https://sheeshrestaurant.co.uk/booking/?utm_source=Google&utm_medium=Organic&utm_campaign=GBP-Listing-Mayfair",
              "displayName": {
                "text": "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub"
              }
            },
            {
              "id": "ChIJlciW4jsFdkgRvV8ezEeIcB8",
              "nationalPhoneNumber": "020 8016 6800",
              "internationalPhoneNumber": "+44 20 8016 6800",
              "formattedAddress": "40, 42 William IV St, London WC2N 4DD, UK",
              "rating": 4.8,
              "websiteUri": "https://colonelsaab.co.uk/",
              "displayName": {
                "text": "Colonel Saab Trafalgar Square"
              }
            },
            {
              "id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
              "nationalPhoneNumber": "020 3011 5900",
              "internationalPhoneNumber": "+44 20 3011 5900",
              "formattedAddress": "42 Albemarle St, London W1S 4JH, UK",
              "rating": 4.4,
              "websiteUri": "http://www.gymkhanarestaurants.com/",
              "priceLevel": "PRICE_LEVEL_VERY_EXPENSIVE",
              "displayName": {
                "text": "Gymkhana"
              }
            },
            {
              "id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
              "nationalPhoneNumber": "020 7499 6996",
              "internationalPhoneNumber": "+44 20 7499 6996",
              "formattedAddress": "160 Piccadilly, London W1J 9EB, UK",
              "rating": 4.4,
              "websiteUri": "https://www.thewolseleypiccadilly.com/",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "The Wolseley Piccadilly"
              }
            },
            {
              "id": "ChIJZf2Jlc4EdkgRv83xDpKQfHA",
              "nationalPhoneNumber": "020 3910 9777",
              "internationalPhoneNumber": "+44 20 3910 9777",
              "formattedAddress": "31-32 Northumberland Ave, London WC2N 5BW, UK",
              "rating": 4.5,
              "websiteUri": "https://www.prezzo.co.uk/restaurants/london-northumberland-avenue/",
              "priceLevel": "PRICE_LEVEL_MODERATE",
              "displayName": {
                "text": "Prezzo"
              }
            },
            {
              "id": "ChIJl5tPHtQEdkgRW15WLM9-Ef0",
              "nationalPhoneNumber": "020 7406 3980",
              "internationalPhoneNumber": "+44 20 7406 3980",
              "formattedAddress": "5A Air St, London W1J 0AD, UK",
              "rating": 4.5,
              "websiteUri": "https://thehawksmoor.com/locations/airstreet/?y_source=1_MjQyMjUwMzYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "Hawksmoor Air Street"
              }
            },
            {
              "id": "ChIJ4co2k5kDdkgROKjVBk6wD8k",
              "nationalPhoneNumber": "020 8129 6760",
              "internationalPhoneNumber": "+44 20 8129 6760",
              "formattedAddress": "3 Bedale St, London SE1 9AL, UK",
              "rating": 4.7,
              "websiteUri": "http://oma.london/",
              "displayName": {
                "text": "OMA"
              }
            },
            {
              "id": "ChIJFWhXXcwEdkgRkKBKheUNnC4",
              "nationalPhoneNumber": "020 4580 1174",
              "internationalPhoneNumber": "+44 20 4580 1174",
              "formattedAddress": "33 King St, London WC2E 8JD, UK",
              "rating": 4.5,
              "websiteUri": "http://www.closmaggiore.com/?utm_source=google&utm_medium=organic&utm_campaign=googlemybusiness",
              "priceLevel": "PRICE_LEVEL_EXPENSIVE",
              "displayName": {
                "text": "Clos Maggiore"
              }
            }
          ],
          "nextPageToken": "AaVGc3ni6FEHbGba3fB4Io9j9zWe-F1cs1jOkByR3_5nfT9CBfqatZ7gaGS3IyQkvFdm1UvG2CLjGkG0Lufdfynr_VlM8yR_Gw1YROCVw-_UJ7zkOiPNjKC1ldQ6B0n2xZxdQGVASHzcTqkdq4bpTrWWp8vtt5l6vVf2XTozX987XHwTZlkdskSfohzfDBiBzlnb3ipNzC39aO5aqvYR7xp0IkDPuDzOwOXmO85ZwvKGx74Xhh3QDmzVKwbBlAlJX3XNRQ4EnHfaKF2GNf5DWJZP1QB7A4PkSoXG4MPlufF1tae4-6wIQ4-JzDmv5sA8CFR-2G30Ml-SLhrcGuBVpifheF_tq5egj8KxL010l764ffa457dm5rtxCNKJpsFr0q1etYMFyJiuo3lAnFECy0Q7VsDpDutyQcjM6i9qu0Nh_VAwWd0pgE25Ge8xhhSEi_mY1lqcQ4LxqxM7I8ibu4nQeJYvcWe7cMFvyv3EcX0rNi_yRQOH7zSvidEJ567aRPxfMuvbQC9evEdQQdpEFlkLC8GEcRKB4wj2yxx_enOfTIAfT-lLAHRt22B6HunKEOwTdULJ3t38SoVwVl01nDPOJjuTMAxV0_jLyaVhRnUij0fnbljr20fHM4bVuuemN4iCVAwYlwjYs6qidQPG72-Wf-F8unEk0sli5Xbxli_01PH7RyrEd9bbYen6ROT6XpHk9H9VvO4Ad2xJfpG5Ea7AR9IcrTKE2l0HBupOkbMWKHaqQhnSPRXbnhxrCzPxR67_k7Z1-bu_4fQe4oLhIXFyn-vwQe76k0b7XW-ANhb61o-QLwXQw7xD3-Zr2GL0k4WyJOX3HeL9NI0"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out2": [
      {
        "json": {
          "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "nationalPhoneNumber": "020 8017 1788",
          "internationalPhoneNumber": "+44 20 8017 1788",
          "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
          "rating": 4.7,
          "websiteUri": "http://www.fallowrestaurant.com/",
          "displayName": {
            "text": "Fallow"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "nationalPhoneNumber": "020 3778 1985",
          "internationalPhoneNumber": "+44 20 3778 1985",
          "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "rating": 4.7,
          "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
          "displayName": {
            "text": "Tattu London"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJOTAQhtMEdkgR9ZmC_mZR0UM",
          "nationalPhoneNumber": "020 3441 6996",
          "internationalPhoneNumber": "+44 20 3441 6996",
          "formattedAddress": "24 Great Windmill St, London W1D 7LG, UK",
          "rating": 4.7,
          "websiteUri": "https://theblacklock.com/restaurants/blacklock-soho/?utm_source=SOHO_GMB&utm_medium=GMB&utm_campaign=SOHO_RES&utm_id=SOHO_GMB",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Blacklock Soho"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ818U8tkFdkgRpinGgNP16Ok",
          "nationalPhoneNumber": "020 8079 7467",
          "internationalPhoneNumber": "+44 20 8079 7467",
          "formattedAddress": "James court, 14 Greek St, London W1D 4DP, UK",
          "rating": 4.6,
          "websiteUri": "https://kapara.co.uk/?utm_campaign=SDM&utm_id=GMB&utm_medium=website+click&utm_source=GMB",
          "displayName": {
            "text": "Kapara Restaurant Soho"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJd_2m9pwFdkgRZNJ9puiVc_Q",
          "nationalPhoneNumber": "020 3963 5949",
          "internationalPhoneNumber": "+44 20 3963 5949",
          "formattedAddress": "The OWO, 7 Horse Guards Ave, London SW1A 2EU, UK",
          "rating": 4.5,
          "websiteUri": "https://www.papermoonrestaurants.com/paper-moon-london.html",
          "displayName": {
            "text": "Paper Moon Restaurant, London"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJq1kmUvcFdkgRd82Qpn-aSbw",
          "nationalPhoneNumber": "020 8057 6500",
          "internationalPhoneNumber": "+44 20 8057 6500",
          "formattedAddress": "13-15 West St, London WC2H 9NE, UK",
          "rating": 4.4,
          "websiteUri": "https://thehouseoflouie.com/",
          "displayName": {
            "text": "Louie"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJbboco0AFdkgRoeT-frDrj0M",
          "nationalPhoneNumber": "020 3828 2487",
          "internationalPhoneNumber": "+44 20 3828 2487",
          "formattedAddress": "4 Suffolk Pl, London SW1Y 4HX, UK",
          "rating": 4.5,
          "websiteUri": "https://www.bardostjames.com/",
          "displayName": {
            "text": "Bardo St James's"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJZzLmQYoFdkgRf2kJmh4FwkA",
          "nationalPhoneNumber": "020 7836 8883",
          "internationalPhoneNumber": "+44 20 7836 8883",
          "formattedAddress": "6 Maiden Ln, London WC2E 7NA, UK",
          "rating": 4.8,
          "websiteUri": "https://www.fattpundit.co.uk/covent-garden/",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Fatt Pundit"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ1ylEM6UFdkgRYN5ttKqoPVc",
          "nationalPhoneNumber": "020 3053 1551",
          "internationalPhoneNumber": "+44 20 3053 1551",
          "formattedAddress": "36 Monmouth St, London WC2H 9HA, UK",
          "rating": 4.8,
          "websiteUri": "https://www.eatcrudo.com/",
          "displayName": {
            "text": "Crudo Covent Garden"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJyeTsrLoFdkgRdsewS8ne0fQ",
          "nationalPhoneNumber": "020 3034 1394",
          "internationalPhoneNumber": "+44 20 3034 1394",
          "formattedAddress": "16a Bedford St, London WC2E 9HE, UK",
          "rating": 4.7,
          "websiteUri": "https://theblacklock.com/coventgarden-reservations/?utm_source=GMB&utm_medium=website+click&utm_campaign=SDM&utm_id=GMB",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Blacklock Covent Garden"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJL-HmB88EdkgRfH-wI_8ELLQ",
          "nationalPhoneNumber": "020 7925 4749",
          "internationalPhoneNumber": "+44 20 7925 4749",
          "formattedAddress": "3-5 Great Scotland Yard, London SW1A 2HN, UK",
          "rating": 4.8,
          "websiteUri": "https://www.ekstedtattheyard.com/",
          "displayName": {
            "text": "Ekstedt at The Yard"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ_aG9xo4FdkgRfibauonvBkY",
          "nationalPhoneNumber": "020 3149 1016",
          "internationalPhoneNumber": "+44 20 3149 1016",
          "formattedAddress": "10 Upper St Martin's Ln, London WC2H 9FB, UK",
          "rating": 4.6,
          "websiteUri": "http://www.oleasocial.co.uk/",
          "displayName": {
            "text": "Olea Social"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ4aEfSVcFdkgRmCiF94UmtIg",
          "nationalPhoneNumber": "020 8559 1155",
          "internationalPhoneNumber": "+44 20 8559 1155",
          "formattedAddress": "67-69 Piccadilly, London W1J 0HJ, UK",
          "rating": 4.5,
          "websiteUri": "https://sheeshrestaurant.co.uk/booking/?utm_source=Google&utm_medium=Organic&utm_campaign=GBP-Listing-Mayfair",
          "displayName": {
            "text": "Sheesh Mayfair | Best Turkish Restaurants and Nightclubs in London | Cocktail Bar | Nightclub"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJlciW4jsFdkgRvV8ezEeIcB8",
          "nationalPhoneNumber": "020 8016 6800",
          "internationalPhoneNumber": "+44 20 8016 6800",
          "formattedAddress": "40, 42 William IV St, London WC2N 4DD, UK",
          "rating": 4.8,
          "websiteUri": "https://colonelsaab.co.uk/",
          "displayName": {
            "text": "Colonel Saab Trafalgar Square"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJtwn55ikFdkgRAvOuPIWeLM0",
          "nationalPhoneNumber": "020 3011 5900",
          "internationalPhoneNumber": "+44 20 3011 5900",
          "formattedAddress": "42 Albemarle St, London W1S 4JH, UK",
          "rating": 4.4,
          "websiteUri": "http://www.gymkhanarestaurants.com/",
          "priceLevel": "PRICE_LEVEL_VERY_EXPENSIVE",
          "displayName": {
            "text": "Gymkhana"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJr_4cVy8FdkgRIrNbO93eUFM",
          "nationalPhoneNumber": "020 7499 6996",
          "internationalPhoneNumber": "+44 20 7499 6996",
          "formattedAddress": "160 Piccadilly, London W1J 9EB, UK",
          "rating": 4.4,
          "websiteUri": "https://www.thewolseleypiccadilly.com/",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "The Wolseley Piccadilly"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJZf2Jlc4EdkgRv83xDpKQfHA",
          "nationalPhoneNumber": "020 3910 9777",
          "internationalPhoneNumber": "+44 20 3910 9777",
          "formattedAddress": "31-32 Northumberland Ave, London WC2N 5BW, UK",
          "rating": 4.5,
          "websiteUri": "https://www.prezzo.co.uk/restaurants/london-northumberland-avenue/",
          "priceLevel": "PRICE_LEVEL_MODERATE",
          "displayName": {
            "text": "Prezzo"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJl5tPHtQEdkgRW15WLM9-Ef0",
          "nationalPhoneNumber": "020 7406 3980",
          "internationalPhoneNumber": "+44 20 7406 3980",
          "formattedAddress": "5A Air St, London W1J 0AD, UK",
          "rating": 4.5,
          "websiteUri": "https://thehawksmoor.com/locations/airstreet/?y_source=1_MjQyMjUwMzYtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "Hawksmoor Air Street"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ4co2k5kDdkgROKjVBk6wD8k",
          "nationalPhoneNumber": "020 8129 6760",
          "internationalPhoneNumber": "+44 20 8129 6760",
          "formattedAddress": "3 Bedale St, London SE1 9AL, UK",
          "rating": 4.7,
          "websiteUri": "http://oma.london/",
          "displayName": {
            "text": "OMA"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJFWhXXcwEdkgRkKBKheUNnC4",
          "nationalPhoneNumber": "020 4580 1174",
          "internationalPhoneNumber": "+44 20 4580 1174",
          "formattedAddress": "33 King St, London WC2E 8JD, UK",
          "rating": 4.5,
          "websiteUri": "http://www.closmaggiore.com/?utm_source=google&utm_medium=organic&utm_campaign=googlemybusiness",
          "priceLevel": "PRICE_LEVEL_EXPENSIVE",
          "displayName": {
            "text": "Clos Maggiore"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Limit1": [
      {
        "json": {
          "id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "nationalPhoneNumber": "020 8017 1788",
          "internationalPhoneNumber": "+44 20 8017 1788",
          "formattedAddress": "52 Haymarket, London SW1Y 4RP, UK",
          "rating": 4.7,
          "websiteUri": "http://www.fallowrestaurant.com/",
          "displayName": {
            "text": "Fallow"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "nationalPhoneNumber": "020 3778 1985",
          "internationalPhoneNumber": "+44 20 3778 1985",
          "formattedAddress": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "rating": 4.7,
          "websiteUri": "https://tattu.co.uk/locations/tattu-london/",
          "displayName": {
            "text": "Tattu London"
          }
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "Create a row4": [
      {
        "json": {
          "id": "1444a6a0-d900-4835-8f1c-e72386efd248",
          "business_name": "Fallow",
          "niche": "resturents",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:41:07.765361+00:00",
          "updated_at": "2026-06-25T22:41:07.765361+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "19c3f69a-ee27-407c-914a-2163e3fef148",
          "business_name": "Tattu London",
          "niche": "resturents",
          "location": "london",
          "address": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "phone": "020 3778 1985",
          "website": "https://tattu.co.uk/locations/tattu-london/",
          "google_place_id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:41:07.765361+00:00",
          "updated_at": "2026-06-25T22:41:07.765361+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "Wait2": [
      {
        "json": {
          "id": "1444a6a0-d900-4835-8f1c-e72386efd248",
          "business_name": "Fallow",
          "niche": "resturents",
          "location": "london",
          "address": "52 Haymarket, London SW1Y 4RP, UK",
          "phone": "020 8017 1788",
          "website": "http://www.fallowrestaurant.com/",
          "google_place_id": "ChIJSWN4ldUEdkgRGqo3OSnf1CY",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:41:07.765361+00:00",
          "updated_at": "2026-06-25T22:41:07.765361+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "19c3f69a-ee27-407c-914a-2163e3fef148",
          "business_name": "Tattu London",
          "niche": "resturents",
          "location": "london",
          "address": "The Now Building Rooftop, Outernet, Denmark St, London WC2H 0LA, UK",
          "phone": "020 3778 1985",
          "website": "https://tattu.co.uk/locations/tattu-london/",
          "google_place_id": "ChIJHdd94hwbdkgRihDCyn0FD1Y",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-25T22:41:07.765361+00:00",
          "updated_at": "2026-06-25T22:41:07.765361+00:00",
          "run_id": null,
          "outreach_status": null,
          "last_contacted": null,
          "notes": null,
          "found_email": null,
          "audit_score": null,
          "audit_issues": null,
          "audit_notes": null,
          "audit_email_angle": null,
          "audit_screenshot": null
        },
        "pairedItem": {
          "item": 1
        }
      }
    ]
  },
  "versionId": "a2840791-47b8-49ad-a422-7983e7f1c383",
  "activeVersionId": "a2840791-47b8-49ad-a422-7983e7f1c383",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-18T15:20:34.452Z",
      "createdAt": "2026-06-18T15:20:34.452Z",
      "role": "workflow:owner",
      "workflowId": "qXJD479F0Bpg4Uzs",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-25T23:01:56.000Z",
    "createdAt": "2026-06-25T22:44:11.077Z",
    "versionId": "a2840791-47b8-49ad-a422-7983e7f1c383",
    "workflowId": "qXJD479F0Bpg4Uzs",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -416,
          -288
        ],
        "id": "c44ab738-81bc-4acc-9bb9-e27629cfc75a",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "95965a6b-baf5-46c5-852e-a88a4be04d9f",
                "name": "Google_Maps_API",
                "value": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
                "type": "string"
              },
              {
                "id": "e0a9a743-f310-4eea-bfe4-55d5a25effd9",
                "name": "query",
                "value": "={{ $('Webhook').first().json.query.niche }}",
                "type": "string"
              },
              {
                "id": "1c7f4e33-3c43-4c3a-8fd8-b42d168c2fc7",
                "name": "location",
                "value": "={{ $('Webhook').item.json.query.location }}",
                "type": "string"
              },
              {
                "id": "b8da2aea-848e-4b55-912a-e60ff2e01cec",
                "name": "radius",
                "value": "1000",
                "type": "string"
              },
              {
                "id": "f8588993-203f-4fdd-a4d1-e1c32b3fd44b",
                "name": "Spreadsheet_id",
                "value": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
                "type": "string"
              },
              {
                "id": "90c98d91-f6e0-4592-8024-0e5b3066d225",
                "name": "sheet_name",
                "value": "sheet 1",
                "type": "string"
              },
              {
                "id": "33ddb2c0-29b3-4800-a69a-3d9affd9f613",
                "name": "Max_Item",
                "value": 300,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          -288
        ],
        "id": "6f722452-1263-4b37-922d-411c9eae0247",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "url": "https://maps.googleapis.com/maps/api/geocode/json",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "address",
                "value": "={{ $json.location }}"
              },
              {
                "name": "key",
                "value": "=AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          192,
          -288
        ],
        "id": "6f36c1d3-c3a5-479f-9da7-ae1a4954c0ee",
        "name": "Get cordinetes"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://places.googleapis.com/v1/places:searchText",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Goog-Api-Key",
                "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
              },
              {
                "name": "X-Goog-FieldMask",
                "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query }} {{ $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $('Edit Fields').item.json.radius }}\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          336,
          -288
        ],
        "id": "de313169-9db0-44c4-9318-e07bcb5a8266",
        "name": "Get Places"
      },
      {
        "parameters": {
          "fieldToSplitOut": "places",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          496,
          -288
        ],
        "id": "4e358165-938e-4ce7-89fe-01f4a8ef1d88",
        "name": "Split Out"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "business_name"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          912,
          -288
        ],
        "id": "efd39cc0-fd27-4227-b653-d81a2635de82",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "N5LjcMLEIlInaJMg",
            "mode": "list",
            "cachedResultName": "next page token",
            "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "nextpagetoken": "={{ $('Get Places').item.json.nextPageToken }}"
            },
            "matchingColumns": [
              "nextpagetoken"
            ],
            "schema": [
              {
                "id": "nextpagetoken",
                "displayName": "nextpagetoken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          1136,
          -288
        ],
        "id": "d51332dd-f33d-458e-b440-0fddc57d6eef",
        "name": "Insert row"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
                "leftValue": "={{ $json.nextpagetoken }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1520,
          -288
        ],
        "id": "371b8da8-248e-4cda-a05e-4db861dfceb5",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          464,
          -80
        ],
        "id": "cf051201-78dd-4d64-a6c6-711eaa069820",
        "name": "Wait",
        "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "N5LjcMLEIlInaJMg",
            "mode": "list",
            "cachedResultName": "next page token",
            "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Insert row').first().json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          672,
          -80
        ],
        "id": "772050f0-e987-4c4f-a5aa-9a47304422e6",
        "name": "Get row(s)"
      },
      {
        "parameters": {
          "fieldToSplitOut": "places",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1184,
          -80
        ],
        "id": "228bc47a-7b0a-48a4-b31d-a6b8ee6ade28",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "displayName"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1856,
          -80
        ],
        "id": "53525de6-37f7-42df-870f-17c3b9dc2435",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "operation": "update",
          "dataTableId": {
            "__rl": true,
            "value": "N5LjcMLEIlInaJMg",
            "mode": "list",
            "cachedResultName": "next page token",
            "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Get row(s)').first().json.id }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "nextpagetoken": "={{ $('Get Places1').first().json.nextPageToken }}"
            },
            "matchingColumns": [
              "nextpagetoken"
            ],
            "schema": [
              {
                "id": "nextpagetoken",
                "displayName": "nextpagetoken",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2064,
          -80
        ],
        "id": "a1498d80-b2a5-480b-959b-5e25c786aaab",
        "name": "Update row(s)"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://places.googleapis.com/v1/places:searchText",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Goog-Api-Key",
                "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
              },
              {
                "name": "X-Goog-FieldMask",
                "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          992,
          -80
        ],
        "id": "6a79eb25-e287-442d-ad08-79ced640fd40",
        "name": "Get Places1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
                "leftValue": "={{ $json.nextpagetoken }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2240,
          -80
        ],
        "id": "e7f15ce9-ae38-43e4-b14d-ce1b05b0c52d",
        "name": "If1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          592,
          144
        ],
        "id": "8b60d787-4332-4525-b882-91912ededd35",
        "name": "Wait1",
        "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "N5LjcMLEIlInaJMg",
            "mode": "list",
            "cachedResultName": "next page token",
            "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
          },
          "filters": {
            "conditions": [
              {
                "keyValue": "={{ $('Insert row').first().json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          784,
          144
        ],
        "id": "e4e5b4cc-da9c-4b94-bf76-cee1984c27af",
        "name": "Get row(s)1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "places",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1184,
          144
        ],
        "id": "2e8d412a-6355-478f-b9d0-97cc9c9fe7e1",
        "name": "Split Out2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://places.googleapis.com/v1/places:searchText",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Goog-Api-Key",
                "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
              },
              {
                "name": "X-Goog-FieldMask",
                "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          976,
          144
        ],
        "id": "e2eb609f-456a-4ea8-bec4-5f17a1685c5c",
        "name": "Get Places2"
      },
      {
        "parameters": {
          "tableId": "leads",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "business_name",
                "fieldValue": "={{ $json.displayName.text }}"
              },
              {
                "fieldId": "niche",
                "fieldValue": "={{ $('Edit Fields').item.json.query }}"
              },
              {
                "fieldId": "location",
                "fieldValue": "={{ $('Edit Fields').item.json.location }}"
              },
              {
                "fieldId": "address",
                "fieldValue": "={{ $json.formattedAddress }}"
              },
              {
                "fieldId": "phone",
                "fieldValue": "={{ $json.nationalPhoneNumber }}"
              },
              {
                "fieldId": "website",
                "fieldValue": "={{ $json.websiteUri }}"
              },
              {
                "fieldId": "google_place_id",
                "fieldValue": "={{ $json.id }}"
              },
              {
                "fieldId": "rating",
                "fieldValue": "={{ $json.rating }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          704,
          -288
        ],
        "id": "b0441312-917c-4dd0-9900-e32b6d71dbeb",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "tableId": "leads",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "business_name",
                "fieldValue": "={{ $json.displayName.text }}"
              },
              {
                "fieldId": "niche",
                "fieldValue": "={{ $('Edit Fields').item.json.query }}"
              },
              {
                "fieldId": "location",
                "fieldValue": "={{ $('Edit Fields').item.json.location }}"
              },
              {
                "fieldId": "address",
                "fieldValue": "={{ $json.formattedAddress }}"
              },
              {
                "fieldId": "phone",
                "fieldValue": "={{ $json.nationalPhoneNumber }}"
              },
              {
                "fieldId": "website",
                "fieldValue": "={{ $json.websiteUri }}"
              },
              {
                "fieldId": "google_place_id",
                "fieldValue": "={{ $json.id }}"
              },
              {
                "fieldId": "rating",
                "fieldValue": "={{ $json.rating }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1616,
          -80
        ],
        "id": "4b1ba1c1-4994-4418-a48d-0b6410c08c66",
        "name": "Create a row3",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "tableId": "leads",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "business_name",
                "fieldValue": "={{ $json.displayName.text }}"
              },
              {
                "fieldId": "niche",
                "fieldValue": "={{ $('Edit Fields').item.json.query }}"
              },
              {
                "fieldId": "location",
                "fieldValue": "={{ $('Edit Fields').item.json.location }}"
              },
              {
                "fieldId": "address",
                "fieldValue": "={{ $json.formattedAddress }}"
              },
              {
                "fieldId": "phone",
                "fieldValue": "={{ $json.nationalPhoneNumber }}"
              },
              {
                "fieldId": "website",
                "fieldValue": "={{ $json.websiteUri }}"
              },
              {
                "fieldId": "google_place_id",
                "fieldValue": "={{ $json.id }}"
              },
              {
                "fieldId": "rating",
                "fieldValue": "={{ $json.rating }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1600,
          144
        ],
        "id": "1c169cd1-6bf1-4c2d-aeb6-673dbd64cd22",
        "name": "Create a row4",
        "credentials": {
          "supabaseApi": {
            "id": "4UcvDgBqf10SrNQ1",
            "name": "Supabase account 2"
          }
        }
      },
      {
        "parameters": {
          "path": "aa258b23-0b4e-48d7-aab9-de7f3d20538e",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -400,
          -16
        ],
        "id": "b80fd16d-4c79-4d3e-8b2c-934549009e19",
        "name": "Webhook",
        "webhookId": "aa258b23-0b4e-48d7-aab9-de7f3d20538e"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1808,
          144
        ],
        "id": "acfaa9bc-621b-4ddc-9c10-9895e23d46b4",
        "name": "Wait2",
        "webhookId": "5d69b4f2-5e24-4bce-b6d8-59b69bc2aaa3"
      },
      {
        "parameters": {
          "url": "https://n8n.35.225.222.54.sslip.io/webhook-test/77e4adf5-cd8f-4ef5-9862-18770879dbe6",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"run_id\": \"{{ $('Webhook').item.json.query.run_id }}\" }",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2000,
          144
        ],
        "id": "126885b6-90af-4fce-a1c2-292a3250d787",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "url": "https://apdxwrqulwljzyhrixrv.supabase.co/rest/v1/run_status",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZHh3cnF1bHdsanp5aHJpeHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMjY0MjcsImV4cCI6MjA5NjkwMjQyN30.IrJtYGOPRUcXCmlMkbbk4nZG68guOFuvQ7XqLE9S-lg"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"run_id\": \"{{ $json.query.run_id }}\",\n  \"stage\": \"Discovering Leads\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -176,
          -288
        ],
        "id": "dd002bc0-ae8b-48ee-adb3-474be5ae3c40",
        "name": "HTTP Request1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "maxItems": 2
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1392,
          -80
        ],
        "id": "8463c10c-363d-464d-9c42-4dc749cb0a5a",
        "name": "Limit"
      },
      {
        "parameters": {
          "maxItems": 2
        },
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1392,
          144
        ],
        "id": "eda23755-9d0e-4d4d-be62-a26fa2f63acc",
        "name": "Limit1"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get cordinetes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get cordinetes": {
        "main": [
          [
            {
              "node": "Get Places",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Places": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "Get Places1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Update row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row(s)": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Places1": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Get row(s)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "Get Places2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out2": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Places2": {
        "main": [
          [
            {
              "node": "Split Out2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row3": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row4": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Create a row3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Create a row4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "senul adeeth",
    "name": "Version a2840791",
    "description": "",
    "autosaved": true
  },
  "tags": []
}