workflows/inactive/1-lead-generation-CBlPYXtj9mwZek3V.json
{
  "updatedAt": "2026-06-16T17:23:40.820Z",
  "createdAt": "2026-05-02T10:27:11.299Z",
  "id": "CBlPYXtj9mwZek3V",
  "name": "1. Lead generation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        528,
        -80
      ],
      "id": "6bace908-a80e-4095-a702-56800d3c4628",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95965a6b-baf5-46c5-852e-a88a4be04d9f",
              "name": "Google_Maps_API",
              "value": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
              "type": "string"
            },
            {
              "id": "e0a9a743-f310-4eea-bfe4-55d5a25effd9",
              "name": "query",
              "value": "recruitment agency",
              "type": "string"
            },
            {
              "id": "1c7f4e33-3c43-4c3a-8fd8-b42d168c2fc7",
              "name": "location",
              "value": "Sheffield",
              "type": "string"
            },
            {
              "id": "b8da2aea-848e-4b55-912a-e60ff2e01cec",
              "name": "radius",
              "value": "1000",
              "type": "string"
            },
            {
              "id": "f8588993-203f-4fdd-a4d1-e1c32b3fd44b",
              "name": "Spreadsheet_id",
              "value": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
              "type": "string"
            },
            {
              "id": "90c98d91-f6e0-4592-8024-0e5b3066d225",
              "name": "sheet_name",
              "value": "sheet 1",
              "type": "string"
            },
            {
              "id": "33ddb2c0-29b3-4800-a69a-3d9affd9f613",
              "name": "Max_Item",
              "value": 300,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -80
      ],
      "id": "e1ac1ed4-7bb4-4089-a686-a754405a5d2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.location }}"
            },
            {
              "name": "key",
              "value": "=AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        -80
      ],
      "id": "bc095523-5a6c-405f-960d-61e241a0b83b",
      "name": "Get cordinetes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query }} {{ $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $('Edit Fields').item.json.radius }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        -80
      ],
      "id": "0c4205e5-7819-41b2-bd13-f9cdd060496a",
      "name": "Get Places"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        -80
      ],
      "id": "d9e8937a-9b01-4c2f-91cd-162a93726933",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        -80
      ],
      "id": "b1321895-ce57-42e5-a1a6-06a828a9f8cf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places').item.json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1552,
        -80
      ],
      "id": "3470c654-8a91-4ee4-a669-81e4a32dca9f",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        -80
      ],
      "id": "0ad8b642-c37c-4ae9-80cd-0d70f5a106c6",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        128
      ],
      "id": "68d79264-9948-44a5-b4d6-7b6918a7c99c",
      "name": "Wait",
      "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        128
      ],
      "id": "f6a6aed6-ab9f-495d-b965-2d4c77802898",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1600,
        128
      ],
      "id": "b722b4ea-6cb2-48cc-9b63-f59c88b0c948",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1920,
        128
      ],
      "id": "05a1aae8-3e59-44a3-b557-81edcb3fe3c8",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places1').first().json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2064,
        128
      ],
      "id": "ffa31f8c-0371-4bc4-bbbc-a5f0cb7ee665",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        128
      ],
      "id": "2a5a74b2-6bab-44cf-ad2a-1f78c8990d83",
      "name": "Get Places1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        128
      ],
      "id": "a3f200ac-331f-4f3f-9bad-a74f66bf5471",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1b7d000-1d04-4bdf-aa35-6d10e62d19ef",
              "leftValue": "={{ $json.num_businesses }}",
              "rightValue": "={{ $('Edit Fields').item.json.Max_Item }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1984,
        320
      ],
      "id": "43204956-875d-4df7-af2d-15af96854c9c",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA",
          "mode": "list",
          "cachedResultName": "Step 1 - Recruitment agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rating": "={{ $json.rating }}",
            "company name": "={{ $json.displayName.text }}",
            "place id": "={{ $json.id }}",
            "national phonenumber": "={{ $json.nationalPhoneNumber }}",
            "international phone number": "=*{{ $json.internationalPhoneNumber }}",
            "website url": "={{ $json.websiteUri }}",
            "format address": "={{ $json.formattedAddress }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "national phonenumber",
              "displayName": "national phonenumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "international phone number",
              "displayName": "international phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website url",
              "displayName": "website url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "format address",
              "displayName": "format address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        128
      ],
      "id": "8c1a4e9f-a333-416e-b19b-3e19adaa9ca9",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA",
          "mode": "list",
          "cachedResultName": "Step 1 - Recruitment agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rating": "={{ $json.rating }}",
            "company name": "={{ $json.displayName.text }}",
            "place id": "={{ $json.id }}",
            "national phonenumber": "={{ $json.nationalPhoneNumber }}",
            "international phone number": "=*{{ $json.internationalPhoneNumber }}",
            "website url": "={{ $json.websiteUri }}",
            "format address": "={{ $json.formattedAddress }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "national phonenumber",
              "displayName": "national phonenumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "international phone number",
              "displayName": "international phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website url",
              "displayName": "website url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "format address",
              "displayName": "format address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -80
      ],
      "id": "a7319e6f-63ed-4678-be26-f21f601cc704",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4b9d5ed-110b-41a6-aca5-088d137a2ebc",
              "name": "num_businesses",
              "value": "={{ $json.displayName.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        320
      ],
      "id": "7ab08993-5607-4ece-aff3-92d47e0e4212",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1568,
        320
      ],
      "id": "4b5b2329-081b-49c0-9415-cf20b7ac80f1",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o6pC5TnqDNkCWgpqoLJQL4AejtEcBmmLQsVCViUFhTA",
          "mode": "list",
          "cachedResultName": "Step 1 - Round 2 - Get Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o6pC5TnqDNkCWgpqoLJQL4AejtEcBmmLQsVCViUFhTA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o6pC5TnqDNkCWgpqoLJQL4AejtEcBmmLQsVCViUFhTA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        320
      ],
      "id": "b795ab29-dbf3-491a-8254-538a618115ac",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get cordinetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get cordinetes": {
      "main": [
        [
          {
            "node": "Get Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Get Places1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        []
      ]
    },
    "If2": {
      "main": [
        [],
        []
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "29202071-e12a-465a-8688-14a7cd71ef2a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T10:27:11.302Z",
      "createdAt": "2026-05-02T10:27:11.302Z",
      "role": "workflow:owner",
      "workflowId": "CBlPYXtj9mwZek3V",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}