workflows/inactive/1-lead-automation-hgzJ9PxAll3Fe9BK.json
{
  "updatedAt": "2026-06-16T17:57:51.302Z",
  "createdAt": "2026-06-16T17:23:15.561Z",
  "id": "hgzJ9PxAll3Fe9BK",
  "name": "1 - lead automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -176
      ],
      "id": "16766bd2-4122-4cbe-87c6-3894721cff3b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95965a6b-baf5-46c5-852e-a88a4be04d9f",
              "name": "Google_Maps_API",
              "value": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
              "type": "string"
            },
            {
              "id": "e0a9a743-f310-4eea-bfe4-55d5a25effd9",
              "name": "query",
              "value": "recruitment agency",
              "type": "string"
            },
            {
              "id": "1c7f4e33-3c43-4c3a-8fd8-b42d168c2fc7",
              "name": "location",
              "value": "Sheffield",
              "type": "string"
            },
            {
              "id": "b8da2aea-848e-4b55-912a-e60ff2e01cec",
              "name": "radius",
              "value": "1000",
              "type": "string"
            },
            {
              "id": "f8588993-203f-4fdd-a4d1-e1c32b3fd44b",
              "name": "Spreadsheet_id",
              "value": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
              "type": "string"
            },
            {
              "id": "90c98d91-f6e0-4592-8024-0e5b3066d225",
              "name": "sheet_name",
              "value": "sheet 1",
              "type": "string"
            },
            {
              "id": "33ddb2c0-29b3-4800-a69a-3d9affd9f613",
              "name": "Max_Item",
              "value": 300,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -176
      ],
      "id": "cc5d62a9-d27f-45c9-b604-ea50673cb7d4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.location }}"
            },
            {
              "name": "key",
              "value": "=AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        -176
      ],
      "id": "9c7aac30-5ba5-4f44-b466-5bf9c83ad927",
      "name": "Get cordinetes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query }} {{ $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $('Edit Fields').item.json.radius }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -176
      ],
      "id": "09dddd84-49f8-4e0e-8e8c-4d306b1e2bbc",
      "name": "Get Places"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        -176
      ],
      "id": "b917a68e-4b67-4e32-bca0-a84a43f04862",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "business_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        -176
      ],
      "id": "a312ce56-ff33-44a3-8bf0-4b1040b638a7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places').item.json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        896,
        -176
      ],
      "id": "78bbfef6-f0a8-43dd-9576-b80f41a311dd",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1280,
        -176
      ],
      "id": "ba9740ac-f859-45e9-89c0-191906888d18",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        32
      ],
      "id": "05376023-47d2-4808-9531-fd177c3c86e3",
      "name": "Wait",
      "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        432,
        32
      ],
      "id": "99aac5b5-efd3-4826-927b-931453db5925",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        944,
        32
      ],
      "id": "eeb23d29-fc94-41f2-a0f0-8c5a4f7486d5",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1408,
        32
      ],
      "id": "1c85c2a1-dbde-4236-a6e5-4e4074c3b324",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places1').first().json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1616,
        32
      ],
      "id": "7717cd19-2ed1-438a-afea-62a131c6d4f3",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        32
      ],
      "id": "c2cb4244-8e2f-4d26-9aad-18a55d5b67a6",
      "name": "Get Places1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        32
      ],
      "id": "40621e63-6865-4bc5-8616-32d8875c8a12",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        256
      ],
      "id": "9d336927-fe78-41cb-9fd2-3cc05783ea41",
      "name": "Wait1",
      "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        544,
        256
      ],
      "id": "3cf3cc91-e21b-41a6-8d3a-d2dd5de01cf6",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        944,
        256
      ],
      "id": "da7ee3cf-f13a-4533-9b18-5c4620ea8659",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        256
      ],
      "id": "cf80a80a-c822-4864-8a01-18623b54cd9d",
      "name": "Get Places2"
    },
    {
      "parameters": {
        "path": "11f57dcf-e533-48ee-9d45-e7c9b36d2591",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        16
      ],
      "id": "7c72047f-2ccb-4755-80e3-c4551d71aef5",
      "name": "Webhook",
      "webhookId": "11f57dcf-e533-48ee-9d45-e7c9b36d2591"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $json.displayName.text }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Edit Fields').item.json.query }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Edit Fields').item.json.location }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.formattedAddress }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.nationalPhoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.websiteUri }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        -176
      ],
      "id": "72541660-551b-4162-9379-82380b7cf761",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $json.displayName.text }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Edit Fields').item.json.query }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Edit Fields').item.json.location }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.formattedAddress }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.nationalPhoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.websiteUri }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1168,
        32
      ],
      "id": "5a9f8d20-e16d-4f6d-a177-bea707db4d7b",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $json.displayName.text }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Edit Fields').item.json.query }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('Edit Fields').item.json.location }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.formattedAddress }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.nationalPhoneNumber }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.websiteUri }}"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        256
      ],
      "id": "a2046a6c-be28-4273-9a03-d7391bbb3086",
      "name": "Create a row4",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get cordinetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get cordinetes": {
      "main": [
        [
          {
            "node": "Get Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Get Places1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Get Places2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Create a row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row4": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Split Out": [
      {
        "json": {
          "id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
          "nationalPhoneNumber": "0114 228 8901",
          "internationalPhoneNumber": "+44 114 228 8901",
          "formattedAddress": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
          "rating": 4.7,
          "websiteUri": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
          "displayName": {
            "text": "Reed Recruitment Agency"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
          "nationalPhoneNumber": "0114 282 1281",
          "internationalPhoneNumber": "+44 114 282 1281",
          "formattedAddress": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
          "rating": 5,
          "websiteUri": "http://andyfileassociates.com/",
          "displayName": {
            "text": "Andy File Associates Ltd - Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
          "nationalPhoneNumber": "0114 303 8055",
          "internationalPhoneNumber": "+44 114 303 8055",
          "formattedAddress": "6-8 South St, Sheffield S2 5QY, UK",
          "rating": 4.9,
          "websiteUri": "http://www.alphajobs.net/",
          "displayName": {
            "text": "Alpha Recruitment #AlphaJobs"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
          "nationalPhoneNumber": "0114 223 6000",
          "internationalPhoneNumber": "+44 114 223 6000",
          "formattedAddress": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
          "rating": 4.9,
          "websiteUri": "http://www.chase-rec.com/",
          "displayName": {
            "text": "Chase Recruitment Limited"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
          "nationalPhoneNumber": "0114 553 7111",
          "internationalPhoneNumber": "+44 114 553 7111",
          "formattedAddress": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
          "rating": 5,
          "websiteUri": "http://www.link2recruitment.co.uk/",
          "displayName": {
            "text": "Link2 Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
          "nationalPhoneNumber": "07714 771600",
          "internationalPhoneNumber": "+44 7714 771600",
          "formattedAddress": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.9,
          "websiteUri": "https://www.benchmarkrecruit.co.uk/",
          "displayName": {
            "text": "Benchmark Recruit"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
          "nationalPhoneNumber": "0114 278 6600",
          "internationalPhoneNumber": "+44 114 278 6600",
          "formattedAddress": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
          "rating": 4.7,
          "websiteUri": "http://www.suerossrecruitment.co.uk/",
          "displayName": {
            "text": "Sue Ross Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
          "nationalPhoneNumber": "0114 700 3533",
          "internationalPhoneNumber": "+44 114 700 3533",
          "formattedAddress": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 5,
          "websiteUri": "https://www.page1recruitment.co.uk/",
          "displayName": {
            "text": "Page 1 Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
          "nationalPhoneNumber": "0114 287 0650",
          "internationalPhoneNumber": "+44 114 287 0650",
          "formattedAddress": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
          "rating": 4.9,
          "websiteUri": "https://www.twrecruitment.com/sheffield",
          "displayName": {
            "text": "Tradewind Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJrYle83h4eUgRex-1ObbiuFw",
          "nationalPhoneNumber": "0114 272 2600",
          "internationalPhoneNumber": "+44 114 272 2600",
          "formattedAddress": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
          "rating": 4.3,
          "websiteUri": "https://www.bluearrow.co.uk/jobs/",
          "displayName": {
            "text": "Blue Arrow Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
          "nationalPhoneNumber": "0114 276 0501",
          "internationalPhoneNumber": "+44 114 276 0501",
          "formattedAddress": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
          "rating": 4.3,
          "websiteUri": "http://www.forde-recruitment.co.uk/",
          "displayName": {
            "text": "Forde Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
          "nationalPhoneNumber": "0330 390 3050",
          "internationalPhoneNumber": "+44 330 390 3050",
          "formattedAddress": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.2,
          "websiteUri": "https://www.michaelpage.co.uk/contact-us/leeds-office",
          "displayName": {
            "text": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
          "nationalPhoneNumber": "0333 577 0882",
          "internationalPhoneNumber": "+44 333 577 0882",
          "formattedAddress": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.8,
          "websiteUri": "https://divine247.co.uk/",
          "displayName": {
            "text": "Divine 247 Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
          "nationalPhoneNumber": "020 3826 6040",
          "internationalPhoneNumber": "+44 20 3826 6040",
          "formattedAddress": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "rating": 4.1,
          "websiteUri": "http://www.tfshealthcare.co.uk/",
          "displayName": {
            "text": "TFS Healthcare"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
          "nationalPhoneNumber": "0114 276 0536",
          "internationalPhoneNumber": "+44 114 276 0536",
          "formattedAddress": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
          "rating": 3.7,
          "websiteUri": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
          "displayName": {
            "text": "Hays Recruitment Agency - Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
          "nationalPhoneNumber": "0114 551 5555",
          "internationalPhoneNumber": "+44 114 551 5555",
          "formattedAddress": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
          "rating": 4.9,
          "websiteUri": "http://www.tsrecruitment.co.uk/",
          "displayName": {
            "text": "TSR Recruitment - Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
          "nationalPhoneNumber": "0114 275 7744",
          "internationalPhoneNumber": "+44 114 275 7744",
          "formattedAddress": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
          "rating": 4.5,
          "websiteUri": "https://www.aforappointments.com/",
          "displayName": {
            "text": "A for Appointments"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJnTXm8dSDeUgR-62giEETDEw",
          "nationalPhoneNumber": "07715 454545",
          "internationalPhoneNumber": "+44 7715 454545",
          "formattedAddress": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
          "rating": 5,
          "websiteUri": "http://www.amrl.co.uk/",
          "displayName": {
            "text": "Anna Maher Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
          "nationalPhoneNumber": "0114 491 0370",
          "internationalPhoneNumber": "+44 114 491 0370",
          "formattedAddress": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
          "rating": 5,
          "websiteUri": "http://lodestonerecruitment.co.uk/",
          "displayName": {
            "text": "Lodestone Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJL76VwXqCeUgROYmEPTPx8QI",
          "nationalPhoneNumber": "0114 436 6366",
          "internationalPhoneNumber": "+44 114 436 6366",
          "formattedAddress": "2nd Floor, 32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "rating": 4.7,
          "websiteUri": "http://www.psrsolutions.co.uk/",
          "displayName": {
            "text": "PSR Solutions (Sheffield)"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Places": [
      {
        "json": {
          "places": [
            {
              "id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
              "nationalPhoneNumber": "0114 228 8901",
              "internationalPhoneNumber": "+44 114 228 8901",
              "formattedAddress": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
              "rating": 4.7,
              "websiteUri": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
              "displayName": {
                "text": "Reed Recruitment Agency"
              }
            },
            {
              "id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
              "nationalPhoneNumber": "0114 282 1281",
              "internationalPhoneNumber": "+44 114 282 1281",
              "formattedAddress": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
              "rating": 5,
              "websiteUri": "http://andyfileassociates.com/",
              "displayName": {
                "text": "Andy File Associates Ltd - Recruitment"
              }
            },
            {
              "id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
              "nationalPhoneNumber": "0114 303 8055",
              "internationalPhoneNumber": "+44 114 303 8055",
              "formattedAddress": "6-8 South St, Sheffield S2 5QY, UK",
              "rating": 4.9,
              "websiteUri": "http://www.alphajobs.net/",
              "displayName": {
                "text": "Alpha Recruitment #AlphaJobs"
              }
            },
            {
              "id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
              "nationalPhoneNumber": "0114 223 6000",
              "internationalPhoneNumber": "+44 114 223 6000",
              "formattedAddress": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
              "rating": 4.9,
              "websiteUri": "http://www.chase-rec.com/",
              "displayName": {
                "text": "Chase Recruitment Limited"
              }
            },
            {
              "id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
              "nationalPhoneNumber": "0114 553 7111",
              "internationalPhoneNumber": "+44 114 553 7111",
              "formattedAddress": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
              "rating": 5,
              "websiteUri": "http://www.link2recruitment.co.uk/",
              "displayName": {
                "text": "Link2 Recruitment"
              }
            },
            {
              "id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
              "nationalPhoneNumber": "07714 771600",
              "internationalPhoneNumber": "+44 7714 771600",
              "formattedAddress": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.9,
              "websiteUri": "https://www.benchmarkrecruit.co.uk/",
              "displayName": {
                "text": "Benchmark Recruit"
              }
            },
            {
              "id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
              "nationalPhoneNumber": "0114 278 6600",
              "internationalPhoneNumber": "+44 114 278 6600",
              "formattedAddress": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
              "rating": 4.7,
              "websiteUri": "http://www.suerossrecruitment.co.uk/",
              "displayName": {
                "text": "Sue Ross Recruitment Ltd"
              }
            },
            {
              "id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
              "nationalPhoneNumber": "0114 700 3533",
              "internationalPhoneNumber": "+44 114 700 3533",
              "formattedAddress": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 5,
              "websiteUri": "https://www.page1recruitment.co.uk/",
              "displayName": {
                "text": "Page 1 Recruitment"
              }
            },
            {
              "id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
              "nationalPhoneNumber": "0114 287 0650",
              "internationalPhoneNumber": "+44 114 287 0650",
              "formattedAddress": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
              "rating": 4.9,
              "websiteUri": "https://www.twrecruitment.com/sheffield",
              "displayName": {
                "text": "Tradewind Recruitment"
              }
            },
            {
              "id": "ChIJrYle83h4eUgRex-1ObbiuFw",
              "nationalPhoneNumber": "0114 272 2600",
              "internationalPhoneNumber": "+44 114 272 2600",
              "formattedAddress": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
              "rating": 4.3,
              "websiteUri": "https://www.bluearrow.co.uk/jobs/",
              "displayName": {
                "text": "Blue Arrow Sheffield"
              }
            },
            {
              "id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
              "nationalPhoneNumber": "0114 276 0501",
              "internationalPhoneNumber": "+44 114 276 0501",
              "formattedAddress": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
              "rating": 4.3,
              "websiteUri": "http://www.forde-recruitment.co.uk/",
              "displayName": {
                "text": "Forde Recruitment Ltd"
              }
            },
            {
              "id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
              "nationalPhoneNumber": "0330 390 3050",
              "internationalPhoneNumber": "+44 330 390 3050",
              "formattedAddress": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.2,
              "websiteUri": "https://www.michaelpage.co.uk/contact-us/leeds-office",
              "displayName": {
                "text": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds"
              }
            },
            {
              "id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
              "nationalPhoneNumber": "0333 577 0882",
              "internationalPhoneNumber": "+44 333 577 0882",
              "formattedAddress": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.8,
              "websiteUri": "https://divine247.co.uk/",
              "displayName": {
                "text": "Divine 247 Recruitment Ltd"
              }
            },
            {
              "id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
              "nationalPhoneNumber": "020 3826 6040",
              "internationalPhoneNumber": "+44 20 3826 6040",
              "formattedAddress": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
              "rating": 4.1,
              "websiteUri": "http://www.tfshealthcare.co.uk/",
              "displayName": {
                "text": "TFS Healthcare"
              }
            },
            {
              "id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
              "nationalPhoneNumber": "0114 276 0536",
              "internationalPhoneNumber": "+44 114 276 0536",
              "formattedAddress": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
              "rating": 3.7,
              "websiteUri": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
              "displayName": {
                "text": "Hays Recruitment Agency - Sheffield"
              }
            },
            {
              "id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
              "nationalPhoneNumber": "0114 551 5555",
              "internationalPhoneNumber": "+44 114 551 5555",
              "formattedAddress": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
              "rating": 4.9,
              "websiteUri": "http://www.tsrecruitment.co.uk/",
              "displayName": {
                "text": "TSR Recruitment - Sheffield"
              }
            },
            {
              "id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
              "nationalPhoneNumber": "0114 275 7744",
              "internationalPhoneNumber": "+44 114 275 7744",
              "formattedAddress": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
              "rating": 4.5,
              "websiteUri": "https://www.aforappointments.com/",
              "displayName": {
                "text": "A for Appointments"
              }
            },
            {
              "id": "ChIJnTXm8dSDeUgR-62giEETDEw",
              "nationalPhoneNumber": "07715 454545",
              "internationalPhoneNumber": "+44 7715 454545",
              "formattedAddress": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
              "rating": 5,
              "websiteUri": "http://www.amrl.co.uk/",
              "displayName": {
                "text": "Anna Maher Recruitment"
              }
            },
            {
              "id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
              "nationalPhoneNumber": "0114 491 0370",
              "internationalPhoneNumber": "+44 114 491 0370",
              "formattedAddress": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
              "rating": 5,
              "websiteUri": "http://lodestonerecruitment.co.uk/",
              "displayName": {
                "text": "Lodestone Recruitment Ltd"
              }
            },
            {
              "id": "ChIJL76VwXqCeUgROYmEPTPx8QI",
              "nationalPhoneNumber": "0114 436 6366",
              "internationalPhoneNumber": "+44 114 436 6366",
              "formattedAddress": "2nd Floor, 32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
              "rating": 4.7,
              "websiteUri": "http://www.psrsolutions.co.uk/",
              "displayName": {
                "text": "PSR Solutions (Sheffield)"
              }
            }
          ],
          "nextPageToken": "AaVGc3lwBmCy_vwUtpDLAyuUQssJ6UOYgGEL_VQ3BXOb2q6wKNTwCvtBMPDytdOglFzjxb0KZHGdwp31bqposMk1q26662tbcYjRCHEq4bGGUHaXPsXvSWXLxyMzl4OKc3xOPGgY11fCVM05-HKwWD9TjW3a1DJnvjAdmf_YCR-htV3bf9_XR4jIk2HjU7tDZRL9p0Fzl8eG9H8BcHb1mkXN97dA2bn3O3ZDpzd1_7Gmx7pj8Qo6bOe6PfUFctMtZu7GiQzl8vFNxXbPpAWziTQoO3lVAS8fGxTO2wAENVx9kxDuorOgfLAKMwS4-8eW7KPSxoK3ZF3D8MbPIRoHLQie7kSRUoZopjNQfPlPjXudMyx9s_2P5rkNInD5vdxGJmSbXHvVTbLduvGqurNxDLeUSYXm6N4g1M9aDj5YjdI_wvX5ZXQ4V9LZMUsUu-cKIV4IsGha8GLobOdol5WFb7l1ESSEKrmgYKeweZrE_zz7XPGBrI7gx1FALi4lSIW1WUncS14g3WRj9dyyO_et9AERQBDpoj8yVXcctnsPXTJjnnHIunjlm8ZytFs9UlMeRe-1hg5c1D_TG4_5HiPcpgehKgAFXU7Dj4IOWHzh92kJMv_p5tv6iDjwPLf3BEh5oZ_X41avKfxbEC0Iu0eCcHoaXddryUx61_me0OnssH3-FtAwklOKHtIbJEYHvb6iNOTaPsQXXEqi1oW2gBHnfMh4px3tVRu2TlDIav5a-7nVxkun8oV9LASEGJk84uiQ1GAN3I2lkrY9lw5PvKTe72nHahrGqlja1cqmOTR5RRgRlk6AKL07B65a7sLOJOJUzldpQvsWbilqWUVU"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get cordinetes": [
      {
        "json": {
          "results": [
            {
              "address_components": [
                {
                  "long_name": "Sheffield",
                  "short_name": "Sheffield",
                  "types": [
                    "locality",
                    "political"
                  ]
                },
                {
                  "long_name": "South Yorkshire",
                  "short_name": "South Yorkshire",
                  "types": [
                    "administrative_area_level_2",
                    "political"
                  ]
                },
                {
                  "long_name": "England",
                  "short_name": "England",
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ]
                },
                {
                  "long_name": "United Kingdom",
                  "short_name": "GB",
                  "types": [
                    "country",
                    "political"
                  ]
                }
              ],
              "formatted_address": "Sheffield, UK",
              "geometry": {
                "bounds": {
                  "northeast": {
                    "lat": 53.4868828,
                    "lng": -1.334953
                  },
                  "southwest": {
                    "lat": 53.3045505,
                    "lng": -1.6639593
                  }
                },
                "location": {
                  "lat": 53.38112899999999,
                  "lng": -1.470085
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                  "northeast": {
                    "lat": 53.4868828,
                    "lng": -1.334953
                  },
                  "southwest": {
                    "lat": 53.3045505,
                    "lng": -1.6639593
                  }
                }
              },
              "place_id": "ChIJFb7o-qkKeUgReLAGr_UnKD4",
              "types": [
                "locality",
                "political"
              ]
            }
          ],
          "status": "OK"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "Google_Maps_API": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
          "query": "recruitment agency",
          "location": "Sheffield",
          "radius": "1000",
          "Spreadsheet_id": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
          "sheet_name": "sheet 1",
          "Max_Item": 300
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create a row": [
      {
        "json": {
          "id": "8602a78e-e812-440d-b0ef-07dc87c43237",
          "business_name": "Reed Recruitment Agency",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
          "phone": "0114 228 8901",
          "website": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
          "google_place_id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "f356caf9-51f7-4c1b-a66d-8688dd6ea4c9",
          "business_name": "Andy File Associates Ltd - Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
          "phone": "0114 282 1281",
          "website": "http://andyfileassociates.com/",
          "google_place_id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "ef0bb56d-8b7d-4b68-bb17-7d1f922b6373",
          "business_name": "Alpha Recruitment #AlphaJobs",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "6-8 South St, Sheffield S2 5QY, UK",
          "phone": "0114 303 8055",
          "website": "http://www.alphajobs.net/",
          "google_place_id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "204e69c7-f67d-4192-a70e-cb16b401bebf",
          "business_name": "Chase Recruitment Limited",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
          "phone": "0114 223 6000",
          "website": "http://www.chase-rec.com/",
          "google_place_id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "f64bb1ae-5cf1-4dc3-88c8-628aba064d29",
          "business_name": "Link2 Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
          "phone": "0114 553 7111",
          "website": "http://www.link2recruitment.co.uk/",
          "google_place_id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "id": "ed533357-4acc-47ec-975a-60a601a1eb55",
          "business_name": "Benchmark Recruit",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "07714 771600",
          "website": "https://www.benchmarkrecruit.co.uk/",
          "google_place_id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "id": "a4558fe5-323f-4f85-9abb-3f0808c98dd8",
          "business_name": "Sue Ross Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
          "phone": "0114 278 6600",
          "website": "http://www.suerossrecruitment.co.uk/",
          "google_place_id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "id": "3a798501-3aff-464e-a3ce-d9285cef64ec",
          "business_name": "Page 1 Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0114 700 3533",
          "website": "https://www.page1recruitment.co.uk/",
          "google_place_id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "id": "c1a3b7c7-51d4-448d-9321-7dd2ac93680c",
          "business_name": "Tradewind Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
          "phone": "0114 287 0650",
          "website": "https://www.twrecruitment.com/sheffield",
          "google_place_id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "id": "24df7536-1c0f-4ff9-9641-746e23bfa4f5",
          "business_name": "Blue Arrow Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
          "phone": "0114 272 2600",
          "website": "https://www.bluearrow.co.uk/jobs/",
          "google_place_id": "ChIJrYle83h4eUgRex-1ObbiuFw",
          "rating": 4.3,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "id": "adb8f453-8821-4447-adb6-dc579f165f0b",
          "business_name": "Forde Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
          "phone": "0114 276 0501",
          "website": "http://www.forde-recruitment.co.uk/",
          "google_place_id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
          "rating": 4.3,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "id": "d538ad4a-5b76-4fc4-ae57-43b560d792fd",
          "business_name": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0330 390 3050",
          "website": "https://www.michaelpage.co.uk/contact-us/leeds-office",
          "google_place_id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
          "rating": 4.2,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "id": "05ed1959-73a7-4616-a2ed-25b23877aa95",
          "business_name": "Divine 247 Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0333 577 0882",
          "website": "https://divine247.co.uk/",
          "google_place_id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "id": "ba65e192-6568-48ca-ac6d-e24a9233436e",
          "business_name": "TFS Healthcare",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "phone": "020 3826 6040",
          "website": "http://www.tfshealthcare.co.uk/",
          "google_place_id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
          "rating": 4.1,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "id": "876ecf34-f70e-408d-a32c-5c0f0f4dcf66",
          "business_name": "Hays Recruitment Agency - Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
          "phone": "0114 276 0536",
          "website": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
          "google_place_id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
          "rating": 3.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "id": "0df57c10-bb5a-48ef-b46c-0120eff5e79b",
          "business_name": "TSR Recruitment - Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
          "phone": "0114 551 5555",
          "website": "http://www.tsrecruitment.co.uk/",
          "google_place_id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "id": "aee7dec1-7c70-4e24-8fd2-61a291d8d992",
          "business_name": "A for Appointments",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
          "phone": "0114 275 7744",
          "website": "https://www.aforappointments.com/",
          "google_place_id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "id": "298a38ef-6f4c-4c79-b199-46f321865b5a",
          "business_name": "Anna Maher Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
          "phone": "07715 454545",
          "website": "http://www.amrl.co.uk/",
          "google_place_id": "ChIJnTXm8dSDeUgR-62giEETDEw",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "id": "1e5fd5f4-41e9-456d-9df8-547d901fee25",
          "business_name": "Lodestone Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
          "phone": "0114 491 0370",
          "website": "http://lodestonerecruitment.co.uk/",
          "google_place_id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "id": "b1e0744b-ccd0-49bb-b9c9-4f8997b41873",
          "business_name": "PSR Solutions (Sheffield)",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "2nd Floor, 32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "phone": "0114 436 6366",
          "website": "http://www.psrsolutions.co.uk/",
          "google_place_id": "ChIJL76VwXqCeUgROYmEPTPx8QI",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:42:07.395693+00:00",
          "updated_at": "2026-06-16T17:42:07.395693+00:00"
        },
        "pairedItem": {
          "item": 19
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "business_name": [
            "Reed Recruitment Agency",
            "Andy File Associates Ltd - Recruitment",
            "Alpha Recruitment #AlphaJobs",
            "Chase Recruitment Limited",
            "Link2 Recruitment",
            "Benchmark Recruit",
            "Sue Ross Recruitment Ltd",
            "Page 1 Recruitment",
            "Tradewind Recruitment",
            "Blue Arrow Sheffield",
            "Forde Recruitment Ltd",
            "Michael Page, Recruitment Agency Sheffield - now operated from Leeds",
            "Divine 247 Recruitment Ltd",
            "TFS Healthcare",
            "Hays Recruitment Agency - Sheffield",
            "TSR Recruitment - Sheffield",
            "A for Appointments",
            "Anna Maher Recruitment",
            "Lodestone Recruitment Ltd",
            "PSR Solutions (Sheffield)"
          ]
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          },
          {
            "item": 2
          },
          {
            "item": 3
          },
          {
            "item": 4
          },
          {
            "item": 5
          },
          {
            "item": 6
          },
          {
            "item": 7
          },
          {
            "item": 8
          },
          {
            "item": 9
          },
          {
            "item": 10
          },
          {
            "item": 11
          },
          {
            "item": 12
          },
          {
            "item": 13
          },
          {
            "item": 14
          },
          {
            "item": 15
          },
          {
            "item": 16
          },
          {
            "item": 17
          },
          {
            "item": 18
          },
          {
            "item": 19
          }
        ]
      }
    ],
    "Insert row": [
      {
        "json": {
          "nextpagetoken": "AaVGc3lwBmCy_vwUtpDLAyuUQssJ6UOYgGEL_VQ3BXOb2q6wKNTwCvtBMPDytdOglFzjxb0KZHGdwp31bqposMk1q26662tbcYjRCHEq4bGGUHaXPsXvSWXLxyMzl4OKc3xOPGgY11fCVM05-HKwWD9TjW3a1DJnvjAdmf_YCR-htV3bf9_XR4jIk2HjU7tDZRL9p0Fzl8eG9H8BcHb1mkXN97dA2bn3O3ZDpzd1_7Gmx7pj8Qo6bOe6PfUFctMtZu7GiQzl8vFNxXbPpAWziTQoO3lVAS8fGxTO2wAENVx9kxDuorOgfLAKMwS4-8eW7KPSxoK3ZF3D8MbPIRoHLQie7kSRUoZopjNQfPlPjXudMyx9s_2P5rkNInD5vdxGJmSbXHvVTbLduvGqurNxDLeUSYXm6N4g1M9aDj5YjdI_wvX5ZXQ4V9LZMUsUu-cKIV4IsGha8GLobOdol5WFb7l1ESSEKrmgYKeweZrE_zz7XPGBrI7gx1FALi4lSIW1WUncS14g3WRj9dyyO_et9AERQBDpoj8yVXcctnsPXTJjnnHIunjlm8ZytFs9UlMeRe-1hg5c1D_TG4_5HiPcpgehKgAFXU7Dj4IOWHzh92kJMv_p5tv6iDjwPLf3BEh5oZ_X41avKfxbEC0Iu0eCcHoaXddryUx61_me0OnssH3-FtAwklOKHtIbJEYHvb6iNOTaPsQXXEqi1oW2gBHnfMh4px3tVRu2TlDIav5a-7nVxkun8oV9LASEGJk84uiQ1GAN3I2lkrY9lw5PvKTe72nHahrGqlja1cqmOTR5RRgRlk6AKL07B65a7sLOJOJUzldpQvsWbilqWUVU",
          "id": 99,
          "createdAt": "2026-06-16T17:43:28.906Z",
          "updatedAt": "2026-06-16T17:43:28.906Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get row(s)": [
      {
        "json": {
          "nextpagetoken": "AaVGc3lwBmCy_vwUtpDLAyuUQssJ6UOYgGEL_VQ3BXOb2q6wKNTwCvtBMPDytdOglFzjxb0KZHGdwp31bqposMk1q26662tbcYjRCHEq4bGGUHaXPsXvSWXLxyMzl4OKc3xOPGgY11fCVM05-HKwWD9TjW3a1DJnvjAdmf_YCR-htV3bf9_XR4jIk2HjU7tDZRL9p0Fzl8eG9H8BcHb1mkXN97dA2bn3O3ZDpzd1_7Gmx7pj8Qo6bOe6PfUFctMtZu7GiQzl8vFNxXbPpAWziTQoO3lVAS8fGxTO2wAENVx9kxDuorOgfLAKMwS4-8eW7KPSxoK3ZF3D8MbPIRoHLQie7kSRUoZopjNQfPlPjXudMyx9s_2P5rkNInD5vdxGJmSbXHvVTbLduvGqurNxDLeUSYXm6N4g1M9aDj5YjdI_wvX5ZXQ4V9LZMUsUu-cKIV4IsGha8GLobOdol5WFb7l1ESSEKrmgYKeweZrE_zz7XPGBrI7gx1FALi4lSIW1WUncS14g3WRj9dyyO_et9AERQBDpoj8yVXcctnsPXTJjnnHIunjlm8ZytFs9UlMeRe-1hg5c1D_TG4_5HiPcpgehKgAFXU7Dj4IOWHzh92kJMv_p5tv6iDjwPLf3BEh5oZ_X41avKfxbEC0Iu0eCcHoaXddryUx61_me0OnssH3-FtAwklOKHtIbJEYHvb6iNOTaPsQXXEqi1oW2gBHnfMh4px3tVRu2TlDIav5a-7nVxkun8oV9LASEGJk84uiQ1GAN3I2lkrY9lw5PvKTe72nHahrGqlja1cqmOTR5RRgRlk6AKL07B65a7sLOJOJUzldpQvsWbilqWUVU",
          "id": 99,
          "createdAt": "2026-06-16T17:43:28.906Z",
          "updatedAt": "2026-06-16T17:43:28.906Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait": [
      {
        "json": {
          "nextpagetoken": "AaVGc3lwBmCy_vwUtpDLAyuUQssJ6UOYgGEL_VQ3BXOb2q6wKNTwCvtBMPDytdOglFzjxb0KZHGdwp31bqposMk1q26662tbcYjRCHEq4bGGUHaXPsXvSWXLxyMzl4OKc3xOPGgY11fCVM05-HKwWD9TjW3a1DJnvjAdmf_YCR-htV3bf9_XR4jIk2HjU7tDZRL9p0Fzl8eG9H8BcHb1mkXN97dA2bn3O3ZDpzd1_7Gmx7pj8Qo6bOe6PfUFctMtZu7GiQzl8vFNxXbPpAWziTQoO3lVAS8fGxTO2wAENVx9kxDuorOgfLAKMwS4-8eW7KPSxoK3ZF3D8MbPIRoHLQie7kSRUoZopjNQfPlPjXudMyx9s_2P5rkNInD5vdxGJmSbXHvVTbLduvGqurNxDLeUSYXm6N4g1M9aDj5YjdI_wvX5ZXQ4V9LZMUsUu-cKIV4IsGha8GLobOdol5WFb7l1ESSEKrmgYKeweZrE_zz7XPGBrI7gx1FALi4lSIW1WUncS14g3WRj9dyyO_et9AERQBDpoj8yVXcctnsPXTJjnnHIunjlm8ZytFs9UlMeRe-1hg5c1D_TG4_5HiPcpgehKgAFXU7Dj4IOWHzh92kJMv_p5tv6iDjwPLf3BEh5oZ_X41avKfxbEC0Iu0eCcHoaXddryUx61_me0OnssH3-FtAwklOKHtIbJEYHvb6iNOTaPsQXXEqi1oW2gBHnfMh4px3tVRu2TlDIav5a-7nVxkun8oV9LASEGJk84uiQ1GAN3I2lkrY9lw5PvKTe72nHahrGqlja1cqmOTR5RRgRlk6AKL07B65a7sLOJOJUzldpQvsWbilqWUVU",
          "id": 99,
          "createdAt": "2026-06-16T17:43:28.906Z",
          "updatedAt": "2026-06-16T17:43:28.906Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Places1": [
      {
        "json": {
          "places": [
            {
              "id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
              "nationalPhoneNumber": "0114 228 8901",
              "internationalPhoneNumber": "+44 114 228 8901",
              "formattedAddress": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
              "rating": 4.7,
              "websiteUri": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
              "displayName": {
                "text": "Reed Recruitment Agency"
              }
            },
            {
              "id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
              "nationalPhoneNumber": "0114 303 8055",
              "internationalPhoneNumber": "+44 114 303 8055",
              "formattedAddress": "6-8 South St, Sheffield S2 5QY, UK",
              "rating": 4.9,
              "websiteUri": "http://www.alphajobs.net/",
              "displayName": {
                "text": "Alpha Recruitment #AlphaJobs"
              }
            },
            {
              "id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
              "nationalPhoneNumber": "0114 553 7111",
              "internationalPhoneNumber": "+44 114 553 7111",
              "formattedAddress": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
              "rating": 5,
              "websiteUri": "http://www.link2recruitment.co.uk/",
              "displayName": {
                "text": "Link2 Recruitment"
              }
            },
            {
              "id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
              "nationalPhoneNumber": "0114 223 6000",
              "internationalPhoneNumber": "+44 114 223 6000",
              "formattedAddress": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
              "rating": 4.9,
              "websiteUri": "http://www.chase-rec.com/",
              "displayName": {
                "text": "Chase Recruitment Limited"
              }
            },
            {
              "id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
              "nationalPhoneNumber": "0114 282 1281",
              "internationalPhoneNumber": "+44 114 282 1281",
              "formattedAddress": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
              "rating": 5,
              "websiteUri": "http://andyfileassociates.com/",
              "displayName": {
                "text": "Andy File Associates Ltd - Recruitment"
              }
            },
            {
              "id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
              "nationalPhoneNumber": "07714 771600",
              "internationalPhoneNumber": "+44 7714 771600",
              "formattedAddress": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.9,
              "websiteUri": "https://www.benchmarkrecruit.co.uk/",
              "displayName": {
                "text": "Benchmark Recruit"
              }
            },
            {
              "id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
              "nationalPhoneNumber": "0114 278 6600",
              "internationalPhoneNumber": "+44 114 278 6600",
              "formattedAddress": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
              "rating": 4.7,
              "websiteUri": "http://www.suerossrecruitment.co.uk/",
              "displayName": {
                "text": "Sue Ross Recruitment Ltd"
              }
            },
            {
              "id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
              "nationalPhoneNumber": "0114 700 3533",
              "internationalPhoneNumber": "+44 114 700 3533",
              "formattedAddress": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 5,
              "websiteUri": "https://www.page1recruitment.co.uk/",
              "displayName": {
                "text": "Page 1 Recruitment"
              }
            },
            {
              "id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
              "nationalPhoneNumber": "0114 287 0650",
              "internationalPhoneNumber": "+44 114 287 0650",
              "formattedAddress": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
              "rating": 4.9,
              "websiteUri": "https://www.twrecruitment.com/sheffield",
              "displayName": {
                "text": "Tradewind Recruitment"
              }
            },
            {
              "id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
              "nationalPhoneNumber": "0114 276 0501",
              "internationalPhoneNumber": "+44 114 276 0501",
              "formattedAddress": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
              "rating": 4.3,
              "websiteUri": "http://www.forde-recruitment.co.uk/",
              "displayName": {
                "text": "Forde Recruitment Ltd"
              }
            },
            {
              "id": "ChIJrYle83h4eUgRex-1ObbiuFw",
              "nationalPhoneNumber": "0114 272 2600",
              "internationalPhoneNumber": "+44 114 272 2600",
              "formattedAddress": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
              "rating": 4.3,
              "websiteUri": "https://www.bluearrow.co.uk/jobs/",
              "displayName": {
                "text": "Blue Arrow Sheffield"
              }
            },
            {
              "id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
              "nationalPhoneNumber": "0330 390 3050",
              "internationalPhoneNumber": "+44 330 390 3050",
              "formattedAddress": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.2,
              "websiteUri": "https://www.michaelpage.co.uk/contact-us/leeds-office",
              "displayName": {
                "text": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds"
              }
            },
            {
              "id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
              "nationalPhoneNumber": "020 3826 6040",
              "internationalPhoneNumber": "+44 20 3826 6040",
              "formattedAddress": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
              "rating": 4.1,
              "websiteUri": "http://www.tfshealthcare.co.uk/",
              "displayName": {
                "text": "TFS Healthcare"
              }
            },
            {
              "id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
              "nationalPhoneNumber": "0333 577 0882",
              "internationalPhoneNumber": "+44 333 577 0882",
              "formattedAddress": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.8,
              "websiteUri": "https://divine247.co.uk/",
              "displayName": {
                "text": "Divine 247 Recruitment Ltd"
              }
            },
            {
              "id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
              "nationalPhoneNumber": "0114 276 0536",
              "internationalPhoneNumber": "+44 114 276 0536",
              "formattedAddress": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
              "rating": 3.7,
              "websiteUri": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
              "displayName": {
                "text": "Hays Recruitment Agency - Sheffield"
              }
            },
            {
              "id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
              "nationalPhoneNumber": "0114 551 5555",
              "internationalPhoneNumber": "+44 114 551 5555",
              "formattedAddress": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
              "rating": 4.9,
              "websiteUri": "http://www.tsrecruitment.co.uk/",
              "displayName": {
                "text": "TSR Recruitment - Sheffield"
              }
            },
            {
              "id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
              "nationalPhoneNumber": "0114 275 7744",
              "internationalPhoneNumber": "+44 114 275 7744",
              "formattedAddress": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
              "rating": 4.5,
              "websiteUri": "https://www.aforappointments.com/",
              "displayName": {
                "text": "A for Appointments"
              }
            },
            {
              "id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
              "nationalPhoneNumber": "0114 491 0370",
              "internationalPhoneNumber": "+44 114 491 0370",
              "formattedAddress": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
              "rating": 5,
              "websiteUri": "http://lodestonerecruitment.co.uk/",
              "displayName": {
                "text": "Lodestone Recruitment Ltd"
              }
            },
            {
              "id": "ChIJnTXm8dSDeUgR-62giEETDEw",
              "nationalPhoneNumber": "07715 454545",
              "internationalPhoneNumber": "+44 7715 454545",
              "formattedAddress": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
              "rating": 5,
              "websiteUri": "http://www.amrl.co.uk/",
              "displayName": {
                "text": "Anna Maher Recruitment"
              }
            },
            {
              "id": "ChIJhxZr1Xh4eUgRZddqZLcdBZ4",
              "nationalPhoneNumber": "0114 241 8030",
              "internationalPhoneNumber": "+44 114 241 8030",
              "formattedAddress": "51 Clarkegrove Rd, Broomhall, Sheffield S10 2NH, UK",
              "rating": 5,
              "websiteUri": "https://www.craconsultants.com/",
              "displayName": {
                "text": "CRA Consulting"
              }
            }
          ],
          "nextPageToken": "AaVGc3kw40JTzs9ZWsQsH2eIeXiH-SBPWTgHzszVjBdYHuS-iesF_Qaqlcv-ArsGwRR23yLcDv3MhA2i-Xj0jzdzkRBIubZBgl1QkcFI2cynHdqDzscyF534Rlk68nSKWPsY-GjR7VltrLk-k_AToVK8uELJBrPmYhSY7fwHnnOQfO_jNjPRuBOb6UlV5mCcAlYJqSK8M_iW1kHmDKscucyYdbom3PnLd20UVe8Pvf0WHo4sJLIi9lHEBQRupRdPhehlT_p0w18zuzv32JdBTJ1S0SfOIPsnW-sWEsZdSIqHBVyBHX-cZiwwwVGj4el6KRjuYvlh268kmWsSBw0LXQMUdVQ49CkV8opmJtMpEIMKtOM-FKHRd54W7kJefyw3BdfzqWJA3ayb4mASBZWMsqG1A9-wmlpHT6KvqEbpYw8Ad0ng4Xs4AvIXqKeAWrryIrGw1t_pdPoBhFFilX5U02HYVhzfvsdG3FeSpgkrCRQlpHFwTYXo3_J1zp4aK3g6hdO87qrM_Y33kIE_bFN7cAgVj8xN0u3mAT0-sUZ2sa7HvL-oWul6aPd9BTGxADlREbnVrB9ox7VKZw-BWCNd8NLocoG_fPvFir88o7pe5dgMdjMJ7MOF4JbZP1E20cOT3rdfq9IBcdHbJTB2rlYHS5A31iT1aEDXcVj1fOvu4q8R-BUaudXIIEIJwi_UewMsM6XTCn8wL9OP7kf4bWCHw3tLaGBvCFISS5lNISSyNEClCp9Rcd5QrJxWgTnH73OLHNGlcYGyo5_eZiblbIa1M4nqKchhbrva8A50aE6bUZS9ly0Kierjibsu1hdYih4QX98mbmovL7HS0cfB"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out1": [
      {
        "json": {
          "id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
          "nationalPhoneNumber": "0114 228 8901",
          "internationalPhoneNumber": "+44 114 228 8901",
          "formattedAddress": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
          "rating": 4.7,
          "websiteUri": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
          "displayName": {
            "text": "Reed Recruitment Agency"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
          "nationalPhoneNumber": "0114 303 8055",
          "internationalPhoneNumber": "+44 114 303 8055",
          "formattedAddress": "6-8 South St, Sheffield S2 5QY, UK",
          "rating": 4.9,
          "websiteUri": "http://www.alphajobs.net/",
          "displayName": {
            "text": "Alpha Recruitment #AlphaJobs"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
          "nationalPhoneNumber": "0114 553 7111",
          "internationalPhoneNumber": "+44 114 553 7111",
          "formattedAddress": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
          "rating": 5,
          "websiteUri": "http://www.link2recruitment.co.uk/",
          "displayName": {
            "text": "Link2 Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
          "nationalPhoneNumber": "0114 223 6000",
          "internationalPhoneNumber": "+44 114 223 6000",
          "formattedAddress": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
          "rating": 4.9,
          "websiteUri": "http://www.chase-rec.com/",
          "displayName": {
            "text": "Chase Recruitment Limited"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
          "nationalPhoneNumber": "0114 282 1281",
          "internationalPhoneNumber": "+44 114 282 1281",
          "formattedAddress": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
          "rating": 5,
          "websiteUri": "http://andyfileassociates.com/",
          "displayName": {
            "text": "Andy File Associates Ltd - Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
          "nationalPhoneNumber": "07714 771600",
          "internationalPhoneNumber": "+44 7714 771600",
          "formattedAddress": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.9,
          "websiteUri": "https://www.benchmarkrecruit.co.uk/",
          "displayName": {
            "text": "Benchmark Recruit"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
          "nationalPhoneNumber": "0114 278 6600",
          "internationalPhoneNumber": "+44 114 278 6600",
          "formattedAddress": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
          "rating": 4.7,
          "websiteUri": "http://www.suerossrecruitment.co.uk/",
          "displayName": {
            "text": "Sue Ross Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
          "nationalPhoneNumber": "0114 700 3533",
          "internationalPhoneNumber": "+44 114 700 3533",
          "formattedAddress": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 5,
          "websiteUri": "https://www.page1recruitment.co.uk/",
          "displayName": {
            "text": "Page 1 Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
          "nationalPhoneNumber": "0114 287 0650",
          "internationalPhoneNumber": "+44 114 287 0650",
          "formattedAddress": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
          "rating": 4.9,
          "websiteUri": "https://www.twrecruitment.com/sheffield",
          "displayName": {
            "text": "Tradewind Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
          "nationalPhoneNumber": "0114 276 0501",
          "internationalPhoneNumber": "+44 114 276 0501",
          "formattedAddress": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
          "rating": 4.3,
          "websiteUri": "http://www.forde-recruitment.co.uk/",
          "displayName": {
            "text": "Forde Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJrYle83h4eUgRex-1ObbiuFw",
          "nationalPhoneNumber": "0114 272 2600",
          "internationalPhoneNumber": "+44 114 272 2600",
          "formattedAddress": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
          "rating": 4.3,
          "websiteUri": "https://www.bluearrow.co.uk/jobs/",
          "displayName": {
            "text": "Blue Arrow Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
          "nationalPhoneNumber": "0330 390 3050",
          "internationalPhoneNumber": "+44 330 390 3050",
          "formattedAddress": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.2,
          "websiteUri": "https://www.michaelpage.co.uk/contact-us/leeds-office",
          "displayName": {
            "text": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
          "nationalPhoneNumber": "020 3826 6040",
          "internationalPhoneNumber": "+44 20 3826 6040",
          "formattedAddress": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "rating": 4.1,
          "websiteUri": "http://www.tfshealthcare.co.uk/",
          "displayName": {
            "text": "TFS Healthcare"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
          "nationalPhoneNumber": "0333 577 0882",
          "internationalPhoneNumber": "+44 333 577 0882",
          "formattedAddress": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.8,
          "websiteUri": "https://divine247.co.uk/",
          "displayName": {
            "text": "Divine 247 Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
          "nationalPhoneNumber": "0114 276 0536",
          "internationalPhoneNumber": "+44 114 276 0536",
          "formattedAddress": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
          "rating": 3.7,
          "websiteUri": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
          "displayName": {
            "text": "Hays Recruitment Agency - Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
          "nationalPhoneNumber": "0114 551 5555",
          "internationalPhoneNumber": "+44 114 551 5555",
          "formattedAddress": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
          "rating": 4.9,
          "websiteUri": "http://www.tsrecruitment.co.uk/",
          "displayName": {
            "text": "TSR Recruitment - Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
          "nationalPhoneNumber": "0114 275 7744",
          "internationalPhoneNumber": "+44 114 275 7744",
          "formattedAddress": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
          "rating": 4.5,
          "websiteUri": "https://www.aforappointments.com/",
          "displayName": {
            "text": "A for Appointments"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
          "nationalPhoneNumber": "0114 491 0370",
          "internationalPhoneNumber": "+44 114 491 0370",
          "formattedAddress": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
          "rating": 5,
          "websiteUri": "http://lodestonerecruitment.co.uk/",
          "displayName": {
            "text": "Lodestone Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJnTXm8dSDeUgR-62giEETDEw",
          "nationalPhoneNumber": "07715 454545",
          "internationalPhoneNumber": "+44 7715 454545",
          "formattedAddress": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
          "rating": 5,
          "websiteUri": "http://www.amrl.co.uk/",
          "displayName": {
            "text": "Anna Maher Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJhxZr1Xh4eUgRZddqZLcdBZ4",
          "nationalPhoneNumber": "0114 241 8030",
          "internationalPhoneNumber": "+44 114 241 8030",
          "formattedAddress": "51 Clarkegrove Rd, Broomhall, Sheffield S10 2NH, UK",
          "rating": 5,
          "websiteUri": "https://www.craconsultants.com/",
          "displayName": {
            "text": "CRA Consulting"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create a row3": [
      {
        "json": {
          "id": "8fe8da25-04e2-4a97-915d-21d0126647f9",
          "business_name": "Reed Recruitment Agency",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
          "phone": "0114 228 8901",
          "website": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
          "google_place_id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "26a2f5df-4216-4ece-bdba-904b8caceea0",
          "business_name": "Alpha Recruitment #AlphaJobs",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "6-8 South St, Sheffield S2 5QY, UK",
          "phone": "0114 303 8055",
          "website": "http://www.alphajobs.net/",
          "google_place_id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "199824a5-7dd7-4c11-b867-5a8cec1a9d26",
          "business_name": "Link2 Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
          "phone": "0114 553 7111",
          "website": "http://www.link2recruitment.co.uk/",
          "google_place_id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "1c0d2c91-d42c-4774-9ced-94867caa5096",
          "business_name": "Chase Recruitment Limited",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
          "phone": "0114 223 6000",
          "website": "http://www.chase-rec.com/",
          "google_place_id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "26a8c49f-f2c3-4e72-9ef7-8405cf5fe96f",
          "business_name": "Andy File Associates Ltd - Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
          "phone": "0114 282 1281",
          "website": "http://andyfileassociates.com/",
          "google_place_id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "id": "35407290-a554-4e6e-a880-42bfdcfb870d",
          "business_name": "Benchmark Recruit",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "07714 771600",
          "website": "https://www.benchmarkrecruit.co.uk/",
          "google_place_id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "id": "296cc3e0-dcc3-47e3-a4a1-c04721445d90",
          "business_name": "Sue Ross Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
          "phone": "0114 278 6600",
          "website": "http://www.suerossrecruitment.co.uk/",
          "google_place_id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "id": "8234ec44-aa6a-42f0-af96-59cc417d1815",
          "business_name": "Page 1 Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0114 700 3533",
          "website": "https://www.page1recruitment.co.uk/",
          "google_place_id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "id": "5a8f8c4e-a9b9-4d56-9e90-771956ea7bc5",
          "business_name": "Tradewind Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
          "phone": "0114 287 0650",
          "website": "https://www.twrecruitment.com/sheffield",
          "google_place_id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "id": "3a0e68ae-d9e6-4bc7-8632-97bf14b284dc",
          "business_name": "Forde Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
          "phone": "0114 276 0501",
          "website": "http://www.forde-recruitment.co.uk/",
          "google_place_id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
          "rating": 4.3,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "id": "c7310e90-1ac5-4fa0-af8a-e32235d4b1de",
          "business_name": "Blue Arrow Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
          "phone": "0114 272 2600",
          "website": "https://www.bluearrow.co.uk/jobs/",
          "google_place_id": "ChIJrYle83h4eUgRex-1ObbiuFw",
          "rating": 4.3,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "id": "2eb98fd9-de64-44d2-b486-2abd54eedc67",
          "business_name": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0330 390 3050",
          "website": "https://www.michaelpage.co.uk/contact-us/leeds-office",
          "google_place_id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
          "rating": 4.2,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "id": "8231be27-8e34-4af5-a0f7-f17f311db940",
          "business_name": "TFS Healthcare",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "phone": "020 3826 6040",
          "website": "http://www.tfshealthcare.co.uk/",
          "google_place_id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
          "rating": 4.1,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "id": "4ce08493-d8ef-4e54-84be-39c9d21f1bd9",
          "business_name": "Divine 247 Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0333 577 0882",
          "website": "https://divine247.co.uk/",
          "google_place_id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "id": "b2d7ad9b-a671-4a35-97be-12cbeb880852",
          "business_name": "Hays Recruitment Agency - Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
          "phone": "0114 276 0536",
          "website": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
          "google_place_id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
          "rating": 3.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "id": "c404c12c-6d74-4728-8071-125d5c0e53c3",
          "business_name": "TSR Recruitment - Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
          "phone": "0114 551 5555",
          "website": "http://www.tsrecruitment.co.uk/",
          "google_place_id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "id": "d715da11-35c4-43f2-9506-fc1a2229e551",
          "business_name": "A for Appointments",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
          "phone": "0114 275 7744",
          "website": "https://www.aforappointments.com/",
          "google_place_id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "id": "53638405-ea74-448d-997b-f15e1cfff075",
          "business_name": "Lodestone Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
          "phone": "0114 491 0370",
          "website": "http://lodestonerecruitment.co.uk/",
          "google_place_id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "id": "f1d31cc1-ed9b-418f-bd4c-715c35f64e7d",
          "business_name": "Anna Maher Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
          "phone": "07715 454545",
          "website": "http://www.amrl.co.uk/",
          "google_place_id": "ChIJnTXm8dSDeUgR-62giEETDEw",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "id": "2af5d89d-641e-4e67-9f4a-046847dc0e67",
          "business_name": "CRA Consulting",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "51 Clarkegrove Rd, Broomhall, Sheffield S10 2NH, UK",
          "phone": "0114 241 8030",
          "website": "https://www.craconsultants.com/",
          "google_place_id": "ChIJhxZr1Xh4eUgRZddqZLcdBZ4",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:53:58.586691+00:00",
          "updated_at": "2026-06-16T17:53:58.586691+00:00"
        },
        "pairedItem": {
          "item": 19
        }
      }
    ],
    "Update row(s)": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kw40JTzs9ZWsQsH2eIeXiH-SBPWTgHzszVjBdYHuS-iesF_Qaqlcv-ArsGwRR23yLcDv3MhA2i-Xj0jzdzkRBIubZBgl1QkcFI2cynHdqDzscyF534Rlk68nSKWPsY-GjR7VltrLk-k_AToVK8uELJBrPmYhSY7fwHnnOQfO_jNjPRuBOb6UlV5mCcAlYJqSK8M_iW1kHmDKscucyYdbom3PnLd20UVe8Pvf0WHo4sJLIi9lHEBQRupRdPhehlT_p0w18zuzv32JdBTJ1S0SfOIPsnW-sWEsZdSIqHBVyBHX-cZiwwwVGj4el6KRjuYvlh268kmWsSBw0LXQMUdVQ49CkV8opmJtMpEIMKtOM-FKHRd54W7kJefyw3BdfzqWJA3ayb4mASBZWMsqG1A9-wmlpHT6KvqEbpYw8Ad0ng4Xs4AvIXqKeAWrryIrGw1t_pdPoBhFFilX5U02HYVhzfvsdG3FeSpgkrCRQlpHFwTYXo3_J1zp4aK3g6hdO87qrM_Y33kIE_bFN7cAgVj8xN0u3mAT0-sUZ2sa7HvL-oWul6aPd9BTGxADlREbnVrB9ox7VKZw-BWCNd8NLocoG_fPvFir88o7pe5dgMdjMJ7MOF4JbZP1E20cOT3rdfq9IBcdHbJTB2rlYHS5A31iT1aEDXcVj1fOvu4q8R-BUaudXIIEIJwi_UewMsM6XTCn8wL9OP7kf4bWCHw3tLaGBvCFISS5lNISSyNEClCp9Rcd5QrJxWgTnH73OLHNGlcYGyo5_eZiblbIa1M4nqKchhbrva8A50aE6bUZS9ly0Kierjibsu1hdYih4QX98mbmovL7HS0cfB",
          "id": 99,
          "createdAt": "2026-06-16T17:43:28.906Z",
          "updatedAt": "2026-06-16T17:54:42.245Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get row(s)1": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kw40JTzs9ZWsQsH2eIeXiH-SBPWTgHzszVjBdYHuS-iesF_Qaqlcv-ArsGwRR23yLcDv3MhA2i-Xj0jzdzkRBIubZBgl1QkcFI2cynHdqDzscyF534Rlk68nSKWPsY-GjR7VltrLk-k_AToVK8uELJBrPmYhSY7fwHnnOQfO_jNjPRuBOb6UlV5mCcAlYJqSK8M_iW1kHmDKscucyYdbom3PnLd20UVe8Pvf0WHo4sJLIi9lHEBQRupRdPhehlT_p0w18zuzv32JdBTJ1S0SfOIPsnW-sWEsZdSIqHBVyBHX-cZiwwwVGj4el6KRjuYvlh268kmWsSBw0LXQMUdVQ49CkV8opmJtMpEIMKtOM-FKHRd54W7kJefyw3BdfzqWJA3ayb4mASBZWMsqG1A9-wmlpHT6KvqEbpYw8Ad0ng4Xs4AvIXqKeAWrryIrGw1t_pdPoBhFFilX5U02HYVhzfvsdG3FeSpgkrCRQlpHFwTYXo3_J1zp4aK3g6hdO87qrM_Y33kIE_bFN7cAgVj8xN0u3mAT0-sUZ2sa7HvL-oWul6aPd9BTGxADlREbnVrB9ox7VKZw-BWCNd8NLocoG_fPvFir88o7pe5dgMdjMJ7MOF4JbZP1E20cOT3rdfq9IBcdHbJTB2rlYHS5A31iT1aEDXcVj1fOvu4q8R-BUaudXIIEIJwi_UewMsM6XTCn8wL9OP7kf4bWCHw3tLaGBvCFISS5lNISSyNEClCp9Rcd5QrJxWgTnH73OLHNGlcYGyo5_eZiblbIa1M4nqKchhbrva8A50aE6bUZS9ly0Kierjibsu1hdYih4QX98mbmovL7HS0cfB",
          "id": 99,
          "createdAt": "2026-06-16T17:43:28.906Z",
          "updatedAt": "2026-06-16T17:54:42.245Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait1": [
      {
        "json": {
          "nextpagetoken": "AaVGc3kw40JTzs9ZWsQsH2eIeXiH-SBPWTgHzszVjBdYHuS-iesF_Qaqlcv-ArsGwRR23yLcDv3MhA2i-Xj0jzdzkRBIubZBgl1QkcFI2cynHdqDzscyF534Rlk68nSKWPsY-GjR7VltrLk-k_AToVK8uELJBrPmYhSY7fwHnnOQfO_jNjPRuBOb6UlV5mCcAlYJqSK8M_iW1kHmDKscucyYdbom3PnLd20UVe8Pvf0WHo4sJLIi9lHEBQRupRdPhehlT_p0w18zuzv32JdBTJ1S0SfOIPsnW-sWEsZdSIqHBVyBHX-cZiwwwVGj4el6KRjuYvlh268kmWsSBw0LXQMUdVQ49CkV8opmJtMpEIMKtOM-FKHRd54W7kJefyw3BdfzqWJA3ayb4mASBZWMsqG1A9-wmlpHT6KvqEbpYw8Ad0ng4Xs4AvIXqKeAWrryIrGw1t_pdPoBhFFilX5U02HYVhzfvsdG3FeSpgkrCRQlpHFwTYXo3_J1zp4aK3g6hdO87qrM_Y33kIE_bFN7cAgVj8xN0u3mAT0-sUZ2sa7HvL-oWul6aPd9BTGxADlREbnVrB9ox7VKZw-BWCNd8NLocoG_fPvFir88o7pe5dgMdjMJ7MOF4JbZP1E20cOT3rdfq9IBcdHbJTB2rlYHS5A31iT1aEDXcVj1fOvu4q8R-BUaudXIIEIJwi_UewMsM6XTCn8wL9OP7kf4bWCHw3tLaGBvCFISS5lNISSyNEClCp9Rcd5QrJxWgTnH73OLHNGlcYGyo5_eZiblbIa1M4nqKchhbrva8A50aE6bUZS9ly0Kierjibsu1hdYih4QX98mbmovL7HS0cfB",
          "id": 99,
          "createdAt": "2026-06-16T17:43:28.906Z",
          "updatedAt": "2026-06-16T17:54:42.245Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Places2": [
      {
        "json": {
          "places": [
            {
              "id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
              "nationalPhoneNumber": "0114 228 8901",
              "internationalPhoneNumber": "+44 114 228 8901",
              "formattedAddress": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
              "rating": 4.7,
              "websiteUri": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
              "displayName": {
                "text": "Reed Recruitment Agency"
              }
            },
            {
              "id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
              "nationalPhoneNumber": "0114 303 8055",
              "internationalPhoneNumber": "+44 114 303 8055",
              "formattedAddress": "6-8 South St, Sheffield S2 5QY, UK",
              "rating": 4.9,
              "websiteUri": "http://www.alphajobs.net/",
              "displayName": {
                "text": "Alpha Recruitment #AlphaJobs"
              }
            },
            {
              "id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
              "nationalPhoneNumber": "0114 553 7111",
              "internationalPhoneNumber": "+44 114 553 7111",
              "formattedAddress": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
              "rating": 5,
              "websiteUri": "http://www.link2recruitment.co.uk/",
              "displayName": {
                "text": "Link2 Recruitment"
              }
            },
            {
              "id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
              "nationalPhoneNumber": "0114 223 6000",
              "internationalPhoneNumber": "+44 114 223 6000",
              "formattedAddress": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
              "rating": 4.9,
              "websiteUri": "http://www.chase-rec.com/",
              "displayName": {
                "text": "Chase Recruitment Limited"
              }
            },
            {
              "id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
              "nationalPhoneNumber": "0114 282 1281",
              "internationalPhoneNumber": "+44 114 282 1281",
              "formattedAddress": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
              "rating": 5,
              "websiteUri": "http://andyfileassociates.com/",
              "displayName": {
                "text": "Andy File Associates Ltd - Recruitment"
              }
            },
            {
              "id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
              "nationalPhoneNumber": "07714 771600",
              "internationalPhoneNumber": "+44 7714 771600",
              "formattedAddress": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.9,
              "websiteUri": "https://www.benchmarkrecruit.co.uk/",
              "displayName": {
                "text": "Benchmark Recruit"
              }
            },
            {
              "id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
              "nationalPhoneNumber": "0114 278 6600",
              "internationalPhoneNumber": "+44 114 278 6600",
              "formattedAddress": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
              "rating": 4.7,
              "websiteUri": "http://www.suerossrecruitment.co.uk/",
              "displayName": {
                "text": "Sue Ross Recruitment Ltd"
              }
            },
            {
              "id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
              "nationalPhoneNumber": "0114 700 3533",
              "internationalPhoneNumber": "+44 114 700 3533",
              "formattedAddress": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 5,
              "websiteUri": "https://www.page1recruitment.co.uk/",
              "displayName": {
                "text": "Page 1 Recruitment"
              }
            },
            {
              "id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
              "nationalPhoneNumber": "0114 287 0650",
              "internationalPhoneNumber": "+44 114 287 0650",
              "formattedAddress": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
              "rating": 4.9,
              "websiteUri": "https://www.twrecruitment.com/sheffield",
              "displayName": {
                "text": "Tradewind Recruitment"
              }
            },
            {
              "id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
              "nationalPhoneNumber": "0114 276 0501",
              "internationalPhoneNumber": "+44 114 276 0501",
              "formattedAddress": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
              "rating": 4.3,
              "websiteUri": "http://www.forde-recruitment.co.uk/",
              "displayName": {
                "text": "Forde Recruitment Ltd"
              }
            },
            {
              "id": "ChIJrYle83h4eUgRex-1ObbiuFw",
              "nationalPhoneNumber": "0114 272 2600",
              "internationalPhoneNumber": "+44 114 272 2600",
              "formattedAddress": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
              "rating": 4.3,
              "websiteUri": "https://www.bluearrow.co.uk/jobs/",
              "displayName": {
                "text": "Blue Arrow Sheffield"
              }
            },
            {
              "id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
              "nationalPhoneNumber": "0330 390 3050",
              "internationalPhoneNumber": "+44 330 390 3050",
              "formattedAddress": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.2,
              "websiteUri": "https://www.michaelpage.co.uk/contact-us/leeds-office",
              "displayName": {
                "text": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds"
              }
            },
            {
              "id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
              "nationalPhoneNumber": "020 3826 6040",
              "internationalPhoneNumber": "+44 20 3826 6040",
              "formattedAddress": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
              "rating": 4.1,
              "websiteUri": "http://www.tfshealthcare.co.uk/",
              "displayName": {
                "text": "TFS Healthcare"
              }
            },
            {
              "id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
              "nationalPhoneNumber": "0333 577 0882",
              "internationalPhoneNumber": "+44 333 577 0882",
              "formattedAddress": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
              "rating": 4.8,
              "websiteUri": "https://divine247.co.uk/",
              "displayName": {
                "text": "Divine 247 Recruitment Ltd"
              }
            },
            {
              "id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
              "nationalPhoneNumber": "0114 276 0536",
              "internationalPhoneNumber": "+44 114 276 0536",
              "formattedAddress": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
              "rating": 3.7,
              "websiteUri": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
              "displayName": {
                "text": "Hays Recruitment Agency - Sheffield"
              }
            },
            {
              "id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
              "nationalPhoneNumber": "0114 551 5555",
              "internationalPhoneNumber": "+44 114 551 5555",
              "formattedAddress": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
              "rating": 4.9,
              "websiteUri": "http://www.tsrecruitment.co.uk/",
              "displayName": {
                "text": "TSR Recruitment - Sheffield"
              }
            },
            {
              "id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
              "nationalPhoneNumber": "0114 275 7744",
              "internationalPhoneNumber": "+44 114 275 7744",
              "formattedAddress": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
              "rating": 4.5,
              "websiteUri": "https://www.aforappointments.com/",
              "displayName": {
                "text": "A for Appointments"
              }
            },
            {
              "id": "ChIJnTXm8dSDeUgR-62giEETDEw",
              "nationalPhoneNumber": "07715 454545",
              "internationalPhoneNumber": "+44 7715 454545",
              "formattedAddress": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
              "rating": 5,
              "websiteUri": "http://www.amrl.co.uk/",
              "displayName": {
                "text": "Anna Maher Recruitment"
              }
            },
            {
              "id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
              "nationalPhoneNumber": "0114 491 0370",
              "internationalPhoneNumber": "+44 114 491 0370",
              "formattedAddress": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
              "rating": 5,
              "websiteUri": "http://lodestonerecruitment.co.uk/",
              "displayName": {
                "text": "Lodestone Recruitment Ltd"
              }
            },
            {
              "id": "ChIJhxZr1Xh4eUgRZddqZLcdBZ4",
              "nationalPhoneNumber": "0114 241 8030",
              "internationalPhoneNumber": "+44 114 241 8030",
              "formattedAddress": "51 Clarkegrove Rd, Broomhall, Sheffield S10 2NH, UK",
              "rating": 5,
              "websiteUri": "https://www.craconsultants.com/",
              "displayName": {
                "text": "CRA Consulting"
              }
            }
          ],
          "nextPageToken": "AaVGc3l6s_iWPUlMpAJ9qi8OgHCQDp3mAhyDywZiu9Srx8IidVR2vrItlfjZkpl0hhG3nKJWDvBV8esSb0jAU4tz3hIMvFCsOg3dj7Cgm1STf3H-v7kIwwCfKvK9A7DGkJ0_Z8kwK06kQ7AQold_GFGadSb9AyOH4hZWJwN9iEpLBAZKV5b7TmHyKbzqY7VWRYqgP8eV3dUZ7dkLsK8VPWqemZHu4-vh0FGc5fTqxCefvoc8KDMfNWPgRJaPx5iV6D_kCVc_lZ6O49uSJn37Ka7hY1QQUjApha3EyH6WFijIXQuJZyKVJRsaoquMf8wvG7J3vaNjJ7BxKaDjo-2OUC8Me7azta54uvSYzytz0BtxCmQc-MgJIlNXut8hXTzrfwIDhnKdB9YTimkkRfTh_SAMLmIMjRYTsLQz3622jcx01hc5fuD9enX1UwXK6O7Om_zqE-AGvzttvVtUJnyRVj6FjIT5ig2h2WT8ukDS8Jp3JnP5FyFrvLyXcXQI4393mYZTnIqUvvKnrLs9HWou_NcXe7vPPblrLf1ZHAsBnhimUN3NTyInZmCJN7YALpDnR9VGAsASQHai_rfp-CVmFn8x9VUgUN6dH6lDew6hztQckBzP25r58BFIeC4ASxfwbnp_3SEu2tI0X5P9YBt2Q8SPsg1fVjMymbig5zzvp_CRpN7vV7d-8AdwqAEv3DqWe3LajU7wMX_fGaHwUBgljhfkka02X2HvQiASZmdiLSCUpRL0-pTkav_mCdqsgTed4KH_565MZ2FB83q6oHwlv0MvZoTC6eUpXYlz0cMeqczw8c0pOSLF5aYmp0AImdQFpYh_TKPqkOCNv_Us"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out2": [
      {
        "json": {
          "id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
          "nationalPhoneNumber": "0114 228 8901",
          "internationalPhoneNumber": "+44 114 228 8901",
          "formattedAddress": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
          "rating": 4.7,
          "websiteUri": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
          "displayName": {
            "text": "Reed Recruitment Agency"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
          "nationalPhoneNumber": "0114 303 8055",
          "internationalPhoneNumber": "+44 114 303 8055",
          "formattedAddress": "6-8 South St, Sheffield S2 5QY, UK",
          "rating": 4.9,
          "websiteUri": "http://www.alphajobs.net/",
          "displayName": {
            "text": "Alpha Recruitment #AlphaJobs"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
          "nationalPhoneNumber": "0114 553 7111",
          "internationalPhoneNumber": "+44 114 553 7111",
          "formattedAddress": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
          "rating": 5,
          "websiteUri": "http://www.link2recruitment.co.uk/",
          "displayName": {
            "text": "Link2 Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
          "nationalPhoneNumber": "0114 223 6000",
          "internationalPhoneNumber": "+44 114 223 6000",
          "formattedAddress": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
          "rating": 4.9,
          "websiteUri": "http://www.chase-rec.com/",
          "displayName": {
            "text": "Chase Recruitment Limited"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
          "nationalPhoneNumber": "0114 282 1281",
          "internationalPhoneNumber": "+44 114 282 1281",
          "formattedAddress": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
          "rating": 5,
          "websiteUri": "http://andyfileassociates.com/",
          "displayName": {
            "text": "Andy File Associates Ltd - Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
          "nationalPhoneNumber": "07714 771600",
          "internationalPhoneNumber": "+44 7714 771600",
          "formattedAddress": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.9,
          "websiteUri": "https://www.benchmarkrecruit.co.uk/",
          "displayName": {
            "text": "Benchmark Recruit"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
          "nationalPhoneNumber": "0114 278 6600",
          "internationalPhoneNumber": "+44 114 278 6600",
          "formattedAddress": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
          "rating": 4.7,
          "websiteUri": "http://www.suerossrecruitment.co.uk/",
          "displayName": {
            "text": "Sue Ross Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
          "nationalPhoneNumber": "0114 700 3533",
          "internationalPhoneNumber": "+44 114 700 3533",
          "formattedAddress": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 5,
          "websiteUri": "https://www.page1recruitment.co.uk/",
          "displayName": {
            "text": "Page 1 Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
          "nationalPhoneNumber": "0114 287 0650",
          "internationalPhoneNumber": "+44 114 287 0650",
          "formattedAddress": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
          "rating": 4.9,
          "websiteUri": "https://www.twrecruitment.com/sheffield",
          "displayName": {
            "text": "Tradewind Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
          "nationalPhoneNumber": "0114 276 0501",
          "internationalPhoneNumber": "+44 114 276 0501",
          "formattedAddress": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
          "rating": 4.3,
          "websiteUri": "http://www.forde-recruitment.co.uk/",
          "displayName": {
            "text": "Forde Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJrYle83h4eUgRex-1ObbiuFw",
          "nationalPhoneNumber": "0114 272 2600",
          "internationalPhoneNumber": "+44 114 272 2600",
          "formattedAddress": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
          "rating": 4.3,
          "websiteUri": "https://www.bluearrow.co.uk/jobs/",
          "displayName": {
            "text": "Blue Arrow Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
          "nationalPhoneNumber": "0330 390 3050",
          "internationalPhoneNumber": "+44 330 390 3050",
          "formattedAddress": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.2,
          "websiteUri": "https://www.michaelpage.co.uk/contact-us/leeds-office",
          "displayName": {
            "text": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
          "nationalPhoneNumber": "020 3826 6040",
          "internationalPhoneNumber": "+44 20 3826 6040",
          "formattedAddress": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "rating": 4.1,
          "websiteUri": "http://www.tfshealthcare.co.uk/",
          "displayName": {
            "text": "TFS Healthcare"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
          "nationalPhoneNumber": "0333 577 0882",
          "internationalPhoneNumber": "+44 333 577 0882",
          "formattedAddress": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "rating": 4.8,
          "websiteUri": "https://divine247.co.uk/",
          "displayName": {
            "text": "Divine 247 Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
          "nationalPhoneNumber": "0114 276 0536",
          "internationalPhoneNumber": "+44 114 276 0536",
          "formattedAddress": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
          "rating": 3.7,
          "websiteUri": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
          "displayName": {
            "text": "Hays Recruitment Agency - Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
          "nationalPhoneNumber": "0114 551 5555",
          "internationalPhoneNumber": "+44 114 551 5555",
          "formattedAddress": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
          "rating": 4.9,
          "websiteUri": "http://www.tsrecruitment.co.uk/",
          "displayName": {
            "text": "TSR Recruitment - Sheffield"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
          "nationalPhoneNumber": "0114 275 7744",
          "internationalPhoneNumber": "+44 114 275 7744",
          "formattedAddress": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
          "rating": 4.5,
          "websiteUri": "https://www.aforappointments.com/",
          "displayName": {
            "text": "A for Appointments"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJnTXm8dSDeUgR-62giEETDEw",
          "nationalPhoneNumber": "07715 454545",
          "internationalPhoneNumber": "+44 7715 454545",
          "formattedAddress": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
          "rating": 5,
          "websiteUri": "http://www.amrl.co.uk/",
          "displayName": {
            "text": "Anna Maher Recruitment"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
          "nationalPhoneNumber": "0114 491 0370",
          "internationalPhoneNumber": "+44 114 491 0370",
          "formattedAddress": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
          "rating": 5,
          "websiteUri": "http://lodestonerecruitment.co.uk/",
          "displayName": {
            "text": "Lodestone Recruitment Ltd"
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "ChIJhxZr1Xh4eUgRZddqZLcdBZ4",
          "nationalPhoneNumber": "0114 241 8030",
          "internationalPhoneNumber": "+44 114 241 8030",
          "formattedAddress": "51 Clarkegrove Rd, Broomhall, Sheffield S10 2NH, UK",
          "rating": 5,
          "websiteUri": "https://www.craconsultants.com/",
          "displayName": {
            "text": "CRA Consulting"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create a row4": [
      {
        "json": {
          "id": "5d360c4b-5fc5-470d-9615-f085dec49cd1",
          "business_name": "Reed Recruitment Agency",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Ste 6D, 6th Floor, The Balance, 2 Pinfold St, Sheffield City Centre, Sheffield S1 2GU, UK",
          "phone": "0114 228 8901",
          "website": "https://www.reed.com/offices/reed-recruitment-sheffield?utm_source=google&utm_medium=organic&utm_campaign=gbpwebsite-reed-recruitment-sheffield",
          "google_place_id": "ChIJ7YwuDIKCeUgR01BYc-aWA5Q",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": "32d30868-f7fc-4638-88bb-62a94d5e6bad",
          "business_name": "Alpha Recruitment #AlphaJobs",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "6-8 South St, Sheffield S2 5QY, UK",
          "phone": "0114 303 8055",
          "website": "http://www.alphajobs.net/",
          "google_place_id": "ChIJT8JpWXh4eUgRP8iDN2aVrMk",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "id": "20c742b6-f758-43c7-94e0-8bfe6067eb52",
          "business_name": "Link2 Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Suite 2, 35 Paradise St, Sheffield City Centre, Sheffield S3 8PZ, UK",
          "phone": "0114 553 7111",
          "website": "http://www.link2recruitment.co.uk/",
          "google_place_id": "ChIJS8TaTEV5eUgRQhOosuSf2KA",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "id": "40ea9927-5dcf-4872-8ed3-e8d35edf209d",
          "business_name": "Chase Recruitment Limited",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Unit 4, Scotland St, Sheffield S3 7AT, UK",
          "phone": "0114 223 6000",
          "website": "http://www.chase-rec.com/",
          "google_place_id": "ChIJO-otbYGCeUgRufKC8NwHtcw",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id": "89a15757-6795-44cf-8a7a-44fa25226e64",
          "business_name": "Andy File Associates Ltd - Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Aizlewoods Mill, Nursery St, Sheffield S3 8GG, UK",
          "phone": "0114 282 1281",
          "website": "http://andyfileassociates.com/",
          "google_place_id": "ChIJK48NSHp4eUgRUcyglZAkzx0",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "id": "988eada6-8967-4889-a303-a9e4284988b8",
          "business_name": "Benchmark Recruit",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "electric works, 3 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "07714 771600",
          "website": "https://www.benchmarkrecruit.co.uk/",
          "google_place_id": "ChIJYSNRcIOCeUgReB4kYmVLEeY",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "id": "99d9f558-9606-48d7-9d21-b3ddc6e4ec6f",
          "business_name": "Sue Ross Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Blenheim Reach, 861 Ecclesall Rd, Sheffield S11 8TH, UK",
          "phone": "0114 278 6600",
          "website": "http://www.suerossrecruitment.co.uk/",
          "google_place_id": "ChIJ95uP6Xh4eUgRfBonzRXSV2s",
          "rating": 4.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "id": "213beea0-3592-4708-8de3-e0b53fea3940",
          "business_name": "Page 1 Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0114 700 3533",
          "website": "https://www.page1recruitment.co.uk/",
          "google_place_id": "ChIJ_eh6XrF5eUgR-7GT0O1QPPg",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "id": "66349df5-e676-4c97-a6a9-c7d9eb04e4f5",
          "business_name": "Tradewind Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "New Oxford, House 10, 30 Barker's Pool, Sheffield City Centre, Sheffield S1 2HB, UK",
          "phone": "0114 287 0650",
          "website": "https://www.twrecruitment.com/sheffield",
          "google_place_id": "ChIJQXVZdn94eUgRuOtFsR3XCxU",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "id": "90f8d4d4-3763-4925-9d4e-918204a0dcb8",
          "business_name": "Forde Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "39 Townhead St, Sheffield City Centre, Sheffield S1 2EB, UK",
          "phone": "0114 276 0501",
          "website": "http://www.forde-recruitment.co.uk/",
          "google_place_id": "ChIJXdRbXH94eUgRIQ2q6lAk2rc",
          "rating": 4.3,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "id": "8da76282-2cae-499b-bc2d-ffe27dadae8e",
          "business_name": "Blue Arrow Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Wharf House, victoria quays, Sheffield S1 2GY, UK",
          "phone": "0114 272 2600",
          "website": "https://www.bluearrow.co.uk/jobs/",
          "google_place_id": "ChIJrYle83h4eUgRex-1ObbiuFw",
          "rating": 4.3,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "id": "1f2692cc-6c2b-4685-b6ea-f4df23e6bf7d",
          "business_name": "Michael Page, Recruitment Agency Sheffield - now operated from Leeds",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "VENTANA HOUSE, 2 Sheaf St, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0330 390 3050",
          "website": "https://www.michaelpage.co.uk/contact-us/leeds-office",
          "google_place_id": "ChIJ83fGNp2CeUgRzhaPq9m-lyA",
          "rating": 4.2,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "id": "75abe045-7d6c-4969-8afd-36465c26ce67",
          "business_name": "TFS Healthcare",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "32 Eyre St, Sheffield City Centre, Sheffield S1 4QZ, UK",
          "phone": "020 3826 6040",
          "website": "http://www.tfshealthcare.co.uk/",
          "google_place_id": "ChIJMRCJL1cDdkgRBl3OcoQCGOU",
          "rating": 4.1,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "id": "a0a7d870-134f-4e89-bee1-466fcf6272b7",
          "business_name": "Divine 247 Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Spaces Acero, 1 Concourse Way, Sheffield City Centre, Sheffield S1 2BJ, UK",
          "phone": "0333 577 0882",
          "website": "https://divine247.co.uk/",
          "google_place_id": "ChIJAQAQRp2CeUgRWw-mKejpahY",
          "rating": 4.8,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "id": "91f89934-63ae-40a3-9ae8-404fcd4d11b8",
          "business_name": "Hays Recruitment Agency - Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Fl 2, Fountain Precinct, Balm Grn, Sheffield City Centre, Sheffield S1 2JA, UK",
          "phone": "0114 276 0536",
          "website": "https://www.hays.co.uk/job-search/in-sheffield-uk?utm_source=google-places&utm_medium=local-listing&utm_campaign=sheffield",
          "google_place_id": "ChIJBYaYb4KCeUgRX_zMudoFDDw",
          "rating": 3.7,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "id": "2e7a3f9f-3e4b-47da-9270-6635718df67c",
          "business_name": "TSR Recruitment - Sheffield",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Unit 4d Parkway Rise, Sheffield S9 4WQ, UK",
          "phone": "0114 551 5555",
          "website": "http://www.tsrecruitment.co.uk/",
          "google_place_id": "ChIJLVhnWu6deUgR-JcQmlOE4M4",
          "rating": 4.9,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "id": "69616b96-a591-41a4-b0ea-6cbe9121e961",
          "business_name": "A for Appointments",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "S4 Globe Works, Penistone Rd, Sheffield S6 3AE, UK",
          "phone": "0114 275 7744",
          "website": "https://www.aforappointments.com/",
          "google_place_id": "ChIJrafGlHiCeUgRnG_mmgN1wfo",
          "rating": 4.5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "id": "061e6333-93f5-4dc7-8c3c-6801529c1479",
          "business_name": "Anna Maher Recruitment",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Omnia One, 125 Queen St, Sheffield City Centre, Sheffield S1 2DU, UK",
          "phone": "07715 454545",
          "website": "http://www.amrl.co.uk/",
          "google_place_id": "ChIJnTXm8dSDeUgR-62giEETDEw",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "id": "06487f77-a616-46f2-bc4f-431eeae65308",
          "business_name": "Lodestone Recruitment Ltd",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "Suite 3 Meadowhall Riverside, Meadowhall Rd, Sheffield S9 1BW, UK",
          "phone": "0114 491 0370",
          "website": "http://lodestonerecruitment.co.uk/",
          "google_place_id": "ChIJP_dahEx3eUgRmhbPvXvGzpw",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "id": "37a0db05-a2f8-4554-b7ed-eb3b08622e88",
          "business_name": "CRA Consulting",
          "niche": "recruitment agency",
          "location": "Sheffield",
          "address": "51 Clarkegrove Rd, Broomhall, Sheffield S10 2NH, UK",
          "phone": "0114 241 8030",
          "website": "https://www.craconsultants.com/",
          "google_place_id": "ChIJhxZr1Xh4eUgRZddqZLcdBZ4",
          "rating": 5,
          "contact_name": null,
          "email": null,
          "email_source": null,
          "email_verified": false,
          "email_verification_status": null,
          "status": "discovered",
          "created_at": "2026-06-16T17:56:47.943128+00:00",
          "updated_at": "2026-06-16T17:56:47.943128+00:00"
        },
        "pairedItem": {
          "item": 19
        }
      }
    ]
  },
  "versionId": "8007fc42-5896-4ceb-89eb-dfd285bce06d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-16T17:23:15.564Z",
      "createdAt": "2026-06-16T17:23:15.564Z",
      "role": "workflow:owner",
      "workflowId": "hgzJ9PxAll3Fe9BK",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}