workflows/inactive/1-PpUE4LQWRvCHQ0Rx.json
{
  "updatedAt": "2026-06-16T16:46:00.333Z",
  "createdAt": "2026-06-16T16:01:12.649Z",
  "id": "PpUE4LQWRvCHQ0Rx",
  "name": "1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0372f78f-0b2b-4d77-af09-4dcd23963057",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2c53299-6d36-49a7-9251-331db8f81af9",
              "name": "GoogleMpasApikey",
              "value": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
              "type": "string"
            },
            {
              "id": "65d44ac6-7cdb-4460-ac9c-bc4fbb7d5cf4",
              "name": "query",
              "value": "gym",
              "type": "string"
            },
            {
              "id": "eb7dadc6-0afc-4517-ace3-e1260957f3d4",
              "name": "locations",
              "value": "london",
              "type": "string"
            },
            {
              "id": "a76848de-b226-4b3b-85f8-19783bc535e4",
              "name": "radius",
              "value": "1000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "80022d1c-e33d-4567-bdbd-a9dfe1544db3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.locations }}"
            },
            {
              "name": "key",
              "value": "={{ $json.GoogleMpasApikey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "55ac6095-e1b8-4b5b-88f5-215901e39b40",
      "name": "Get Codinations"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Edit Fields').item.json.query }} {{ $('Edit Fields').item.json.locations }}"
            },
            {
              "name": "key",
              "value": "={{ $('Edit Fields').item.json.GoogleMpasApikey }}"
            },
            {
              "name": "location",
              "value": "={{ $json.results[0].geometry.bounds.northeast.lat }},{{ $json.results[0].geometry.bounds.northeast.lng }}"
            },
            {
              "name": "radius",
              "value": "={{ $('Edit Fields').item.json.radius }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "ae1af7af-ee48-4ae9-a955-8f5abf73556b",
      "name": "Get Places"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "babeeeed-9076-4e43-8f15-22c3a01c53fc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "business_name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "niche",
              "fieldValue": "={{ $('Edit Fields').first().json.query }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $json.geometry.location.lat }},{{ $json.geometry.location.lng }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.formatted_address }}"
            },
            {
              "fieldId": "phone"
            },
            {
              "fieldId": "website"
            },
            {
              "fieldId": "google_place_id",
              "fieldValue": "={{ $json.place_id }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.rating }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "91fb481e-e4da-4f59-a73a-56f675b28c68",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "ee68af7d-a2d8-485a-8589-41a2b923ad5e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places').first().json.next_page_token }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1376,
        0
      ],
      "id": "fa19b734-3903-450c-89d9-510762c6e4a3",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06afca7a-4019-47d5-b989-91326f8f9568",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        0
      ],
      "id": "325addfe-eeea-4cef-b1c8-e84c2485ca33",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        240
      ],
      "id": "ada69914-ce7d-47df-9ec2-17d4c023a106",
      "name": "Wait",
      "webhookId": "f9b63651-8527-4078-8d86-08f01d4af855"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filters": {
          "conditions": [
            {
              "condition": "=equals",
              "keyValue": "={{ $('Insert row').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        576,
        240
      ],
      "id": "0431af67-01b4-4a71-b8e0-2f3bf06587a7",
      "name": "Get row(s)"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Codinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Codinations": {
      "main": [
        [
          {
            "node": "Get Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "GoogleMpasApikey": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
          "query": "gym",
          "locations": "london",
          "radius": "1000"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Codinations": [
      {
        "json": {
          "results": [
            {
              "address_components": [
                {
                  "long_name": "London",
                  "short_name": "London",
                  "types": [
                    "locality",
                    "political"
                  ]
                },
                {
                  "long_name": "London",
                  "short_name": "London",
                  "types": [
                    "postal_town"
                  ]
                },
                {
                  "long_name": "Greater London",
                  "short_name": "Greater London",
                  "types": [
                    "administrative_area_level_2",
                    "political"
                  ]
                },
                {
                  "long_name": "England",
                  "short_name": "England",
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ]
                },
                {
                  "long_name": "United Kingdom",
                  "short_name": "GB",
                  "types": [
                    "country",
                    "political"
                  ]
                }
              ],
              "formatted_address": "London, UK",
              "geometry": {
                "bounds": {
                  "northeast": {
                    "lat": 51.6723432,
                    "lng": 0.148271
                  },
                  "southwest": {
                    "lat": 51.38494009999999,
                    "lng": -0.3514683
                  }
                },
                "location": {
                  "lat": 51.5072178,
                  "lng": -0.1275862
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                  "northeast": {
                    "lat": 51.8822255,
                    "lng": 0.148271
                  },
                  "southwest": {
                    "lat": 51.38494009999999,
                    "lng": -0.4149317
                  }
                }
              },
              "place_id": "ChIJdd4hrwug2EcRmSrV3Vo6llI",
              "types": [
                "locality",
                "political"
              ]
            }
          ],
          "status": "OK"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get Places": [
      {
        "json": {
          "html_attributions": [],
          "next_page_token": "AaVGc3kTmoxhffZXCWJnwTi3IUnEyUrHpoa3DDsBXd2mZeIqwAn9DcilbD8-5iq5G2rF9MQ7Cww_YEuGLQAwSqWvLjGPuCKutXlV8iFhquuw8sZkLmxRY1GTdXpT_J9OqwS8Bn9qlh4U7LqnzNJ2rE9ElXK1_2ID04UMJCQ8bgJoKFCOhrQAyzmvqNmzQlOSNxMWiaJsw3k7XyTrjpmeSwbBkQQy6AGafL_YpHwR2qL5DENXNn5OVhgPW0k-X39IF3CqGDLrDXsP8vyo4PEQgy2HAJTO_B3cjgwvb6PlAQN9ht7lIZKB1uYhNKuuyxr9wKJK0FJL4wiRb_sgflWsgxRTc1UD0hn3bp7WeXoZkxqwqExGj7sGw0x7VSPzUIWXOLxO4584CZvt5AgfBCRzJNbY2nKeTbfPC2UPbMSwj-mVCL2K2ZJiF21ppf4DbBKfJi52P20TWq3VAR7iavcj54wvOXyU_SGtJTDrhFJPD7jNj4J5R88H9l6_8aKwJHGTq2zVcZ8ovtpJIQw2q2e6izL3eHYOISaMazzyBh5m8MacRBDYCuO5nZgGg-QUuh5HHbPlUrhttg-00UqvbQpEVQIv9IeuUscE4odcdEu8472KObbKORer0IXDaDvSYoM2nreofkcd6CTGmtbxBb229HT2mPWZWvdKBK871wMFuprYSvtTOWUGyoWLoI3Vy3EhGdmc-uog3O6EfNk_h7MAgVh2zV6QWP7_yqcpbZbzLB4cV8Ua9ulmWrZFjk-gZZU9Yag6vNAh66p5Dk0-EUQ6-r4yO86cVr0oGPP7whqOe0bPN4UpYCaCF1dmh768tSHUx8_oZrcJ2aA3zHVu",
          "results": [
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "67 Brewer St, London W1F 9US, UK",
              "geometry": {
                "location": {
                  "lat": 51.51126989999999,
                  "lng": -0.1357459
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.51265948029149,
                    "lng": -0.134471369708498
                  },
                  "southwest": {
                    "lat": 51.5099615197085,
                    "lng": -0.1371693302915021
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Third Space Soho",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 1389,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/114574720640403024592\">Third Space Soho</a>"
                  ],
                  "photo_reference": "AaVGc3lNZlUdXRthB0OEDxUuykEe5nTxOVtLjDyIbH_6kGOf6vcNKZ2qkqowez7ReVCpUNgVnbqVbdQQTAQRCUfEa1PvKJD1KeBQS5ns5xZzqDHXn7qe9pg6YDlwS9Ia6xe9C9kjuABR6twolyy1xqaGiWSD2KIvLGdGFfnVBkNCnOYbKbE9KeZueaz3gQQ0hXo3oZMfl_s-pbd-EMEz8sck0Wl7mh-SWQe_1n2_W5CWfDTFRjfPFoBT-eDGB5AXMC1zlcs_zowv3nHzqUv24ErAEW8dSZm9pO2DDwbWNLIz6z3qO1A6gdbjRO7P6RUhiqHtMGFdluZ59G--wiqlFyL4lzi7o2c9Df5auVOG5oglKpcRv8iSOCqEi54-o7axMNR-F2npSu39apsRQFVdXfyxEQZPmnduQhTJCE1WO803yI4",
                  "width": 2048
                }
              ],
              "place_id": "ChIJvRqmDdQEdkgRvWqeVlKXNE8",
              "plus_code": {
                "compound_code": "GV67+GP London, UK",
                "global_code": "9C3XGV67+GP"
              },
              "rating": 4.8,
              "reference": "ChIJvRqmDdQEdkgRvWqeVlKXNE8",
              "types": [
                "establishment",
                "gym",
                "health",
                "hospital",
                "point_of_interest"
              ],
              "user_ratings_total": 1484
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "26 Druid St, London SE1 2EY, UK",
              "geometry": {
                "location": {
                  "lat": 51.5014785,
                  "lng": -0.0788046
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5028806302915,
                    "lng": -0.07739006970849797
                  },
                  "southwest": {
                    "lat": 51.5001826697085,
                    "lng": -0.08008803029150204
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Gym Nation | London Bridge",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 2160,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/109826400445391160158\">Gym Nation | London Bridge</a>"
                  ],
                  "photo_reference": "AaVGc3mHt3C5RxDC65Fhj6ZthqhbbsS_qUEJxmDGmrUurs8-eRjKmc5xBX8h-48zXMG-wcgBROQ_Vr5wDaAs4pVgptwIX6aWzx0wT1oZBHIPiIlJYA1tRW06prr5Il-Y0Vv4c-FSgZRmxaPhxf69rXGA6kkUjVRaOQPSHU-wNccFlzO48bQOicbrgB0h8eRuOk4raExu3dZqT_u5KP-gD2WtevhvXyqQnFgjO9ms4pbKz_YHW2PpMT8Pw6WYUjIwWU10IIPt_YElso5nU5N7VCg9214bI8l6gMHEbLOOTkeBVPAdMDDAi9J_wdl7xPBxzJgT8_EC_zPSTcuVKucbe-NwHW6-5QZhrGT2QXbs_7naWB_RkRxQnqDhdg2RXXPk9avfKkMcuDKbpiTsDZWfgHYuJdLARFiLdDIsknnefRAoS9zN4w",
                  "width": 3840
                }
              ],
              "place_id": "ChIJPejdgJwDdkgRey3H2OkKJgs",
              "plus_code": {
                "compound_code": "GW2C+HF London, UK",
                "global_code": "9C3XGW2C+HF"
              },
              "rating": 4.9,
              "reference": "ChIJPejdgJwDdkgRey3H2OkKJgs",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 1034
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Third Space Canary Wharf, 16-19 Canada Square, Canary Wharf Estate, London E14 5ER, UK",
              "geometry": {
                "location": {
                  "lat": 51.5047861,
                  "lng": -0.0167412
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.50612408029149,
                    "lng": -0.01547046970849797
                  },
                  "southwest": {
                    "lat": 51.50342611970849,
                    "lng": -0.01816843029150203
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Third Space Canary Wharf",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 1200,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/117098830810445809134\">Third Space Canary Wharf</a>"
                  ],
                  "photo_reference": "AaVGc3kzidmAb1vP5XgX6bDRsYyXlxC4iZqZDCv5CCvDWCPz5w0ghKHdvChdRsw8TiHEXJUEvjqvpPrt8XqIxqebv5BLtpHglVzgYotEhQae5cz0d-tQjKTcV3ox5DPBsmnV984jQlypWm8CKy0dMMjeoNSxd7AAegm51efKm5r0w60Us7UNyYlifh1FD5HLg5NFdK3EymIAJ8PbCWnoSx3Wi5lxnr28WmM72pFIC2xXADYpER9GkjVPisn627EcmFJlEDA3j9EumZ3HhUWJaUwZtc_Nh8DvuauBZhOgvtjtPpbELnSwcENvnaHkE1ueyyxrHe5sAtd6A-o4rqMnfVjvxdUIrSDaxcW-lwn7YvMvY6vapNzRGyOgBE87pNTXnct3vy2W0x8162wYtPhSjR7YXXd-ui0gGbJvABLsYiz2JRFz7A",
                  "width": 1800
                }
              ],
              "place_id": "ChIJAxlrrrACdkgRzeaU0eO-PEY",
              "plus_code": {
                "compound_code": "GX3M+W8 London, UK",
                "global_code": "9C3XGX3M+W8"
              },
              "rating": 4.7,
              "reference": "ChIJAxlrrrACdkgRzeaU0eO-PEY",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest",
                "spa"
              ],
              "user_ratings_total": 2910
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "2b More London Pl, London SE1 2AP, UK",
              "geometry": {
                "location": {
                  "lat": 51.5053694,
                  "lng": -0.08024769999999999
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5062745302915,
                    "lng": -0.07826666970849798
                  },
                  "southwest": {
                    "lat": 51.5035765697085,
                    "lng": -0.08096463029150205
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Third Space Tower Bridge",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 1201,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/114828927684740788803\">Third Space Tower Bridge</a>"
                  ],
                  "photo_reference": "AaVGc3m2pbdoxGBfnOSX_-DEiiy6fH9rbaUNKMJrRuqUyueoXAKu_muAqMC8TKtAyjWBFWclN-e-5kIJaNQvyukKpOIv4ngo0ncdas39XuNmqAE3322dLd8bdip2KEFBoy4HpM2t_YBXeUq05PSuX54JbCQ9Au7GThAEfPtWcsBjgUtSESesBe5CHWEUaiiKG5UyBFPXlzhyMxSdlCy7D5teYPVpdBKx2cUgKDPX9qHfeLfumXyyg8ZkV-xI7fWuT3M69TbBWJbaNt_C7QvtXlbv-6qDLo63_D6rZhgmjjog-DYyb8019jkmbcG542DnQp-MJaOAQSsV0fk39PmcOBEFwI-5hS1XUXO05d7oWW1wU0sf0P1blu_RAbAFzUGKbDhdfiM-Az9ja5KEA8JR8OpbtOz_sZEU0hjzgxQUVZOXfqOeWYQ",
                  "width": 1800
                }
              ],
              "place_id": "ChIJVb3vOGgDdkgR_rZeet9tk4A",
              "plus_code": {
                "compound_code": "GW49+4W London, UK",
                "global_code": "9C3XGW49+4W"
              },
              "rating": 4.6,
              "reference": "ChIJVb3vOGgDdkgR_rZeet9tk4A",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 1364
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "40 Mark Ln, London EC3R 7AT, UK",
              "geometry": {
                "location": {
                  "lat": 51.5102576,
                  "lng": -0.0805433
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.51158613029149,
                    "lng": -0.07913421970849796
                  },
                  "southwest": {
                    "lat": 51.5088881697085,
                    "lng": -0.08183218029150202
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Third Space City",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 1067,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/103886477158631875816\">Third Space City</a>"
                  ],
                  "photo_reference": "AaVGc3kONOC9Hl2AOwwqCatBow9eiWlK0RuItzO_feTkyC0qe56bFN4RoPtB7KOz_4urzvvN_QEGWtf_pcMk77dW3dCzHzjX62wIiQpHR01TFTRUN9LvOChLdGT3EkTNa-3SnsgbBisVg9V6ED7XriWj1o9xaNNVocpMiBC2_Mh2g_-YtXn2DTEoEmR706tWGKKqTbyX6kJOIB0XhPvuxCknqmDILgAoHzmghzLQlGHqARf4GefT5thpIpfL5nSYtknBSBli0BEyDeqK81hrdyR_OxmeHs73lqWgfa5tBIzXyzOAFMGyE6vSom2S3rAbVTz7Ifpeuq_uPCdpwq13B2yzHVS7RjHtL22xbra935meb7lzJABeE47BHgX9D7Rcxzkm2D6TVDAUJZ6NcGYe1IlxHjjs3f2_JCRkAWkIaMjd6ul4malNyx3_8_VqTDjXHciL",
                  "width": 1600
                }
              ],
              "place_id": "ChIJJydiQtQEdkgRNOJzLEA6OFQ",
              "plus_code": {
                "compound_code": "GW69+4Q London, UK",
                "global_code": "9C3XGW69+4Q"
              },
              "rating": 4.8,
              "reference": "ChIJJydiQtQEdkgRNOJzLEA6OFQ",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest",
                "spa"
              ],
              "user_ratings_total": 1073
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Queen Elizabeth St, London SE1 2JE, UK",
              "geometry": {
                "location": {
                  "lat": 51.5015107,
                  "lng": -0.0745931
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.50291103029149,
                    "lng": -0.07311711970849796
                  },
                  "southwest": {
                    "lat": 51.50021306970849,
                    "lng": -0.07581508029150202
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "The Circle Gym and Spa",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 2856,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/112013932763218526132\">The Circle Gym and Spa</a>"
                  ],
                  "photo_reference": "AaVGc3kF6tDKNwhvE9k4disRHqFI95FWur2qqaFbEmWbjUIFDMel6qTyOq9wFXLHW3B6OGZv6p1D0lYjw01t2okQdCqIVmnjdOWznE-hUhHziTQtFhv7JXlKcYASJtVt_tRaqhA9wuXmVEJlRgaaarRLMg0vfHNrvvR2_c7KcYv4HMf8FJbwyf-ZXFxcYUSwE2MlIXqEwbx5mlupmPxGY1swMzmCH3zLNKHKeb1fcAa6h7Q2kh2L7Ig7r9RPNU_1HrMVXSiXcHuFSzCGiJ26_ziivRhFFZnkYOvIS0bbNa9eJBL7oI7lAESA82Jn-vZbt92nlJoFoJr8KpqXg3TiasKh1ob-tNFcrF21Kk9c7KNYu1Fo-HJkXCxfLj5mRfMV5pnH-EDx08j5NhnnNNCR0u5cO5A8LqVYy07fgkoHA-IgaRJu-A",
                  "width": 4272
                }
              ],
              "place_id": "ChIJZUXuY0YDdkgReo2kb5eer-k",
              "plus_code": {
                "compound_code": "GW2G+J5 London, UK",
                "global_code": "9C3XGW2G+J5"
              },
              "rating": 4.6,
              "reference": "ChIJZUXuY0YDdkgReo2kb5eer-k",
              "types": [
                "establishment",
                "gym",
                "health",
                "physiotherapist",
                "point_of_interest",
                "school",
                "spa"
              ],
              "user_ratings_total": 613
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "14 Charter St, Canary Wharf Estate, London E14 5GZ, UK",
              "geometry": {
                "location": {
                  "lat": 51.5031207,
                  "lng": -0.0127336
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.50445983029149,
                    "lng": -0.01129781970849797
                  },
                  "southwest": {
                    "lat": 51.5017618697085,
                    "lng": -0.01399578029150203
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Third Space Wood Wharf",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 1667,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/112840405310997250737\">Third Space Wood Wharf</a>"
                  ],
                  "photo_reference": "AaVGc3m-TDoeFXt12Gc8FX3K7V389Y3hyoflJymEX7vEpxyOT0Mtw0o5UBfLU_X-uADoPivI-KdUYLavBf8f8c9oDtLpEsvOftzgn0HfXlakhIls5s8LRhWkFOs564r5eBqxTYZ3aYoAnWyh1fw9L8aOcm20rr9hgJm8M2GUJ0UIYHxJ3wly1t9HVcvBIjBte0I_h6LUWThYny_DGb-iD39iLQMAoSgbRVk3ZWnoS6Zojlk4SlENNiBrMcmJlSw_hG_D1NXJ505w7JaQfuugwhwgBpl6RxueOdC-poN1STSnFPNKTDJ35GrvCB0gmyoH1x_6iYD-NcF9dzgXPORZaLkT02GjgxU2AiHdU88zynBcFQIlN5bAUpo33G8nOu3MhQIFmjKy7ENrWzftuAUz4wV8Npxcq8FNCQdWoi92HOPqq_xcVwI",
                  "width": 2500
                }
              ],
              "place_id": "ChIJL18l-6cDdkgRHqPW6Pqps7I",
              "plus_code": {
                "compound_code": "GX3P+6W London, UK",
                "global_code": "9C3XGX3P+6W"
              },
              "rating": 4.9,
              "reference": "ChIJL18l-6cDdkgRHqPW6Pqps7I",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 866
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Cavendish Mews N, London W1W 6XA, UK",
              "geometry": {
                "location": {
                  "lat": 51.5202815,
                  "lng": -0.1436246
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5216112302915,
                    "lng": -0.142340419708498
                  },
                  "southwest": {
                    "lat": 51.51891326970851,
                    "lng": -0.145038380291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Fitness First Marylebone",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 1944,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/100634829479054963847\">Fitness First Marylebone</a>"
                  ],
                  "photo_reference": "AaVGc3nejmia0nL_mR-Flla4kFyZ0icGLXGac8fjQP9OangTI0NPZSKjOVvqkfoWu61QF0oVnouLGgYCyFNWH8b9_65U0m0yuUkQb3V6JBMLPU1mW9_DpTCzY9qXRf9h-Qzlf8sAbEMs_qK68VHfyF3PUIWMl8MXcDMVLJoZ3bI_zk44XCwu7sm-oynuwdgLcnFPnzhsSHPI--n0mcp02Bja8Xf9b2K2nAqtM2mK1eNr-1e6CkPQZvu4Asa3TMvM1z7n5wh1BRX7G781QjXb9NJ8_JjPwnRr8a90TAGVvUxx3S8-Gi6HzpTbSeDDkZjuJ-v4jLwZbBfXo71NRcEMBk5K-LpIjnJgOc6QESh3MoTKLlDFrcd22z_ui0LLmYwi-1DskKODUUWCrKrkArF-zsZG1RZQCxns8jouzQNbJPTnbjr21AUTQ3bgOu5KiFTyoXfU",
                  "width": 2750
                }
              ],
              "place_id": "ChIJweQINHQbdkgRFrmUqNngFgE",
              "plus_code": {
                "compound_code": "GVC4+4H London, UK",
                "global_code": "9C3XGVC4+4H"
              },
              "rating": 4.6,
              "reference": "ChIJweQINHQbdkgRFrmUqNngFgE",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest",
                "spa"
              ],
              "user_ratings_total": 510
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Dufour's Pl, London W1F 7SP, UK",
              "geometry": {
                "location": {
                  "lat": 51.5136119,
                  "lng": -0.1374895
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.51494608029149,
                    "lng": -0.136063269708498
                  },
                  "southwest": {
                    "lat": 51.5122481197085,
                    "lng": -0.138761230291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Topnotch Gyms Soho",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 3200,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/113890813251723444167\">Topnotch Gyms Soho</a>"
                  ],
                  "photo_reference": "AaVGc3lV_I7E5PVBsgrOhs_jVMmCyIXSl7-xY75FcUrBjKpfgO_w3qVDevtlRXTUjvC8sagVK4ePF7O5J2rqLIGgssGS_yXUBgjEIwJmkROjd1C7oIZK6_kPHGyN6UL6u8rokaqymSo3ZsrUt46Xi9EtMzPXGSGgEno2JLVbBM2Mx97iCUvR8hbkCl9nCjz8iZbuwTf0bzp5ahjCsj0M0eD-WX_ABa_KI93SX4Yyiy6GgFzqngsloL1Fu_8dtZ5RzpbCsCUUNtB0EourZAHmIJxAe7kPicRXj0aZ79shbhXNtItF6-ul6wvfIWPBkU2GD-lz4VKt9bKAcwKQCwOOHSNBtCLax0cc_Vvis2ktCxbask1iHZcOdFv01JRRppEYbkOrxD-u-MOnpL-yy6JmeDpUMVy5HH_5HWWbKVycL4ZFxSqpc5Ya",
                  "width": 4800
                }
              ],
              "place_id": "ChIJz0D1uI4FdkgR1gCOZVT02WA",
              "plus_code": {
                "compound_code": "GV77+C2 London, UK",
                "global_code": "9C3XGV77+C2"
              },
              "rating": 4.8,
              "reference": "ChIJz0D1uI4FdkgR1gCOZVT02WA",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 357
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "114 Vallance Rd, London E1 5BL, UK",
              "geometry": {
                "location": {
                  "lat": 51.522499,
                  "lng": -0.0640052
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5238596302915,
                    "lng": -0.06280516970849796
                  },
                  "southwest": {
                    "lat": 51.5211616697085,
                    "lng": -0.06550313029150204
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Muscleworks Gym",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 4032,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/100584392731331305068\">Mark Fisher</a>"
                  ],
                  "photo_reference": "AaVGc3mZDZD82DE9a90-d9Myl2tA2ZmTv8167MYdA15UykUN1hhNXMOdi4URorQ9gkMC0VXXAF96qQxnf-1C9RdtqACJ3zacWOacwF0-tKxpbCOW1mZ8HSavlKOysJXGtgPGgZm38-Nfb2qLyRUKxsbxlDALt9YWVPKESbGSNt1ssnLLNScy7MoNj3jVderhCeNFnxMefxqT6P7ZPmAfVQNfvZgdvfy_RtXSx7DZI9nIpJuaqxWxb3UUe_z9hfm2Z5dW2x3x6viaxKQV4mtURQfSa4Gd1Gqa9MZhr6U-nVwPfpvbMbekhUJH8q7taojGz2higZgI-M4cZBbZeNdEC876WI-dJsK0kjJM19ojp24_paSsVXrNrT4q_9djvZWdeGDSaVYY1gbyNoWp7nuNX7cdVPSTw3weLdQOCjdCdCq6MNKigA",
                  "width": 3024
                }
              ],
              "place_id": "ChIJtSy_7MUcdkgRyw8N9aCd-tY",
              "plus_code": {
                "compound_code": "GWCP+X9 London, UK",
                "global_code": "9C3XGWCP+X9"
              },
              "rating": 4.8,
              "reference": "ChIJtSy_7MUcdkgRyw8N9aCd-tY",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 761
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "22 Clarges St, London W1J 5FA, UK",
              "geometry": {
                "location": {
                  "lat": 51.5075814,
                  "lng": -0.145922
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5088711302915,
                    "lng": -0.144623469708498
                  },
                  "southwest": {
                    "lat": 51.5061731697085,
                    "lng": -0.147321430291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Third Space Mayfair",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 3199,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/117271709435804655956\">Third Space Mayfair</a>"
                  ],
                  "photo_reference": "AaVGc3nbFu549w9iAIS6JfrpvLJtq949hIrZKZU0pE92IdLaoGTU69eLeVbkofNltpGsqxbbAzR3OQagdiNGX70EC6SxbN3bt3xJwDKg66QSpsuZielVfYONyu7k1GRf1WrS2U8G4D-MSyU5lZzRpxhQCeqnSJcnHbQFMjNS7bv_XxnPUdKRLRZTitp5R9v08V6TCvXhTG-oAH8ud6LdekVO_6AIFTju1cCZ2Pk53Tf0LpsYw_FjN8PbfFFr4bpEqXNKAWePXSufCT_tJF1pgl1fVOMibWOZvlrZJSTWvPGSYNQIBVhSisxtz5lqdUB45nD-mvvFYuLFYcjJHH1PnhoVBh3F4e5NjL3cc6Q694t4pyEcdiGUBHpbZoMhCFwBQl-qHw-s_qeDaZa3jEHC4txNT9poxLSaMc_qvth_HAEaQNWRnzXp",
                  "width": 4800
                }
              ],
              "place_id": "ChIJKTdxix8FdkgR3Be4YhdZC_s",
              "plus_code": {
                "compound_code": "GV53+2J London, UK",
                "global_code": "9C3XGV53+2J"
              },
              "rating": 4.9,
              "reference": "ChIJKTdxix8FdkgR3Be4YhdZC_s",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 782
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "1, Triton Square, Regent's Place, London NW1 3AN, UK",
              "geometry": {
                "location": {
                  "lat": 51.5256644,
                  "lng": -0.1406346
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5269218802915,
                    "lng": -0.139734269708498
                  },
                  "southwest": {
                    "lat": 51.5242239197085,
                    "lng": -0.142432230291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "The Gym Group London Euston Road",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 576,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/100511925710714725469\">The Gym Group London Euston Road</a>"
                  ],
                  "photo_reference": "AaVGc3kBt4dnmmD4BgRHKO78MWJi8LCcbZG5IiBcN7xPJd-43l20XftwgeyYkJtE-qKPizm_O4aek0teTUI5CYD5TzkWyOWl7Nbon2_xWzjIHKuYGkoRSH_JpY6YT9AwxsupVivaOZBDcq_jr0mcibA0Go6RFyuIIY7OwaHpIdIADqWJ5EBQuMv4CwUzB8JFoMnzD_RjeuoCrd6AWKAQTta9pn5JXrEuv0sbSmyTDsQ51sQnlORkvTyVEb6d-KIpN8zohW0FtH19NvyCFrjrv6WG96K_yvHctpvns4jIfAwMBbKG-GH_3JM65H8m3XLxyPgvLGrkfjIYO0oby4mDrP4om8Q4rISVbDXgsnWp13mO9m70JDZ631YU0Xc3ZV8lpa4oADQTfzLwYdfhmZ9oEuoKEXCSsqfhYhgvHx7_Kihe-aA966Xa",
                  "width": 1024
                }
              ],
              "place_id": "ChIJFTZKr3UbdkgRnyjAaQ18h3c",
              "plus_code": {
                "compound_code": "GVG5+7P London, UK",
                "global_code": "9C3XGVG5+7P"
              },
              "rating": 4.8,
              "reference": "ChIJFTZKr3UbdkgRnyjAaQ18h3c",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 665
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Rex House, 4-12 Regent St., London SW1Y 4PE, UK",
              "geometry": {
                "location": {
                  "lat": 51.5085005,
                  "lng": -0.133245
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5098227302915,
                    "lng": -0.132080669708498
                  },
                  "southwest": {
                    "lat": 51.5071247697085,
                    "lng": -0.1347786302915021
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "PureGym London Piccadilly",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 3600,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/109201855413352940374\">Christiaan Kamstra</a>"
                  ],
                  "photo_reference": "AaVGc3kOFvaYyM8vwo8Zo8vZgu4sRpddhSGdL4gskmMPQetWgOI6LQObWykHx15pPhRulPsSlZWuv9i-Rx9KLhnOzDKxIFngTJhvNsGPctsoZjW3jgRrO9qZIx-7KNSyGwpk9q4UD9gAOru1xEOy-wHwZBt84VUMG6Hqpo-t4Rmm_MEEcjgoeYWJIcAGM5xxvM_NrBFN15frwxdSj2QRx8HJPYyBAEI_xWudtOGkiRKmznfCxvhw74zA6Rt7oRdAHC4w4woljE86GbzITv4EjOGq2Aq2zCZGKCYVaTazDuluVI_0w6OVpBJee2sN0AwFYdCuG4Dvmw2B_TlhCYDE0mtzvXRx1dRxHRb1UFMWiYEDMohgFOR0CHgCFR0IqRheX5e7SGQ1hlQiS27oI3QIAEtu7UYlTxBGb-PS1i4tX4whYQt8mEVejYG_sKsMYhxZ28kj",
                  "width": 4800
                }
              ],
              "place_id": "ChIJp4CbbNEEdkgRMGoC402amRc",
              "plus_code": {
                "compound_code": "GV58+CP London, UK",
                "global_code": "9C3XGV58+CP"
              },
              "rating": 4.1,
              "reference": "ChIJp4CbbNEEdkgRMGoC402amRc",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 577
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "195-203 Waterloo Rd, Baron's Pl, London SE1 8UX, UK",
              "geometry": {
                "location": {
                  "lat": 51.5008202,
                  "lng": -0.1070522
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5021737302915,
                    "lng": -0.105762419708498
                  },
                  "southwest": {
                    "lat": 51.4994757697085,
                    "lng": -0.108460380291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "The Gym Group London Waterloo",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 576,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/102470590704639066722\">The Gym Group London Waterloo</a>"
                  ],
                  "photo_reference": "AaVGc3lZFXCKPZuyYimraL_WqcR44Bect_dLJXJkQiGsRBvv2ddQCWLCNVdStBpTak4wJHQLlnlrXhrIf_wH4hTUAYIN5U0-2DU2qSpz_ClnVTESRdV72-EMt43UfmCZneMsyPgWRFdXs7rd3Sxnx6KWP-erAymhLsEX-Qr4As1giS0RrLl3DleiwBhAhVAd7mG1r1kRh-_o7lvdnX5qIirs5ux6DC7vjOUTDEHvVDjjRxKF9hboFFPjh6kf6VZHCyWRFF13ztNu-L8oAjpIndCR8kLmh_WahBEx74mBrWEQ-TSvO25qqI9CdkW_gfzxygITuwLqiMIwML4SayjGdwNSNv3rzXJsd5VpNe6husFrtLXORhz5fhzWB3e1nlEUUSUJ_hiF_14ZLY62AMcJHLRVdCFEaaAuQ-e6W4ik9m5wETsgeQ",
                  "width": 1024
                }
              ],
              "place_id": "ChIJJZ7XFbsEdkgR9CsVSsuUK2w",
              "plus_code": {
                "compound_code": "GV2V+85 London, UK",
                "global_code": "9C3XGV2V+85"
              },
              "rating": 4.6,
              "reference": "ChIJJZ7XFbsEdkgR9CsVSsuUK2w",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 1130
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "15 Great Marlborough St, London W1F 7HR, UK",
              "geometry": {
                "location": {
                  "lat": 51.5148484,
                  "lng": -0.1389095
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5159831302915,
                    "lng": -0.137407169708498
                  },
                  "southwest": {
                    "lat": 51.5132851697085,
                    "lng": -0.140105130291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Fitness First Oxford Circus",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 846,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/106384466364515614770\">Fitness First Oxford Circus</a>"
                  ],
                  "photo_reference": "AaVGc3nBg0z-1NlWd0lX9gLI2TVHUkuEhE_V0MPJq1NQSKjaJRLvKgvpVD9UeCpaZI8ODyJZiPNG8jTkxMCJrAiY0ha7AJw2N5xTzEyIrgde0p5m36x6bqaC7GGDWA0l5QDYRlvXkoH-mMA-wAAMqZTnfN-PGYyELnS6IFU6jpOwntH-QO05fnrtbn5WtjNgRLmDzCF4crHumdoXKC6UDmZO4ybgU2lMaQFQcrJfZ3LTJWG2hQGXu0ODt72uh7RlCDVcwa5Kdqa0jS9esBFbNnWtLPFfRABKl5QSNVXUMNNchK6zFvXoFX6iYpS3elSnKtSIrHwKXzJf9rbWaxDcsxqsYqdDXVAgUPYy-3pJHwVCkjDP6bwb1WXpRtwBwYxuHgn4yM5vHHD_hcsWfaNd6__c1sH3PAkvmPAnrzQhgNrJp4GT1w",
                  "width": 1189
                }
              ],
              "place_id": "ChIJEaQtLtUEdkgRKpU4uO6RjGA",
              "plus_code": {
                "compound_code": "GV76+WC London, UK",
                "global_code": "9C3XGV76+WC"
              },
              "rating": 4.5,
              "reference": "ChIJEaQtLtUEdkgRKpU4uO6RjGA",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest",
                "spa"
              ],
              "user_ratings_total": 658
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "15 Esther Anne Pl, London N1 1UL, UK",
              "geometry": {
                "location": {
                  "lat": 51.53890999999999,
                  "lng": -0.1036721
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5403795302915,
                    "lng": -0.102380619708498
                  },
                  "southwest": {
                    "lat": 51.5376815697085,
                    "lng": -0.105078580291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Third Space Islington",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 1365,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/102795862916660534178\">Third Space Islington</a>"
                  ],
                  "photo_reference": "AaVGc3kDf2ZOjP8Wj3PrN-UA8NtLsjBAsKEbzxovu9lGHDR6c5Lqf9QvJL07IuB-0XNeTs5hMHS61meJL2hcnACHECjY63sxBKzAyMiWAQ3ATtUWKt84NF9HdtsIVEqxI_Xz8IGl_RqFB__gAyku_2Nv2vnTv4VzPkV8HMoI4rnGGuFXXMwNXOkqzCrcRSMAWgoxZkcK1Liyqd2b1oZdF67ynKR5AuuaqlXCKU6O0nubDdEyt4FdG4-S93N5fvHPL4_LDempOR16kIkUAxRDcPWwZPGrCwFDMq9vz1142uZpVW6qPodo3BAF4PNkaA3q4geJMhKPTLqOgn5b423a5ZC8tD0olXGIGnmNAmKXTxD6G3tmxBGjKd_oYu7Wv673h9bgG1AVyGD8qrfxSbi_Pn9MMd-G55TgSZ7k8qyOYAQS8Y5p8w",
                  "width": 2048
                }
              ],
              "place_id": "ChIJJfdFY6wbdkgRoEDm7d59PIU",
              "plus_code": {
                "compound_code": "GVQW+HG London, UK",
                "global_code": "9C3XGVQW+HG"
              },
              "rating": 4.7,
              "reference": "ChIJJfdFY6wbdkgRoEDm7d59PIU",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 1523
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Entrance on, 120 Oxford St, Wells St, London W1D 1LT, UK",
              "geometry": {
                "location": {
                  "lat": 51.5162913,
                  "lng": -0.1369568
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.51765533029149,
                    "lng": -0.135669919708498
                  },
                  "southwest": {
                    "lat": 51.51495736970849,
                    "lng": -0.138367880291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "The Gym Group London Oxford Street",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 576,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/117533022093295690078\">The Gym Group London Oxford Street</a>"
                  ],
                  "photo_reference": "AaVGc3lBtNDpjNtBvizWc1gtIgZw_IlserUmh6IirEaC9WdhmZRpB3jScx4VxWr8HoLAlH9STHplQNAMLXX-686Lt7LQ3ry3V1D20F1RVRzw04F6C5QYgefBciFck51_c0U_kQwpFQLWYB388ZVuucK97Qs9xMSrn1BrVsQd2ZP-FUaZwLhMAk6-nBTMnAfKk0u3JPuXOLsVZDO64q9jttJNofR54emmvY6e7TVhM5kq7YNbBUpCgigxUgwNXHjwqXnE3h7uXUiAdDd0ohk1aqaJkj_-qBe_47hydI87kDLlrnTTj4KVAWfg5Htv8k3rbIkHf6rwBoAojNh_y-x_d6JPKEO1PHpyT6OBcn4l5ouzRMo11hw3QbLYrnjrDg85Va7TBODFoyG7Syvxljbsh6i3YtgOYLJrsW_cjmaK_OtsegY",
                  "width": 1024
                }
              ],
              "place_id": "ChIJoepo2CobdkgRBGeqS_45K7Y",
              "plus_code": {
                "compound_code": "GV87+G6 London, UK",
                "global_code": "9C3XGV87+G6"
              },
              "rating": 4.4,
              "reference": "ChIJoepo2CobdkgRBGeqS_45K7Y",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 700
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Empire Square West, 13-16 Long Ln, London SE1 4NA, UK",
              "geometry": {
                "location": {
                  "lat": 51.5009641,
                  "lng": -0.09085109999999999
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.50236398029149,
                    "lng": -0.08947161970849797
                  },
                  "southwest": {
                    "lat": 51.4996660197085,
                    "lng": -0.09216958029150203
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "PureGym London Borough",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 2992,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/100884192085863682740\">Travel With Will</a>"
                  ],
                  "photo_reference": "AaVGc3kCMhB8-0HZqqiGlnKIT2Bjzl-GoOLleLLnO1GFeanw9wjnrA2KYKKZtZ2ik8WmMlFjAgBlpzA2cMeUxxvCpSJUnOGv9Z-N17OR2qE7DJbzrrkEksMN1SLFyc0pzGJOrFF5Hp5FgLY0yTTg9Xf2t3tI-HOdCePOV3yXtGRKFsmgNue6r7jhVZn75ndJb3l3eTykxbT7yLdWgqPGnPHXAMLzb92Wd8NP6z66304AfDuzoy-xHQt7ynfllHYEFwTFbthbV0hA9MaJFUTeWTwDrpRptPoSgHg2V61eIbb6Z2kbVIjrgMKGWysatVdjziqdLhPsAXNUgjG9rx9hwSE3N7xS3YUrnPwCyhi0V-TBifTAczlJrlHbScPIN--QJealLcGKOM-DAwLCqv9idhPWaBQoUJv6J_CZPVV63ToXBEHhu2mG9JiLIJaW73BGng",
                  "width": 2992
                }
              ],
              "place_id": "ChIJy9wT4FgDdkgRkZd1tI237GA",
              "plus_code": {
                "compound_code": "GW25+9M London, UK",
                "global_code": "9C3XGW25+9M"
              },
              "rating": 4.7,
              "reference": "ChIJy9wT4FgDdkgRkZd1tI237GA",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 1381
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "Coram St, London WC1N 1HB, UK",
              "geometry": {
                "location": {
                  "lat": 51.5242386,
                  "lng": -0.1248949
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5256236302915,
                    "lng": -0.123593919708498
                  },
                  "southwest": {
                    "lat": 51.5229256697085,
                    "lng": -0.126291880291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "The Gym Group London Bloomsbury",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 576,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/104695523996580058263\">The Gym Group London Bloomsbury</a>"
                  ],
                  "photo_reference": "AaVGc3li8NwBkQv6AGC64GP-49176vRI74x_5kpxCq_ekVJNwmsvyYwELjzXLGYYNj53a1ezXNbZuZ-e9SjD_4OzRPYrjp0-UWAlLZXzNIeuqyEK77Io-xWJC3NgyI9MyPpkZ3EhoF-oy7gQgXgHf0VVe8Z0ikQnv-ohKZYMf3_R9EafyPhMqgqQjVLm77uzvxI08aiyisB1P9rUWIrD-uVIwoore7EDJu854KDTgorIQuusurLh_qDitKujIIwOWt569sQV7hhmReIbNS9feOzp7IbpWpNkOWqGBssqhpV670s8-s2JqhbHPLrMLd95pEgjojYlOD8oiAqWZzfKgaR9aQ_ZvScYcE6mLi0pNOrAdFjEOVByKQy8woxiYo-eeiCThrntgpE5SI07EP47w2XJN96YGszYCWOJnCvJSTzZSs8",
                  "width": 1024
                }
              ],
              "place_id": "ChIJVylslTAbdkgRinQ3RE49N44",
              "plus_code": {
                "compound_code": "GVFG+M2 London, UK",
                "global_code": "9C3XGVFG+M2"
              },
              "rating": 4.5,
              "reference": "ChIJVylslTAbdkgRinQ3RE49N44",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest"
              ],
              "user_ratings_total": 912
            },
            {
              "business_status": "OPERATIONAL",
              "formatted_address": "6 Bedford St, London WC2E 9HD, UK",
              "geometry": {
                "location": {
                  "lat": 51.51002949999999,
                  "lng": -0.1238553
                },
                "viewport": {
                  "northeast": {
                    "lat": 51.5114076802915,
                    "lng": -0.122506019708498
                  },
                  "southwest": {
                    "lat": 51.5087097197085,
                    "lng": -0.125203980291502
                  }
                }
              },
              "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
              "icon_background_color": "#7B9EB0",
              "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
              "name": "Fitness First The Strand",
              "opening_hours": {
                "open_now": true
              },
              "photos": [
                {
                  "height": 500,
                  "html_attributions": [
                    "<a href=\"https://maps.google.com/maps/contrib/110919378128633198690\">Fitness First The Strand</a>"
                  ],
                  "photo_reference": "AaVGc3ltRCChHGTJrMvv0nK2XMy1Wu9vLE7shLBLH-nklz9KUQ8OiywMQgFsIc-x33YFdRqR-gvsK-M-bovhbCd6eDteSTsVwO6qiZDxUcR_4qgdZ8nf69_WTC7y90Q9lT-nNNux4TN-h1dcVHd_VlyFfqb6S5W1glLe3A4FO2JKNNXdojDkw3D_rNTQr6ybJ_d5wcIRWiG_XgXokPf3KdO5fn4RUIbpT8Hf_99mdJ0rOC7Pg44wgyPIamnwXlOBeN_wjie8ZevBxFLVfk2VTVEMP63R584ddmK_N-OXJlJcHTNMF0EyxoQJmkbIyqoHP9yya3YEjjQ6h9BC1-cEVq5wy5g7oPyf39pNotbWwUwR8Fx09LlhSDX-Ml_cAhVuBjwGoVn4wD4InC2WxW0ldp-Sqku8hYB6hI2eyW3kj9KBHWeM5iY",
                  "width": 1200
                }
              ],
              "place_id": "ChIJy3SZHMwEdkgRNLUT2wTY1wU",
              "plus_code": {
                "compound_code": "GV6G+2F London, UK",
                "global_code": "9C3XGV6G+2F"
              },
              "rating": 4.7,
              "reference": "ChIJy3SZHMwEdkgRNLUT2wTY1wU",
              "types": [
                "establishment",
                "gym",
                "health",
                "point_of_interest",
                "spa"
              ],
              "user_ratings_total": 758
            }
          ],
          "status": "OK"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "67 Brewer St, London W1F 9US, UK",
          "geometry": {
            "location": {
              "lat": 51.51126989999999,
              "lng": -0.1357459
            },
            "viewport": {
              "northeast": {
                "lat": 51.51265948029149,
                "lng": -0.134471369708498
              },
              "southwest": {
                "lat": 51.5099615197085,
                "lng": -0.1371693302915021
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Third Space Soho",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 1389,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/114574720640403024592\">Third Space Soho</a>"
              ],
              "photo_reference": "AaVGc3lNZlUdXRthB0OEDxUuykEe5nTxOVtLjDyIbH_6kGOf6vcNKZ2qkqowez7ReVCpUNgVnbqVbdQQTAQRCUfEa1PvKJD1KeBQS5ns5xZzqDHXn7qe9pg6YDlwS9Ia6xe9C9kjuABR6twolyy1xqaGiWSD2KIvLGdGFfnVBkNCnOYbKbE9KeZueaz3gQQ0hXo3oZMfl_s-pbd-EMEz8sck0Wl7mh-SWQe_1n2_W5CWfDTFRjfPFoBT-eDGB5AXMC1zlcs_zowv3nHzqUv24ErAEW8dSZm9pO2DDwbWNLIz6z3qO1A6gdbjRO7P6RUhiqHtMGFdluZ59G--wiqlFyL4lzi7o2c9Df5auVOG5oglKpcRv8iSOCqEi54-o7axMNR-F2npSu39apsRQFVdXfyxEQZPmnduQhTJCE1WO803yI4",
              "width": 2048
            }
          ],
          "place_id": "ChIJvRqmDdQEdkgRvWqeVlKXNE8",
          "plus_code": {
            "compound_code": "GV67+GP London, UK",
            "global_code": "9C3XGV67+GP"
          },
          "rating": 4.8,
          "reference": "ChIJvRqmDdQEdkgRvWqeVlKXNE8",
          "types": [
            "establishment",
            "gym",
            "health",
            "hospital",
            "point_of_interest"
          ],
          "user_ratings_total": 1484
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "26 Druid St, London SE1 2EY, UK",
          "geometry": {
            "location": {
              "lat": 51.5014785,
              "lng": -0.0788046
            },
            "viewport": {
              "northeast": {
                "lat": 51.5028806302915,
                "lng": -0.07739006970849797
              },
              "southwest": {
                "lat": 51.5001826697085,
                "lng": -0.08008803029150204
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Gym Nation | London Bridge",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 2160,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/109826400445391160158\">Gym Nation | London Bridge</a>"
              ],
              "photo_reference": "AaVGc3mHt3C5RxDC65Fhj6ZthqhbbsS_qUEJxmDGmrUurs8-eRjKmc5xBX8h-48zXMG-wcgBROQ_Vr5wDaAs4pVgptwIX6aWzx0wT1oZBHIPiIlJYA1tRW06prr5Il-Y0Vv4c-FSgZRmxaPhxf69rXGA6kkUjVRaOQPSHU-wNccFlzO48bQOicbrgB0h8eRuOk4raExu3dZqT_u5KP-gD2WtevhvXyqQnFgjO9ms4pbKz_YHW2PpMT8Pw6WYUjIwWU10IIPt_YElso5nU5N7VCg9214bI8l6gMHEbLOOTkeBVPAdMDDAi9J_wdl7xPBxzJgT8_EC_zPSTcuVKucbe-NwHW6-5QZhrGT2QXbs_7naWB_RkRxQnqDhdg2RXXPk9avfKkMcuDKbpiTsDZWfgHYuJdLARFiLdDIsknnefRAoS9zN4w",
              "width": 3840
            }
          ],
          "place_id": "ChIJPejdgJwDdkgRey3H2OkKJgs",
          "plus_code": {
            "compound_code": "GW2C+HF London, UK",
            "global_code": "9C3XGW2C+HF"
          },
          "rating": 4.9,
          "reference": "ChIJPejdgJwDdkgRey3H2OkKJgs",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 1034
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Third Space Canary Wharf, 16-19 Canada Square, Canary Wharf Estate, London E14 5ER, UK",
          "geometry": {
            "location": {
              "lat": 51.5047861,
              "lng": -0.0167412
            },
            "viewport": {
              "northeast": {
                "lat": 51.50612408029149,
                "lng": -0.01547046970849797
              },
              "southwest": {
                "lat": 51.50342611970849,
                "lng": -0.01816843029150203
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Third Space Canary Wharf",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 1200,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/117098830810445809134\">Third Space Canary Wharf</a>"
              ],
              "photo_reference": "AaVGc3kzidmAb1vP5XgX6bDRsYyXlxC4iZqZDCv5CCvDWCPz5w0ghKHdvChdRsw8TiHEXJUEvjqvpPrt8XqIxqebv5BLtpHglVzgYotEhQae5cz0d-tQjKTcV3ox5DPBsmnV984jQlypWm8CKy0dMMjeoNSxd7AAegm51efKm5r0w60Us7UNyYlifh1FD5HLg5NFdK3EymIAJ8PbCWnoSx3Wi5lxnr28WmM72pFIC2xXADYpER9GkjVPisn627EcmFJlEDA3j9EumZ3HhUWJaUwZtc_Nh8DvuauBZhOgvtjtPpbELnSwcENvnaHkE1ueyyxrHe5sAtd6A-o4rqMnfVjvxdUIrSDaxcW-lwn7YvMvY6vapNzRGyOgBE87pNTXnct3vy2W0x8162wYtPhSjR7YXXd-ui0gGbJvABLsYiz2JRFz7A",
              "width": 1800
            }
          ],
          "place_id": "ChIJAxlrrrACdkgRzeaU0eO-PEY",
          "plus_code": {
            "compound_code": "GX3M+W8 London, UK",
            "global_code": "9C3XGX3M+W8"
          },
          "rating": 4.7,
          "reference": "ChIJAxlrrrACdkgRzeaU0eO-PEY",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest",
            "spa"
          ],
          "user_ratings_total": 2910
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "2b More London Pl, London SE1 2AP, UK",
          "geometry": {
            "location": {
              "lat": 51.5053694,
              "lng": -0.08024769999999999
            },
            "viewport": {
              "northeast": {
                "lat": 51.5062745302915,
                "lng": -0.07826666970849798
              },
              "southwest": {
                "lat": 51.5035765697085,
                "lng": -0.08096463029150205
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Third Space Tower Bridge",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 1201,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/114828927684740788803\">Third Space Tower Bridge</a>"
              ],
              "photo_reference": "AaVGc3m2pbdoxGBfnOSX_-DEiiy6fH9rbaUNKMJrRuqUyueoXAKu_muAqMC8TKtAyjWBFWclN-e-5kIJaNQvyukKpOIv4ngo0ncdas39XuNmqAE3322dLd8bdip2KEFBoy4HpM2t_YBXeUq05PSuX54JbCQ9Au7GThAEfPtWcsBjgUtSESesBe5CHWEUaiiKG5UyBFPXlzhyMxSdlCy7D5teYPVpdBKx2cUgKDPX9qHfeLfumXyyg8ZkV-xI7fWuT3M69TbBWJbaNt_C7QvtXlbv-6qDLo63_D6rZhgmjjog-DYyb8019jkmbcG542DnQp-MJaOAQSsV0fk39PmcOBEFwI-5hS1XUXO05d7oWW1wU0sf0P1blu_RAbAFzUGKbDhdfiM-Az9ja5KEA8JR8OpbtOz_sZEU0hjzgxQUVZOXfqOeWYQ",
              "width": 1800
            }
          ],
          "place_id": "ChIJVb3vOGgDdkgR_rZeet9tk4A",
          "plus_code": {
            "compound_code": "GW49+4W London, UK",
            "global_code": "9C3XGW49+4W"
          },
          "rating": 4.6,
          "reference": "ChIJVb3vOGgDdkgR_rZeet9tk4A",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 1364
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "40 Mark Ln, London EC3R 7AT, UK",
          "geometry": {
            "location": {
              "lat": 51.5102576,
              "lng": -0.0805433
            },
            "viewport": {
              "northeast": {
                "lat": 51.51158613029149,
                "lng": -0.07913421970849796
              },
              "southwest": {
                "lat": 51.5088881697085,
                "lng": -0.08183218029150202
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Third Space City",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 1067,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/103886477158631875816\">Third Space City</a>"
              ],
              "photo_reference": "AaVGc3kONOC9Hl2AOwwqCatBow9eiWlK0RuItzO_feTkyC0qe56bFN4RoPtB7KOz_4urzvvN_QEGWtf_pcMk77dW3dCzHzjX62wIiQpHR01TFTRUN9LvOChLdGT3EkTNa-3SnsgbBisVg9V6ED7XriWj1o9xaNNVocpMiBC2_Mh2g_-YtXn2DTEoEmR706tWGKKqTbyX6kJOIB0XhPvuxCknqmDILgAoHzmghzLQlGHqARf4GefT5thpIpfL5nSYtknBSBli0BEyDeqK81hrdyR_OxmeHs73lqWgfa5tBIzXyzOAFMGyE6vSom2S3rAbVTz7Ifpeuq_uPCdpwq13B2yzHVS7RjHtL22xbra935meb7lzJABeE47BHgX9D7Rcxzkm2D6TVDAUJZ6NcGYe1IlxHjjs3f2_JCRkAWkIaMjd6ul4malNyx3_8_VqTDjXHciL",
              "width": 1600
            }
          ],
          "place_id": "ChIJJydiQtQEdkgRNOJzLEA6OFQ",
          "plus_code": {
            "compound_code": "GW69+4Q London, UK",
            "global_code": "9C3XGW69+4Q"
          },
          "rating": 4.8,
          "reference": "ChIJJydiQtQEdkgRNOJzLEA6OFQ",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest",
            "spa"
          ],
          "user_ratings_total": 1073
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Queen Elizabeth St, London SE1 2JE, UK",
          "geometry": {
            "location": {
              "lat": 51.5015107,
              "lng": -0.0745931
            },
            "viewport": {
              "northeast": {
                "lat": 51.50291103029149,
                "lng": -0.07311711970849796
              },
              "southwest": {
                "lat": 51.50021306970849,
                "lng": -0.07581508029150202
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "The Circle Gym and Spa",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 2856,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/112013932763218526132\">The Circle Gym and Spa</a>"
              ],
              "photo_reference": "AaVGc3kF6tDKNwhvE9k4disRHqFI95FWur2qqaFbEmWbjUIFDMel6qTyOq9wFXLHW3B6OGZv6p1D0lYjw01t2okQdCqIVmnjdOWznE-hUhHziTQtFhv7JXlKcYASJtVt_tRaqhA9wuXmVEJlRgaaarRLMg0vfHNrvvR2_c7KcYv4HMf8FJbwyf-ZXFxcYUSwE2MlIXqEwbx5mlupmPxGY1swMzmCH3zLNKHKeb1fcAa6h7Q2kh2L7Ig7r9RPNU_1HrMVXSiXcHuFSzCGiJ26_ziivRhFFZnkYOvIS0bbNa9eJBL7oI7lAESA82Jn-vZbt92nlJoFoJr8KpqXg3TiasKh1ob-tNFcrF21Kk9c7KNYu1Fo-HJkXCxfLj5mRfMV5pnH-EDx08j5NhnnNNCR0u5cO5A8LqVYy07fgkoHA-IgaRJu-A",
              "width": 4272
            }
          ],
          "place_id": "ChIJZUXuY0YDdkgReo2kb5eer-k",
          "plus_code": {
            "compound_code": "GW2G+J5 London, UK",
            "global_code": "9C3XGW2G+J5"
          },
          "rating": 4.6,
          "reference": "ChIJZUXuY0YDdkgReo2kb5eer-k",
          "types": [
            "establishment",
            "gym",
            "health",
            "physiotherapist",
            "point_of_interest",
            "school",
            "spa"
          ],
          "user_ratings_total": 613
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "14 Charter St, Canary Wharf Estate, London E14 5GZ, UK",
          "geometry": {
            "location": {
              "lat": 51.5031207,
              "lng": -0.0127336
            },
            "viewport": {
              "northeast": {
                "lat": 51.50445983029149,
                "lng": -0.01129781970849797
              },
              "southwest": {
                "lat": 51.5017618697085,
                "lng": -0.01399578029150203
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Third Space Wood Wharf",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 1667,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/112840405310997250737\">Third Space Wood Wharf</a>"
              ],
              "photo_reference": "AaVGc3m-TDoeFXt12Gc8FX3K7V389Y3hyoflJymEX7vEpxyOT0Mtw0o5UBfLU_X-uADoPivI-KdUYLavBf8f8c9oDtLpEsvOftzgn0HfXlakhIls5s8LRhWkFOs564r5eBqxTYZ3aYoAnWyh1fw9L8aOcm20rr9hgJm8M2GUJ0UIYHxJ3wly1t9HVcvBIjBte0I_h6LUWThYny_DGb-iD39iLQMAoSgbRVk3ZWnoS6Zojlk4SlENNiBrMcmJlSw_hG_D1NXJ505w7JaQfuugwhwgBpl6RxueOdC-poN1STSnFPNKTDJ35GrvCB0gmyoH1x_6iYD-NcF9dzgXPORZaLkT02GjgxU2AiHdU88zynBcFQIlN5bAUpo33G8nOu3MhQIFmjKy7ENrWzftuAUz4wV8Npxcq8FNCQdWoi92HOPqq_xcVwI",
              "width": 2500
            }
          ],
          "place_id": "ChIJL18l-6cDdkgRHqPW6Pqps7I",
          "plus_code": {
            "compound_code": "GX3P+6W London, UK",
            "global_code": "9C3XGX3P+6W"
          },
          "rating": 4.9,
          "reference": "ChIJL18l-6cDdkgRHqPW6Pqps7I",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 866
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Cavendish Mews N, London W1W 6XA, UK",
          "geometry": {
            "location": {
              "lat": 51.5202815,
              "lng": -0.1436246
            },
            "viewport": {
              "northeast": {
                "lat": 51.5216112302915,
                "lng": -0.142340419708498
              },
              "southwest": {
                "lat": 51.51891326970851,
                "lng": -0.145038380291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Fitness First Marylebone",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 1944,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/100634829479054963847\">Fitness First Marylebone</a>"
              ],
              "photo_reference": "AaVGc3nejmia0nL_mR-Flla4kFyZ0icGLXGac8fjQP9OangTI0NPZSKjOVvqkfoWu61QF0oVnouLGgYCyFNWH8b9_65U0m0yuUkQb3V6JBMLPU1mW9_DpTCzY9qXRf9h-Qzlf8sAbEMs_qK68VHfyF3PUIWMl8MXcDMVLJoZ3bI_zk44XCwu7sm-oynuwdgLcnFPnzhsSHPI--n0mcp02Bja8Xf9b2K2nAqtM2mK1eNr-1e6CkPQZvu4Asa3TMvM1z7n5wh1BRX7G781QjXb9NJ8_JjPwnRr8a90TAGVvUxx3S8-Gi6HzpTbSeDDkZjuJ-v4jLwZbBfXo71NRcEMBk5K-LpIjnJgOc6QESh3MoTKLlDFrcd22z_ui0LLmYwi-1DskKODUUWCrKrkArF-zsZG1RZQCxns8jouzQNbJPTnbjr21AUTQ3bgOu5KiFTyoXfU",
              "width": 2750
            }
          ],
          "place_id": "ChIJweQINHQbdkgRFrmUqNngFgE",
          "plus_code": {
            "compound_code": "GVC4+4H London, UK",
            "global_code": "9C3XGVC4+4H"
          },
          "rating": 4.6,
          "reference": "ChIJweQINHQbdkgRFrmUqNngFgE",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest",
            "spa"
          ],
          "user_ratings_total": 510
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Dufour's Pl, London W1F 7SP, UK",
          "geometry": {
            "location": {
              "lat": 51.5136119,
              "lng": -0.1374895
            },
            "viewport": {
              "northeast": {
                "lat": 51.51494608029149,
                "lng": -0.136063269708498
              },
              "southwest": {
                "lat": 51.5122481197085,
                "lng": -0.138761230291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Topnotch Gyms Soho",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 3200,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/113890813251723444167\">Topnotch Gyms Soho</a>"
              ],
              "photo_reference": "AaVGc3lV_I7E5PVBsgrOhs_jVMmCyIXSl7-xY75FcUrBjKpfgO_w3qVDevtlRXTUjvC8sagVK4ePF7O5J2rqLIGgssGS_yXUBgjEIwJmkROjd1C7oIZK6_kPHGyN6UL6u8rokaqymSo3ZsrUt46Xi9EtMzPXGSGgEno2JLVbBM2Mx97iCUvR8hbkCl9nCjz8iZbuwTf0bzp5ahjCsj0M0eD-WX_ABa_KI93SX4Yyiy6GgFzqngsloL1Fu_8dtZ5RzpbCsCUUNtB0EourZAHmIJxAe7kPicRXj0aZ79shbhXNtItF6-ul6wvfIWPBkU2GD-lz4VKt9bKAcwKQCwOOHSNBtCLax0cc_Vvis2ktCxbask1iHZcOdFv01JRRppEYbkOrxD-u-MOnpL-yy6JmeDpUMVy5HH_5HWWbKVycL4ZFxSqpc5Ya",
              "width": 4800
            }
          ],
          "place_id": "ChIJz0D1uI4FdkgR1gCOZVT02WA",
          "plus_code": {
            "compound_code": "GV77+C2 London, UK",
            "global_code": "9C3XGV77+C2"
          },
          "rating": 4.8,
          "reference": "ChIJz0D1uI4FdkgR1gCOZVT02WA",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 357
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "114 Vallance Rd, London E1 5BL, UK",
          "geometry": {
            "location": {
              "lat": 51.522499,
              "lng": -0.0640052
            },
            "viewport": {
              "northeast": {
                "lat": 51.5238596302915,
                "lng": -0.06280516970849796
              },
              "southwest": {
                "lat": 51.5211616697085,
                "lng": -0.06550313029150204
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Muscleworks Gym",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 4032,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/100584392731331305068\">Mark Fisher</a>"
              ],
              "photo_reference": "AaVGc3mZDZD82DE9a90-d9Myl2tA2ZmTv8167MYdA15UykUN1hhNXMOdi4URorQ9gkMC0VXXAF96qQxnf-1C9RdtqACJ3zacWOacwF0-tKxpbCOW1mZ8HSavlKOysJXGtgPGgZm38-Nfb2qLyRUKxsbxlDALt9YWVPKESbGSNt1ssnLLNScy7MoNj3jVderhCeNFnxMefxqT6P7ZPmAfVQNfvZgdvfy_RtXSx7DZI9nIpJuaqxWxb3UUe_z9hfm2Z5dW2x3x6viaxKQV4mtURQfSa4Gd1Gqa9MZhr6U-nVwPfpvbMbekhUJH8q7taojGz2higZgI-M4cZBbZeNdEC876WI-dJsK0kjJM19ojp24_paSsVXrNrT4q_9djvZWdeGDSaVYY1gbyNoWp7nuNX7cdVPSTw3weLdQOCjdCdCq6MNKigA",
              "width": 3024
            }
          ],
          "place_id": "ChIJtSy_7MUcdkgRyw8N9aCd-tY",
          "plus_code": {
            "compound_code": "GWCP+X9 London, UK",
            "global_code": "9C3XGWCP+X9"
          },
          "rating": 4.8,
          "reference": "ChIJtSy_7MUcdkgRyw8N9aCd-tY",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 761
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "22 Clarges St, London W1J 5FA, UK",
          "geometry": {
            "location": {
              "lat": 51.5075814,
              "lng": -0.145922
            },
            "viewport": {
              "northeast": {
                "lat": 51.5088711302915,
                "lng": -0.144623469708498
              },
              "southwest": {
                "lat": 51.5061731697085,
                "lng": -0.147321430291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Third Space Mayfair",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 3199,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/117271709435804655956\">Third Space Mayfair</a>"
              ],
              "photo_reference": "AaVGc3nbFu549w9iAIS6JfrpvLJtq949hIrZKZU0pE92IdLaoGTU69eLeVbkofNltpGsqxbbAzR3OQagdiNGX70EC6SxbN3bt3xJwDKg66QSpsuZielVfYONyu7k1GRf1WrS2U8G4D-MSyU5lZzRpxhQCeqnSJcnHbQFMjNS7bv_XxnPUdKRLRZTitp5R9v08V6TCvXhTG-oAH8ud6LdekVO_6AIFTju1cCZ2Pk53Tf0LpsYw_FjN8PbfFFr4bpEqXNKAWePXSufCT_tJF1pgl1fVOMibWOZvlrZJSTWvPGSYNQIBVhSisxtz5lqdUB45nD-mvvFYuLFYcjJHH1PnhoVBh3F4e5NjL3cc6Q694t4pyEcdiGUBHpbZoMhCFwBQl-qHw-s_qeDaZa3jEHC4txNT9poxLSaMc_qvth_HAEaQNWRnzXp",
              "width": 4800
            }
          ],
          "place_id": "ChIJKTdxix8FdkgR3Be4YhdZC_s",
          "plus_code": {
            "compound_code": "GV53+2J London, UK",
            "global_code": "9C3XGV53+2J"
          },
          "rating": 4.9,
          "reference": "ChIJKTdxix8FdkgR3Be4YhdZC_s",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 782
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "1, Triton Square, Regent's Place, London NW1 3AN, UK",
          "geometry": {
            "location": {
              "lat": 51.5256644,
              "lng": -0.1406346
            },
            "viewport": {
              "northeast": {
                "lat": 51.5269218802915,
                "lng": -0.139734269708498
              },
              "southwest": {
                "lat": 51.5242239197085,
                "lng": -0.142432230291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "The Gym Group London Euston Road",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 576,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/100511925710714725469\">The Gym Group London Euston Road</a>"
              ],
              "photo_reference": "AaVGc3kBt4dnmmD4BgRHKO78MWJi8LCcbZG5IiBcN7xPJd-43l20XftwgeyYkJtE-qKPizm_O4aek0teTUI5CYD5TzkWyOWl7Nbon2_xWzjIHKuYGkoRSH_JpY6YT9AwxsupVivaOZBDcq_jr0mcibA0Go6RFyuIIY7OwaHpIdIADqWJ5EBQuMv4CwUzB8JFoMnzD_RjeuoCrd6AWKAQTta9pn5JXrEuv0sbSmyTDsQ51sQnlORkvTyVEb6d-KIpN8zohW0FtH19NvyCFrjrv6WG96K_yvHctpvns4jIfAwMBbKG-GH_3JM65H8m3XLxyPgvLGrkfjIYO0oby4mDrP4om8Q4rISVbDXgsnWp13mO9m70JDZ631YU0Xc3ZV8lpa4oADQTfzLwYdfhmZ9oEuoKEXCSsqfhYhgvHx7_Kihe-aA966Xa",
              "width": 1024
            }
          ],
          "place_id": "ChIJFTZKr3UbdkgRnyjAaQ18h3c",
          "plus_code": {
            "compound_code": "GVG5+7P London, UK",
            "global_code": "9C3XGVG5+7P"
          },
          "rating": 4.8,
          "reference": "ChIJFTZKr3UbdkgRnyjAaQ18h3c",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 665
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Rex House, 4-12 Regent St., London SW1Y 4PE, UK",
          "geometry": {
            "location": {
              "lat": 51.5085005,
              "lng": -0.133245
            },
            "viewport": {
              "northeast": {
                "lat": 51.5098227302915,
                "lng": -0.132080669708498
              },
              "southwest": {
                "lat": 51.5071247697085,
                "lng": -0.1347786302915021
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "PureGym London Piccadilly",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 3600,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/109201855413352940374\">Christiaan Kamstra</a>"
              ],
              "photo_reference": "AaVGc3kOFvaYyM8vwo8Zo8vZgu4sRpddhSGdL4gskmMPQetWgOI6LQObWykHx15pPhRulPsSlZWuv9i-Rx9KLhnOzDKxIFngTJhvNsGPctsoZjW3jgRrO9qZIx-7KNSyGwpk9q4UD9gAOru1xEOy-wHwZBt84VUMG6Hqpo-t4Rmm_MEEcjgoeYWJIcAGM5xxvM_NrBFN15frwxdSj2QRx8HJPYyBAEI_xWudtOGkiRKmznfCxvhw74zA6Rt7oRdAHC4w4woljE86GbzITv4EjOGq2Aq2zCZGKCYVaTazDuluVI_0w6OVpBJee2sN0AwFYdCuG4Dvmw2B_TlhCYDE0mtzvXRx1dRxHRb1UFMWiYEDMohgFOR0CHgCFR0IqRheX5e7SGQ1hlQiS27oI3QIAEtu7UYlTxBGb-PS1i4tX4whYQt8mEVejYG_sKsMYhxZ28kj",
              "width": 4800
            }
          ],
          "place_id": "ChIJp4CbbNEEdkgRMGoC402amRc",
          "plus_code": {
            "compound_code": "GV58+CP London, UK",
            "global_code": "9C3XGV58+CP"
          },
          "rating": 4.1,
          "reference": "ChIJp4CbbNEEdkgRMGoC402amRc",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 577
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "195-203 Waterloo Rd, Baron's Pl, London SE1 8UX, UK",
          "geometry": {
            "location": {
              "lat": 51.5008202,
              "lng": -0.1070522
            },
            "viewport": {
              "northeast": {
                "lat": 51.5021737302915,
                "lng": -0.105762419708498
              },
              "southwest": {
                "lat": 51.4994757697085,
                "lng": -0.108460380291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "The Gym Group London Waterloo",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 576,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/102470590704639066722\">The Gym Group London Waterloo</a>"
              ],
              "photo_reference": "AaVGc3lZFXCKPZuyYimraL_WqcR44Bect_dLJXJkQiGsRBvv2ddQCWLCNVdStBpTak4wJHQLlnlrXhrIf_wH4hTUAYIN5U0-2DU2qSpz_ClnVTESRdV72-EMt43UfmCZneMsyPgWRFdXs7rd3Sxnx6KWP-erAymhLsEX-Qr4As1giS0RrLl3DleiwBhAhVAd7mG1r1kRh-_o7lvdnX5qIirs5ux6DC7vjOUTDEHvVDjjRxKF9hboFFPjh6kf6VZHCyWRFF13ztNu-L8oAjpIndCR8kLmh_WahBEx74mBrWEQ-TSvO25qqI9CdkW_gfzxygITuwLqiMIwML4SayjGdwNSNv3rzXJsd5VpNe6husFrtLXORhz5fhzWB3e1nlEUUSUJ_hiF_14ZLY62AMcJHLRVdCFEaaAuQ-e6W4ik9m5wETsgeQ",
              "width": 1024
            }
          ],
          "place_id": "ChIJJZ7XFbsEdkgR9CsVSsuUK2w",
          "plus_code": {
            "compound_code": "GV2V+85 London, UK",
            "global_code": "9C3XGV2V+85"
          },
          "rating": 4.6,
          "reference": "ChIJJZ7XFbsEdkgR9CsVSsuUK2w",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 1130
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "15 Great Marlborough St, London W1F 7HR, UK",
          "geometry": {
            "location": {
              "lat": 51.5148484,
              "lng": -0.1389095
            },
            "viewport": {
              "northeast": {
                "lat": 51.5159831302915,
                "lng": -0.137407169708498
              },
              "southwest": {
                "lat": 51.5132851697085,
                "lng": -0.140105130291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Fitness First Oxford Circus",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 846,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/106384466364515614770\">Fitness First Oxford Circus</a>"
              ],
              "photo_reference": "AaVGc3nBg0z-1NlWd0lX9gLI2TVHUkuEhE_V0MPJq1NQSKjaJRLvKgvpVD9UeCpaZI8ODyJZiPNG8jTkxMCJrAiY0ha7AJw2N5xTzEyIrgde0p5m36x6bqaC7GGDWA0l5QDYRlvXkoH-mMA-wAAMqZTnfN-PGYyELnS6IFU6jpOwntH-QO05fnrtbn5WtjNgRLmDzCF4crHumdoXKC6UDmZO4ybgU2lMaQFQcrJfZ3LTJWG2hQGXu0ODt72uh7RlCDVcwa5Kdqa0jS9esBFbNnWtLPFfRABKl5QSNVXUMNNchK6zFvXoFX6iYpS3elSnKtSIrHwKXzJf9rbWaxDcsxqsYqdDXVAgUPYy-3pJHwVCkjDP6bwb1WXpRtwBwYxuHgn4yM5vHHD_hcsWfaNd6__c1sH3PAkvmPAnrzQhgNrJp4GT1w",
              "width": 1189
            }
          ],
          "place_id": "ChIJEaQtLtUEdkgRKpU4uO6RjGA",
          "plus_code": {
            "compound_code": "GV76+WC London, UK",
            "global_code": "9C3XGV76+WC"
          },
          "rating": 4.5,
          "reference": "ChIJEaQtLtUEdkgRKpU4uO6RjGA",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest",
            "spa"
          ],
          "user_ratings_total": 658
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "15 Esther Anne Pl, London N1 1UL, UK",
          "geometry": {
            "location": {
              "lat": 51.53890999999999,
              "lng": -0.1036721
            },
            "viewport": {
              "northeast": {
                "lat": 51.5403795302915,
                "lng": -0.102380619708498
              },
              "southwest": {
                "lat": 51.5376815697085,
                "lng": -0.105078580291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Third Space Islington",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 1365,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/102795862916660534178\">Third Space Islington</a>"
              ],
              "photo_reference": "AaVGc3kDf2ZOjP8Wj3PrN-UA8NtLsjBAsKEbzxovu9lGHDR6c5Lqf9QvJL07IuB-0XNeTs5hMHS61meJL2hcnACHECjY63sxBKzAyMiWAQ3ATtUWKt84NF9HdtsIVEqxI_Xz8IGl_RqFB__gAyku_2Nv2vnTv4VzPkV8HMoI4rnGGuFXXMwNXOkqzCrcRSMAWgoxZkcK1Liyqd2b1oZdF67ynKR5AuuaqlXCKU6O0nubDdEyt4FdG4-S93N5fvHPL4_LDempOR16kIkUAxRDcPWwZPGrCwFDMq9vz1142uZpVW6qPodo3BAF4PNkaA3q4geJMhKPTLqOgn5b423a5ZC8tD0olXGIGnmNAmKXTxD6G3tmxBGjKd_oYu7Wv673h9bgG1AVyGD8qrfxSbi_Pn9MMd-G55TgSZ7k8qyOYAQS8Y5p8w",
              "width": 2048
            }
          ],
          "place_id": "ChIJJfdFY6wbdkgRoEDm7d59PIU",
          "plus_code": {
            "compound_code": "GVQW+HG London, UK",
            "global_code": "9C3XGVQW+HG"
          },
          "rating": 4.7,
          "reference": "ChIJJfdFY6wbdkgRoEDm7d59PIU",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 1523
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Entrance on, 120 Oxford St, Wells St, London W1D 1LT, UK",
          "geometry": {
            "location": {
              "lat": 51.5162913,
              "lng": -0.1369568
            },
            "viewport": {
              "northeast": {
                "lat": 51.51765533029149,
                "lng": -0.135669919708498
              },
              "southwest": {
                "lat": 51.51495736970849,
                "lng": -0.138367880291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "The Gym Group London Oxford Street",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 576,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/117533022093295690078\">The Gym Group London Oxford Street</a>"
              ],
              "photo_reference": "AaVGc3lBtNDpjNtBvizWc1gtIgZw_IlserUmh6IirEaC9WdhmZRpB3jScx4VxWr8HoLAlH9STHplQNAMLXX-686Lt7LQ3ry3V1D20F1RVRzw04F6C5QYgefBciFck51_c0U_kQwpFQLWYB388ZVuucK97Qs9xMSrn1BrVsQd2ZP-FUaZwLhMAk6-nBTMnAfKk0u3JPuXOLsVZDO64q9jttJNofR54emmvY6e7TVhM5kq7YNbBUpCgigxUgwNXHjwqXnE3h7uXUiAdDd0ohk1aqaJkj_-qBe_47hydI87kDLlrnTTj4KVAWfg5Htv8k3rbIkHf6rwBoAojNh_y-x_d6JPKEO1PHpyT6OBcn4l5ouzRMo11hw3QbLYrnjrDg85Va7TBODFoyG7Syvxljbsh6i3YtgOYLJrsW_cjmaK_OtsegY",
              "width": 1024
            }
          ],
          "place_id": "ChIJoepo2CobdkgRBGeqS_45K7Y",
          "plus_code": {
            "compound_code": "GV87+G6 London, UK",
            "global_code": "9C3XGV87+G6"
          },
          "rating": 4.4,
          "reference": "ChIJoepo2CobdkgRBGeqS_45K7Y",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 700
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Empire Square West, 13-16 Long Ln, London SE1 4NA, UK",
          "geometry": {
            "location": {
              "lat": 51.5009641,
              "lng": -0.09085109999999999
            },
            "viewport": {
              "northeast": {
                "lat": 51.50236398029149,
                "lng": -0.08947161970849797
              },
              "southwest": {
                "lat": 51.4996660197085,
                "lng": -0.09216958029150203
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "PureGym London Borough",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 2992,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/100884192085863682740\">Travel With Will</a>"
              ],
              "photo_reference": "AaVGc3kCMhB8-0HZqqiGlnKIT2Bjzl-GoOLleLLnO1GFeanw9wjnrA2KYKKZtZ2ik8WmMlFjAgBlpzA2cMeUxxvCpSJUnOGv9Z-N17OR2qE7DJbzrrkEksMN1SLFyc0pzGJOrFF5Hp5FgLY0yTTg9Xf2t3tI-HOdCePOV3yXtGRKFsmgNue6r7jhVZn75ndJb3l3eTykxbT7yLdWgqPGnPHXAMLzb92Wd8NP6z66304AfDuzoy-xHQt7ynfllHYEFwTFbthbV0hA9MaJFUTeWTwDrpRptPoSgHg2V61eIbb6Z2kbVIjrgMKGWysatVdjziqdLhPsAXNUgjG9rx9hwSE3N7xS3YUrnPwCyhi0V-TBifTAczlJrlHbScPIN--QJealLcGKOM-DAwLCqv9idhPWaBQoUJv6J_CZPVV63ToXBEHhu2mG9JiLIJaW73BGng",
              "width": 2992
            }
          ],
          "place_id": "ChIJy9wT4FgDdkgRkZd1tI237GA",
          "plus_code": {
            "compound_code": "GW25+9M London, UK",
            "global_code": "9C3XGW25+9M"
          },
          "rating": 4.7,
          "reference": "ChIJy9wT4FgDdkgRkZd1tI237GA",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 1381
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "Coram St, London WC1N 1HB, UK",
          "geometry": {
            "location": {
              "lat": 51.5242386,
              "lng": -0.1248949
            },
            "viewport": {
              "northeast": {
                "lat": 51.5256236302915,
                "lng": -0.123593919708498
              },
              "southwest": {
                "lat": 51.5229256697085,
                "lng": -0.126291880291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "The Gym Group London Bloomsbury",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 576,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/104695523996580058263\">The Gym Group London Bloomsbury</a>"
              ],
              "photo_reference": "AaVGc3li8NwBkQv6AGC64GP-49176vRI74x_5kpxCq_ekVJNwmsvyYwELjzXLGYYNj53a1ezXNbZuZ-e9SjD_4OzRPYrjp0-UWAlLZXzNIeuqyEK77Io-xWJC3NgyI9MyPpkZ3EhoF-oy7gQgXgHf0VVe8Z0ikQnv-ohKZYMf3_R9EafyPhMqgqQjVLm77uzvxI08aiyisB1P9rUWIrD-uVIwoore7EDJu854KDTgorIQuusurLh_qDitKujIIwOWt569sQV7hhmReIbNS9feOzp7IbpWpNkOWqGBssqhpV670s8-s2JqhbHPLrMLd95pEgjojYlOD8oiAqWZzfKgaR9aQ_ZvScYcE6mLi0pNOrAdFjEOVByKQy8woxiYo-eeiCThrntgpE5SI07EP47w2XJN96YGszYCWOJnCvJSTzZSs8",
              "width": 1024
            }
          ],
          "place_id": "ChIJVylslTAbdkgRinQ3RE49N44",
          "plus_code": {
            "compound_code": "GVFG+M2 London, UK",
            "global_code": "9C3XGVFG+M2"
          },
          "rating": 4.5,
          "reference": "ChIJVylslTAbdkgRinQ3RE49N44",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest"
          ],
          "user_ratings_total": 912
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "business_status": "OPERATIONAL",
          "formatted_address": "6 Bedford St, London WC2E 9HD, UK",
          "geometry": {
            "location": {
              "lat": 51.51002949999999,
              "lng": -0.1238553
            },
            "viewport": {
              "northeast": {
                "lat": 51.5114076802915,
                "lng": -0.122506019708498
              },
              "southwest": {
                "lat": 51.5087097197085,
                "lng": -0.125203980291502
              }
            }
          },
          "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png",
          "icon_background_color": "#7B9EB0",
          "icon_mask_base_uri": "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
          "name": "Fitness First The Strand",
          "opening_hours": {
            "open_now": true
          },
          "photos": [
            {
              "height": 500,
              "html_attributions": [
                "<a href=\"https://maps.google.com/maps/contrib/110919378128633198690\">Fitness First The Strand</a>"
              ],
              "photo_reference": "AaVGc3ltRCChHGTJrMvv0nK2XMy1Wu9vLE7shLBLH-nklz9KUQ8OiywMQgFsIc-x33YFdRqR-gvsK-M-bovhbCd6eDteSTsVwO6qiZDxUcR_4qgdZ8nf69_WTC7y90Q9lT-nNNux4TN-h1dcVHd_VlyFfqb6S5W1glLe3A4FO2JKNNXdojDkw3D_rNTQr6ybJ_d5wcIRWiG_XgXokPf3KdO5fn4RUIbpT8Hf_99mdJ0rOC7Pg44wgyPIamnwXlOBeN_wjie8ZevBxFLVfk2VTVEMP63R584ddmK_N-OXJlJcHTNMF0EyxoQJmkbIyqoHP9yya3YEjjQ6h9BC1-cEVq5wy5g7oPyf39pNotbWwUwR8Fx09LlhSDX-Ml_cAhVuBjwGoVn4wD4InC2WxW0ldp-Sqku8hYB6hI2eyW3kj9KBHWeM5iY",
              "width": 1200
            }
          ],
          "place_id": "ChIJy3SZHMwEdkgRNLUT2wTY1wU",
          "plus_code": {
            "compound_code": "GV6G+2F London, UK",
            "global_code": "9C3XGV6G+2F"
          },
          "rating": 4.7,
          "reference": "ChIJy3SZHMwEdkgRNLUT2wTY1wU",
          "types": [
            "establishment",
            "gym",
            "health",
            "point_of_interest",
            "spa"
          ],
          "user_ratings_total": 758
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "dd0639d7-0cdc-44ac-9a04-6ecc9d736c50",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-16T16:01:12.652Z",
      "createdAt": "2026-06-16T16:01:12.652Z",
      "role": "workflow:owner",
      "workflowId": "PpUE4LQWRvCHQ0Rx",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}