workflows/inactive/2-lead-enrichment-hunter-verification-claude-ib1enqKjgZOyyKth.json
{
  "updatedAt": "2026-06-16T15:38:41.043Z",
  "createdAt": "2026-06-13T13:52:36.394Z",
  "id": "ib1enqKjgZOyyKth",
  "name": "2. Lead Enrichment (Hunter + Verification) - claude",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "name": "Schedule Trigger (hourly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1328,
        128
      ],
      "id": "2af6f0c6-8e69-4900-b271-f948ab14683d",
      "notes": "Runs every hour, picks up any new 'discovered' leads. Change to manual trigger if you prefer running on demand."
    },
    {
      "parameters": {
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.discovered"
            },
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "limit",
              "value": "25"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Discovered Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        128
      ],
      "id": "e0dac353-964e-403c-a953-e1982b022464",
      "notes": "Capped at 25 per run to respect Hunter's rate limits. Increase once you're on a paid Hunter plan."
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Split Out Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -672,
        128
      ],
      "id": "8f588e5d-f824-426e-84d5-e6dbc88b7f01",
      "notes": "Splits the array of leads into individual items."
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.item.json;\nlet domain = lead.website || '';\ndomain = domain.replace(/^https?:\\/\\//i, '').replace(/^www\\./i, '').split('/')[0].split('?')[0];\nreturn { ...lead, domain };"
      },
      "name": "Extract Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        128
      ],
      "id": "9257694e-d25b-4d00-9e18-51b4c55b0843"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            },
            {
              "name": "api_key",
              "value": "={{ $credentials.hunterApiKey }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "name": "Hunter Domain Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        128
      ],
      "id": "98b0cfaf-53c0-4b18-ba16-9afca9f6b3f0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "hunter-found-emails",
              "leftValue": "={{ $json.data && $json.data.emails ? $json.data.emails.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Hunter Found Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        128
      ],
      "id": "9da7ff34-07a6-4e1f-8f7e-1dab902bf9e3"
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Extract Domain').item.json;\nconst emails = $json.data.emails || [];\n\nconst priorityKeywords = ['owner','founder','ceo','director','manager','president','principal','partner'];\n\nlet best = emails.find(e => e.position && priorityKeywords.some(k => (e.position || '').toLowerCase().includes(k)));\n\nif (!best) {\n  best = emails.find(e => /^(info|contact|hello|admin|sales|enquiries|enquiry)@/i.test(e.value));\n}\n\nif (!best) {\n  best = emails[0];\n}\n\nconst contactName = [best.first_name, best.last_name].filter(Boolean).join(' ').trim();\n\nreturn {\n  ...lead,\n  email: best.value,\n  contact_name: contactName || null,\n  email_source: 'hunter'\n};"
      },
      "name": "Pick Best Email (Hunter)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "65249c95-13fd-4ecd-aaee-9b0708a2cd42"
    },
    {
      "parameters": {
        "url": "={{ $('Extract Domain').item.json.website }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Scrape Website Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        240
      ],
      "id": "ddfabb23-b987-4ec8-bf42-e688a311efbc",
      "notes": "Fallback when Hunter finds nothing. Grabs the raw HTML of the homepage to search for a mailto: email."
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Extract Domain').item.json;\nconst html = $json.data || '';\n\nconst matches = html.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g) || [];\n\nconst valid = matches.filter(e =>\n  !/\\.(png|jpg|jpeg|gif|svg|webp|css|js)$/i.test(e) &&\n  !/^(example|test|name|your)@/i.test(e) &&\n  !e.toLowerCase().includes('sentry') &&\n  !e.toLowerCase().includes('wixpress')\n);\n\nconst email = valid[0] || null;\n\nreturn {\n  ...lead,\n  email,\n  contact_name: null,\n  email_source: email ? 'scrape' : null\n};"
      },
      "name": "Extract Email From HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        240
      ],
      "id": "cac6c136-4def-4efa-a60c-19d2f830d5d6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        128
      ],
      "id": "306d06c2-0239-4a58-a4c6-a1a72a5b3d77"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.lumrid.com/api/verify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { email: $json.email } }}",
        "options": {}
      },
      "name": "Verify Email (Lumrid)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        48
      ],
      "id": "318b4dd9-5a79-4adf-b9e9-f0b756692e1d",
      "notes": "PLACEHOLDER ENDPOINT - this is not Lumrid's official documented API. Open browser dev tools (Network tab) while running a single verification on lumrid.com, find the actual request URL/method/payload/headers, and update this node to match. Also adjust 'Parse Verification Result' once you see the real response shape."
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\nconst verification = $('Verify Email (Lumrid)').item.json;\n\n// ADJUST these field names once you confirm Lumrid's actual response shape\nconst status = (verification.status || verification.result || 'unknown').toLowerCase();\nconst verified = status === 'valid' || status === 'good';\n\nreturn {\n  ...lead,\n  email_verified: verified,\n  email_verification_status: status\n};"
      },
      "name": "Parse Verification Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        48
      ],
      "id": "10b792a7-3c4a-44f4-8fb0-3313289c6d64"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contact_name: $json.contact_name, email: $json.email, email_source: $json.email_source, email_verified: $json.email_verified, email_verification_status: $json.email_verification_status, status: 'enriched' } }}",
        "options": {}
      },
      "name": "Update Lead - Enriched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        48
      ],
      "id": "8ad8373e-429e-44d1-8089-22a906690426"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'no_email_found' } }}",
        "options": {}
      },
      "name": "Update Lead - No Email Found",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        320
      ],
      "id": "e50a876d-c05a-48fe-a309-1b8a0df0733f",
      "notes": "Lead stays in the table with status 'no_email_found' so you can manually research it later instead of it disappearing from the pipeline."
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1120,
        128
      ],
      "id": "bdccf6ba-a24e-4a2e-b05e-815a4960a217",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "4UcvDgBqf10SrNQ1",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "filters": {}
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        -240,
        128
      ],
      "id": "4e79e90d-5e84-408a-a08f-0d6dacdd1476",
      "name": "Hunter",
      "credentials": {
        "hunterApi": {
          "id": "yZGF0DkzLwp2b49M",
          "name": "Hunter account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (hourly)": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Discovered Leads": {
      "main": [
        [
          {
            "node": "Split Out Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Leads": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain": {
      "main": [
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Domain Search": {
      "main": [
        [
          {
            "node": "Hunter Found Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Found Emails?": {
      "main": [
        [
          {
            "node": "Pick Best Email (Hunter)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Website Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Best Email (Hunter)": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website Homepage": {
      "main": [
        [
          {
            "node": "Extract Email From HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email From HTML": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Verify Email (Lumrid)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Lead - No Email Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Email (Lumrid)": {
      "main": [
        [
          {
            "node": "Parse Verification Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Verification Result": {
      "main": [
        [
          {
            "node": "Update Lead - Enriched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Get Discovered Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "Hunter Domain Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "623f0de3-ffa0-4f78-9f61-02aa85b95b4a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-13T13:52:36.396Z",
      "createdAt": "2026-06-13T13:52:36.396Z",
      "role": "workflow:owner",
      "workflowId": "ib1enqKjgZOyyKth",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}