workflows/inactive/4-get-persons-hunter-TrBDfCUGzCzE74EC.json
{
  "updatedAt": "2026-06-01T17:11:24.680Z",
  "createdAt": "2026-05-02T10:26:27.088Z",
  "id": "TrBDfCUGzCzE74EC",
  "name": "4. Get Persons Hunter",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        192
      ],
      "id": "17c6ed36-fed8-4157-ab75-49e720b684f8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00396bc4-b02c-47bf-a3cf-7406999f93fd",
              "name": "SpreadSheet_Id_Hunter_outputs",
              "value": "1WMpSYadz8bnoR70Sr2B8GnygmsGCMwzY2vlC9-I08Yo",
              "type": "string"
            },
            {
              "id": "97baa437-f018-40c0-9f65-467538ada272",
              "name": "Sheet_name2",
              "value": "Sheet3",
              "type": "string"
            },
            {
              "id": "c4bae51e-394f-421b-9c02-410cb05671fc",
              "name": "SpreadSheet_id1_inputs",
              "value": "1hRF3Ffnj1z4vWv1-FRG3IkMunm4uhs_jrDeZ8CCQOU0",
              "type": "string"
            },
            {
              "id": "3e8458b9-a0f0-4640-b9e0-141da3624eca",
              "name": "Sheet_name1",
              "value": "Final1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        192
      ],
      "id": "cad756de-383e-4cce-9494-109741d393b4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA",
          "mode": "list",
          "cachedResultName": "Recruitment agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1656038683,
          "mode": "list",
          "cachedResultName": "cleaned sheet - no duplicates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit#gid=1656038683"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "huntor email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        192
      ],
      "id": "efeb75b4-62b6-4bd4-b46f-cfeec9a1bc19",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 200
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "7df28bb1-4abd-4358-bfcf-4ee3415a869a",
      "name": "Limit"
    },
    {
      "parameters": {
        "domain": "={{ $('Get row(s) in sheet').item.json['website url'] }}",
        "onlyEmails": false,
        "limit": 5,
        "filters": {
          "department": [
            "executive",
            "management",
            "marketing"
          ]
        }
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "361f22ac-f324-4ca8-bc9d-b80da80fa4f4",
      "name": "Hunter",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "hunterApi": {
          "id": "yZGF0DkzLwp2b49M",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA",
          "mode": "list",
          "cachedResultName": "Step 1 - Recruitment agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1102239370,
          "mode": "list",
          "cachedResultName": "huntor emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit#gid=1102239370"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "place id": "={{ $('Get row(s) in sheet').item.json['place id'] }}",
            "rating": "={{ $('Get row(s) in sheet').item.json.rating }}",
            "twitter": "={{ $('Edit Fields4').item.json.twitter }}",
            "company name": "={{ $('Get row(s) in sheet').item.json['company name'] }}",
            "email": "={{ $('Edit Fields4').item.json.email }}",
            "first name": "={{ $('Edit Fields4').item.json.first_name }}",
            "last name": "={{ $('Edit Fields4').item.json.last_name }}",
            "job title": "={{ $('Edit Fields4').item.json.position }}",
            "department": "={{ $('Edit Fields4').item.json.emails.department }}",
            "national phone number ": "={{ $('Get row(s) in sheet').item.json['national phonenumber'] }}",
            "website url": "={{ $('Get row(s) in sheet').item.json['website url'] }}",
            "format address": "={{ $('Get row(s) in sheet').item.json['format address'] }}",
            "huntor email": "={{ $('Edit Fields4').item.json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "national phone number ",
              "displayName": "national phone number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website url",
              "displayName": "website url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "format address",
              "displayName": "format address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "huntor email",
              "displayName": "huntor email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lindkedn",
              "displayName": "lindkedn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "deleted duplicates",
              "displayName": "deleted duplicates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        192
      ],
      "id": "91712454-0de3-4a1a-a66a-fef6529244bd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        992,
        192
      ],
      "id": "25bc7e7f-81ed-40c8-92e9-f09b0a79e6e7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        192
      ],
      "id": "2bab1e73-f286-4e44-9f16-22b69b0de46e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1248,
        416
      ],
      "id": "6cdebf57-dd1c-4176-916f-cd4898306190"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        192
      ],
      "id": "26cdfed2-21b2-4a87-84bb-bc5ef8b3f33c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1968,
        192
      ],
      "id": "ed202056-2a7b-4c95-888f-208fb3b42bd7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA",
          "mode": "list",
          "cachedResultName": "Step 1 - Recruitment agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1656038683,
          "mode": "list",
          "cachedResultName": "cleaned sheet - no duplicates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit#gid=1656038683"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "huntor email": "done"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "national phonenumber",
              "displayName": "national phonenumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "international phone number",
              "displayName": "international phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website url",
              "displayName": "website url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "format address",
              "displayName": "format address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "huntor email",
              "displayName": "huntor email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2496,
        192
      ],
      "id": "f4555d98-1f97-4621-b09c-79396eaee5a7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "dbef10e6-4b3f-4106-8df1-ff602311c8c4",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "sendTo": "senuladeeth9@gmail.com",
        "subject": "Hunter leads are completed",
        "message": "Hunter leads are completed",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ],
      "id": "4188308c-38e4-4da3-a86f-3768d5ce4b5c",
      "name": "Send a message",
      "webhookId": "ab0d7eae-cce2-42b3-a332-76e0b34b94a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "ClO23cw4LdmPiacG",
          "name": "Business email"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d77fbb8-6e1b-4ea2-8852-8887ef2e8380",
              "leftValue": "={{$json.emails.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        208
      ],
      "id": "1dd16598-b78b-48e8-85d8-21810b05e081",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA",
          "mode": "list",
          "cachedResultName": "Step 1 - Recruitment agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1656038683,
          "mode": "list",
          "cachedResultName": "cleaned sheet - no duplicates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit#gid=1656038683"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "huntor email": "not found"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "national phonenumber",
              "displayName": "national phonenumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "international phone number",
              "displayName": "international phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website url",
              "displayName": "website url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "format address",
              "displayName": "format address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "huntor email",
              "displayName": "huntor email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        416
      ],
      "id": "57f71a13-cd5f-4b59-8e3c-664ddaf7f40c",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2336,
        192
      ],
      "id": "e0e58b2f-9fa4-421a-98b5-5d3ec9f42bf6",
      "name": "Wait",
      "webhookId": "348e933e-4e12-4e5c-be17-cea3bde36283"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        416
      ],
      "id": "44495737-6d43-4c54-8fb6-524c19e550b0",
      "name": "Wait1",
      "webhookId": "e3d1ead0-cdc0-4791-9a51-19521fe3e9ec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "row_number",
              "value": "={{ $('Get row(s) in sheet').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        416
      ],
      "id": "c9df9b4f-ec9b-4ec0-a8ac-9d5214d07570",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "ecf24989-ed45-4873-8db9-3fee90b28c7b",
              "name": "name",
              "value": "={{ $json['company name'] }}",
              "type": "string"
            },
            {
              "id": "6323428c-3306-4144-bcae-551fd34458da",
              "name": "websiteUri",
              "value": "={{ $json.websiteUri }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        192
      ],
      "id": "5419d181-d947-4a2b-968d-d86723f42c90",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "585b05ed-c2eb-48f3-abb2-6bd2898b790f",
              "name": "Website_URL",
              "value": "={{ $('Split Out').item.json.domain }}",
              "type": "string"
            },
            {
              "id": "16543e92-7848-4f86-bdba-2830b3b41626",
              "name": "email",
              "value": "={{ $('Split Out').item.json.emails.value }}",
              "type": "string"
            },
            {
              "id": "53f78f00-ced8-40e0-b7a2-66ce10466f0a",
              "name": "first_name",
              "value": "={{ $('Split Out').item.json.emails.first_name }}",
              "type": "string"
            },
            {
              "id": "f23326ea-e9b5-4463-8236-766aee75b708",
              "name": "last_name",
              "value": "={{ $('Split Out').item.json.emails.last_name }}",
              "type": "string"
            },
            {
              "id": "a2d49c4a-ec8b-4a6a-a4ca-8efcdfe855a4",
              "name": "position_raw",
              "value": "={{ $('Split Out').item.json.emails.position_raw }}",
              "type": "string"
            },
            {
              "id": "518ebb43-6632-4bae-b12c-4c0cd6041472",
              "name": "position",
              "value": "={{ $('Split Out').item.json.emails.position }}",
              "type": "string"
            },
            {
              "id": "44794344-7b1e-413b-bd32-22136b4d23d9",
              "name": "linkedin",
              "value": "={{ $('Split Out').item.json.emails.linkedin }}",
              "type": "string"
            },
            {
              "id": "519b03e1-8fe4-4f41-a0bb-b955c1bde719",
              "name": "seniority",
              "value": "={{ $('Split Out').item.json.emails.seniority }}",
              "type": "string"
            },
            {
              "id": "2b544f5f-b231-46b7-9a93-c1db1a4bedcc",
              "name": "twitter",
              "value": "={{ $('Split Out').item.json.emails.twitter }}",
              "type": "string"
            },
            {
              "id": "9f2c9ee8-17a5-4865-99e4-f003ef350d68",
              "name": "verification",
              "value": "={{ $('Split Out').item.json.emails.verification }}",
              "type": "object"
            },
            {
              "id": "48a7f622-6f69-4507-bd69-9fad6e139eb6",
              "name": "emails.department",
              "value": "={{ $('Split Out').item.json.emails.department }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        192
      ],
      "id": "a6e2076a-0bc4-4527-a2b4-8cf583cd477d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ad5dee7-63da-4873-8e93-aef1830dcba5",
              "leftValue": "={{ $json['website url'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -272,
        192
      ],
      "id": "073b733e-f9dd-4df7-aa42-10de255b0847",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1456,
        192
      ],
      "id": "2bab1619-e041-45f2-9c6c-1cc66ba13bfb",
      "name": "Wait2",
      "webhookId": "e9d0df04-4d0c-4dd1-986c-016d3908de51"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2be99213-675f-438d-b6c7-47986d7a1c40",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T10:26:27.091Z",
      "createdAt": "2026-05-02T10:26:27.091Z",
      "role": "workflow:owner",
      "workflowId": "TrBDfCUGzCzE74EC",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}