workflows/inactive/find-leads-with-no-websites-Dc0TgHLLNPcaTfbu.json
{
  "updatedAt": "2026-06-03T22:01:42.583Z",
  "createdAt": "2026-06-03T21:27:24.669Z",
  "id": "Dc0TgHLLNPcaTfbu",
  "name": "find leads with no websites",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "db6566ad-03a2-4c2c-834b-12081fe70010",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "={{ $json.engine }}"
            },
            {
              "name": "q",
              "value": "={{ $json.q }}"
            },
            {
              "name": "type",
              "value": "={{ $json.type }}"
            },
            {
              "name": "api_key",
              "value": "={{ $json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "3b028d2c-c011-4be7-890f-40d1ea34b3d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "612ce742-bab6-4720-babb-d95ac73a2927",
              "name": "engine",
              "value": "google_maps",
              "type": "string"
            },
            {
              "id": "eb8516a2-e6f4-4197-832d-ab2e99bea579",
              "name": "q",
              "value": "restaurant in dudley ",
              "type": "string"
            },
            {
              "id": "424249cb-7d79-41d3-922d-a91606277fe2",
              "name": "type",
              "value": "search",
              "type": "string"
            },
            {
              "id": "bc5e3a2c-2c57-4c37-b0f3-fb2f350782d4",
              "name": "api_key",
              "value": "1b658387f2694f2a5ee30e91b496f5d08d6cbb3275f8de836c337a07b92f29d0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "6b88fcee-f92d-4899-aa00-e51d14ddb574",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "local_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "d712511c-85f7-49e4-85e0-03f0aa9616b8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d081a14-51fd-4b7a-aa16-be57a4376603",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "380b1338-031d-47e7-b641-14b1e6b97115",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13tFUobKZh8p3_6g2XpMOqxZqw0t_hujSgGoHx7ql-VE",
          "mode": "list",
          "cachedResultName": "no websites leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13tFUobKZh8p3_6g2XpMOqxZqw0t_hujSgGoHx7ql-VE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13tFUobKZh8p3_6g2XpMOqxZqw0t_hujSgGoHx7ql-VE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.title }}",
            "place id": "={{ $json.place_id }}",
            "Address": "={{ $json.address }}",
            "Phone": "=*{{ $json.phone }}",
            "Rating": "={{ $json.rating }}",
            "Reviews": "={{ $json.reviews }}",
            "Category": "={{ $json.type }}",
            "Google Maps URL": "={{ $json.place_id_search }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reviews",
              "displayName": "Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Google Maps URL",
              "displayName": "Google Maps URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -144
      ],
      "id": "dc7ae806-68e4-433b-8b4f-8513a21702af",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NlrPtTy8lgPxftqRMVh6fAeFONdK5EDXUaC7ShwlZC4",
          "mode": "list",
          "cachedResultName": "new leads - serpapi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NlrPtTy8lgPxftqRMVh6fAeFONdK5EDXUaC7ShwlZC4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NlrPtTy8lgPxftqRMVh6fAeFONdK5EDXUaC7ShwlZC4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.title }}",
            "place id": "={{ $json.place_id }}",
            "Google Maps URL": "={{ $json.place_id_search }}",
            "Rating": "={{ $json.rating }}",
            "Reviews": "={{ $json.reviews }}",
            "Category": "={{ $json.type }}",
            "website url": "={{ $json.website }}",
            "Phone": "=*{{ $json.phone }}",
            "Address": "={{ $json.address }}",
            "description": "={{ $json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website url",
              "displayName": "website url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews",
              "displayName": "Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Maps URL",
              "displayName": "Google Maps URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        128
      ],
      "id": "16c00e7a-36fc-45fc-9580-fd6f6f24501a",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "62a8223c-6151-44d4-ab4e-bf45cc9b281d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-03T21:27:24.674Z",
      "createdAt": "2026-06-03T21:27:24.674Z",
      "role": "workflow:owner",
      "workflowId": "Dc0TgHLLNPcaTfbu",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}