workflows/inactive/find-duplicate-leads-VWaQnvoFNOYIL0Br.json
{
  "updatedAt": "2026-05-23T01:25:27.062Z",
  "createdAt": "2026-05-20T14:24:45.249Z",
  "id": "VWaQnvoFNOYIL0Br",
  "name": "Find Duplicate Leads",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        16
      ],
      "id": "d93c9e6f-1e2d-436a-aa21-2bb00768c520",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HkGWrZJYkn7bT1TEqY8soJHEpRphRJAOyKxpavQbtv4",
          "mode": "list",
          "cachedResultName": "Step 2 - Round 2 - Get Places",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HkGWrZJYkn7bT1TEqY8soJHEpRphRJAOyKxpavQbtv4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HkGWrZJYkn7bT1TEqY8soJHEpRphRJAOyKxpavQbtv4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        16
      ],
      "id": "2ca6f093-0e78-4efb-8f17-eed57396739c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1K8AVgknB7oNM-3KTXJGb0PTwQIuN6C91TzKoP2BmSG4",
          "mode": "list",
          "cachedResultName": "Dental Leads - step 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K8AVgknB7oNM-3KTXJGb0PTwQIuN6C91TzKoP2BmSG4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 193697874,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K8AVgknB7oNM-3KTXJGb0PTwQIuN6C91TzKoP2BmSG4/edit#gid=193697874"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        16
      ],
      "id": "a43dbe30-cb11-4aa5-ab45-f71458bba155",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const names = items.map(item => item.json[\"name\"].trim().toLowerCase());\nreturn [{ json: { oldNames: names } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        16
      ],
      "id": "28c1841a-52c2-4af3-9da4-e931695853b3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const oldNames = $('Code in JavaScript').first().json.oldNames;\n\nconst taggedLeads = items.map(item => {\n  const name = item.json[\"name\"].trim().toLowerCase();\n  const isDuplicate = oldNames.includes(name);\n  \n  return {\n    json: {\n      ...item.json,\n      status: isDuplicate ? \"duplicate\" : \"unique\"\n    }\n  };\n});\n\nreturn taggedLeads;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        16
      ],
      "id": "7e0cb0fa-0b99-458f-905b-928fe78f6a51",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
          "mode": "list",
          "cachedResultName": "Dental Leads - step 4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 867695819,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI/edit#gid=867695819"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company name": "={{ $json.name }}",
            "place id": "={{ $json['place id'] }}",
            "rating": "={{ $json.rating }}",
            "websiteUri": "={{ $json.websiteUri }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nationalPhoneNumber",
              "displayName": "nationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "websiteUri",
              "displayName": "websiteUri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "format adrees",
              "displayName": "format adrees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google search email",
              "displayName": "google search email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hunter email",
              "displayName": "hunter email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verfication",
              "displayName": "verfication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedn",
              "displayName": "linkedn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internationalPhoneNumber",
              "displayName": "internationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        16
      ],
      "id": "20b4afe5-4d44-4e01-98f1-8afa38f687a2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const oldNames = $('Code in JavaScript').first().json.oldNames;\n\nconst uniqueLeads = items.filter(item =>\n  !oldNames.includes(item.json[\"name\"].trim().toLowerCase())\n);\n\nreturn uniqueLeads;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        16
      ],
      "id": "3f241950-1a43-40b3-bb8d-700140e14a2f",
      "name": "Code in JavaScript2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "629942ca-9153-4a64-a65c-0406bc9852b3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-20T14:24:45.252Z",
      "createdAt": "2026-05-20T14:24:45.252Z",
      "role": "workflow:owner",
      "workflowId": "VWaQnvoFNOYIL0Br",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}