workflows/inactive/get-leads-albert-bBeTwu0qALQduM2Y.json
{
  "updatedAt": "2026-05-23T20:27:13.995Z",
  "createdAt": "2026-05-23T20:19:26.798Z",
  "id": "bBeTwu0qALQduM2Y",
  "name": "Get Leads - albert",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5ff54a5e-19f7-4ca5-bb4d-9f57b542cc91",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95965a6b-baf5-46c5-852e-a88a4be04d9f",
              "name": "Google_Maps_API",
              "value": "AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk",
              "type": "string"
            },
            {
              "id": "e0a9a743-f310-4eea-bfe4-55d5a25effd9",
              "name": "query",
              "value": "Landscaping",
              "type": "string"
            },
            {
              "id": "1c7f4e33-3c43-4c3a-8fd8-b42d168c2fc7",
              "name": "location",
              "value": "Philadelphia",
              "type": "string"
            },
            {
              "id": "b8da2aea-848e-4b55-912a-e60ff2e01cec",
              "name": "radius",
              "value": "1000",
              "type": "string"
            },
            {
              "id": "f8588993-203f-4fdd-a4d1-e1c32b3fd44b",
              "name": "Spreadsheet_id",
              "value": "1F_EQtucCajHSJZrUT_S32nJqdYWtMhw_kKm6XInuRVI",
              "type": "string"
            },
            {
              "id": "90c98d91-f6e0-4592-8024-0e5b3066d225",
              "name": "sheet_name",
              "value": "sheet 1",
              "type": "string"
            },
            {
              "id": "33ddb2c0-29b3-4800-a69a-3d9affd9f613",
              "name": "Max_Item",
              "value": 300,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "6f173f2f-8e16-4bc8-b4a5-ce3fd424ed5e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.location }}"
            },
            {
              "name": "key",
              "value": "=AIzaSyC6ksZOqDtte69YfY2eTM1b61Z4mhSKjRk"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        0
      ],
      "id": "4d6475b2-bd53-4373-818e-67130536dac9",
      "name": "Get cordinetes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query }} {{ $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $('Edit Fields').item.json.radius }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        0
      ],
      "id": "e21b615d-e9f0-4535-878e-9990ec512a88",
      "name": "Get Places"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "d0f99992-a144-4010-abf9-bbffe1545195",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744",
          "mode": "list",
          "cachedResultName": "Get leads - albert ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nationalPhoneNumber": "={{ $json.nationalPhoneNumber }}",
            "internationalPhoneNumber": "=* {{ $json.internationalPhoneNumber }}",
            "rating": "={{ $json.rating }}",
            "websiteUri": "={{ $json.websiteUri }}",
            "displayName": "={{ $json.displayName.text }}",
            "id": "={{ $json.id }}",
            "text": "=",
            "format adrees": "={{ $json.formattedAddress }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nationalPhoneNumber",
              "displayName": "nationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internationalPhoneNumber",
              "displayName": "internationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "websiteUri",
              "displayName": "websiteUri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "format adrees",
              "displayName": "format adrees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hunter email",
              "displayName": "hunter email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "aef601b0-2454-4e14-8449-06e06b66c866",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "912c8de4-1915-4600-b84a-ac5d37e3b4da",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places').item.json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1024,
        0
      ],
      "id": "670c0a35-8acc-4b78-8590-09713ce93157",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        0
      ],
      "id": "130e9b24-1413-415e-9459-2ecd9840713c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "5fc1744c-fa39-42d1-bc50-9b84f7d902b0",
      "name": "Wait",
      "webhookId": "321c2695-a138-41f4-bd9e-eefb7adee6cf"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Insert row').first().json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        704,
        208
      ],
      "id": "90ea3e2e-dd5f-48d9-abb1-4926fe79621d",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        208
      ],
      "id": "5bad08a4-d977-4203-b4a2-6e6604f2245c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744",
          "mode": "list",
          "cachedResultName": "Get leads - albert ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "displayName": "={{ $json.displayName.text }}",
            "nationalPhoneNumber": "={{ $json.nationalPhoneNumber }}",
            "internationalPhoneNumber": "=*{{ $json.internationalPhoneNumber }}",
            "rating": "={{ $json.rating }}",
            "websiteUri": "={{ $json.websiteUri }}",
            "format adrees": "={{ $json.formattedAddress }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nationalPhoneNumber",
              "displayName": "nationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "internationalPhoneNumber",
              "displayName": "internationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "websiteUri",
              "displayName": "websiteUri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "format adrees",
              "displayName": "format adrees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hunter email",
              "displayName": "hunter email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        208
      ],
      "id": "f1202c64-245b-4f14-b8a6-969fff18c002",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1392,
        208
      ],
      "id": "732cc837-91fa-49f9-aa0d-37f524589266",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "N5LjcMLEIlInaJMg",
          "mode": "list",
          "cachedResultName": "next page token",
          "cachedResultUrl": "/projects/5GBCFFrIrIkPnjdc/datatables/N5LjcMLEIlInaJMg"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)').first().json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nextpagetoken": "={{ $('Get Places1').first().json.nextPageToken }}"
          },
          "matchingColumns": [
            "nextpagetoken"
          ],
          "schema": [
            {
              "id": "nextpagetoken",
              "displayName": "nextpagetoken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1536,
        208
      ],
      "id": "da689e5f-fbc4-4ecb-8f5a-742b2c099476",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "={{ $('Edit Fields').item.json.Google_Maps_API }}"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName.text,places.formattedAddress,places.priceLevel,places.nationalPhoneNumber,places.websiteUri,places.rating,places.internationalPhoneNumber,nextPageToken"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Edit Fields').item.json.query + ', ' + $('Edit Fields').item.json.location }}\",\n  \"locationBias\": {\n    \"circle\": {\n      \"center\": {\n        \"latitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lat }},\n        \"longitude\": {{ $node[\"Get cordinetes\"].json.results[0].geometry.location.lng }}\n      },\n      \"radius\": {{ $node[\"Edit Fields\"].json.radius }}\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        208
      ],
      "id": "e5218dfa-cf87-41da-8a66-073375c4cdfb",
      "name": "Get Places1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d538b999-0584-46e5-818e-530c3c4e9c8a",
              "leftValue": "={{ $json.nextpagetoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1712,
        208
      ],
      "id": "6ffd4acf-0526-4494-bf1e-996cab86bdfd",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o6pC5TnqDNkCWgpqoLJQL4AejtEcBmmLQsVCViUFhTA",
          "mode": "list",
          "cachedResultName": "Step 1 - Round 2 - Get Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o6pC5TnqDNkCWgpqoLJQL4AejtEcBmmLQsVCViUFhTA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o6pC5TnqDNkCWgpqoLJQL4AejtEcBmmLQsVCViUFhTA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        400
      ],
      "id": "19a0f34f-7a15-4245-80d1-663df537a9d7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "displayName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        400
      ],
      "id": "23d83cc8-2c9b-47ab-ba03-2afb8cce12cb",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4b9d5ed-110b-41a6-aca5-088d137a2ebc",
              "name": "num_businesses",
              "value": "={{ $json.displayName.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        400
      ],
      "id": "34c84e50-4927-4639-930f-4174fd374c09",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1b7d000-1d04-4bdf-aa35-6d10e62d19ef",
              "leftValue": "={{ $json.num_businesses }}",
              "rightValue": "={{ $('Edit Fields').item.json.Max_Item }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        400
      ],
      "id": "9117ecb7-c5da-4377-bb20-c78aef6f1b45",
      "name": "If2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get cordinetes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get cordinetes": {
      "main": [
        [
          {
            "node": "Get Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Get Places1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Places1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "14ba91c7-6338-44a3-8b9e-1d3261b15ddc",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-23T20:19:26.802Z",
      "createdAt": "2026-05-23T20:19:26.802Z",
      "role": "workflow:owner",
      "workflowId": "bBeTwu0qALQduM2Y",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}