workflows/inactive/get-emails-albert-f82BP8IoNH76Io1U.json
{
  "updatedAt": "2026-05-23T20:49:44.690Z",
  "createdAt": "2026-05-23T20:30:34.389Z",
  "id": "f82BP8IoNH76Io1U",
  "name": "Get Emails - albert",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1376,
        208
      ],
      "id": "9326c8cd-ea5a-41c0-825b-80cc49e17c80",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00396bc4-b02c-47bf-a3cf-7406999f93fd",
              "name": "SpreadSheet_Id_Hunter_outputs",
              "value": "1WMpSYadz8bnoR70Sr2B8GnygmsGCMwzY2vlC9-I08Yo",
              "type": "string"
            },
            {
              "id": "97baa437-f018-40c0-9f65-467538ada272",
              "name": "Sheet_name2",
              "value": "Sheet3",
              "type": "string"
            },
            {
              "id": "c4bae51e-394f-421b-9c02-410cb05671fc",
              "name": "SpreadSheet_id1_inputs",
              "value": "1hRF3Ffnj1z4vWv1-FRG3IkMunm4uhs_jrDeZ8CCQOU0",
              "type": "string"
            },
            {
              "id": "3e8458b9-a0f0-4640-b9e0-141da3624eca",
              "name": "Sheet_name1",
              "value": "Final1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        208
      ],
      "id": "cc809e05-b13f-40ea-96ce-cd40592ecb3a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744",
          "mode": "list",
          "cachedResultName": "Get leads - albert ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "hunter email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -992,
        208
      ],
      "id": "104314fd-7fc3-462f-85f5-bd5a591ff983",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -432,
        208
      ],
      "id": "3dc8e353-df72-4226-ab9d-e54d48c93ea8",
      "name": "Limit"
    },
    {
      "parameters": {
        "domain": "={{ $('Get row(s) in sheet').item.json.websiteUri }}",
        "onlyEmails": false,
        "limit": 5,
        "filters": {
          "department": [
            "executive",
            "management",
            "marketing"
          ]
        }
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        48,
        224
      ],
      "id": "31c21b98-8b65-4001-bb31-767494d16613",
      "name": "Hunter",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "hunterApi": {
          "id": "yZGF0DkzLwp2b49M",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        208
      ],
      "id": "b8c7acd3-6773-49c3-8681-4f2897136728",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        208
      ],
      "id": "5fa2d013-ee90-432c-b17d-0c5b448738dd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        736,
        432
      ],
      "id": "a554fd5e-2593-41ae-bd32-8b93c3f2f83f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        208
      ],
      "id": "accaf981-cb13-49a7-ac84-3d185bf69acc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1456,
        208
      ],
      "id": "44f9276f-7b2e-425a-a4db-e3594afed9df",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744",
          "mode": "list",
          "cachedResultName": "Get leads - albert ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WUxr8FJtbHJp8VaBfwCbonSCKDCYXMW9ivvFIbQ3Xnw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "hunter email": "done"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nationalPhoneNumber",
              "displayName": "nationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internationalPhoneNumber",
              "displayName": "internationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "websiteUri",
              "displayName": "websiteUri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "format adrees",
              "displayName": "format adrees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hunter email",
              "displayName": "hunter email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "verfication",
              "displayName": "verfication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedn",
              "displayName": "linkedn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        208
      ],
      "id": "f941b00e-0d11-499d-8057-a8a6c263815d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -96,
        16
      ],
      "id": "719b9678-a87e-46d2-a85d-7c0e2eb6116b",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "sendTo": "senuladeeth9@gmail.com",
        "subject": "Hunter leads are completed",
        "message": "Hunter leads are completed",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        16
      ],
      "id": "5d1cc421-0d8a-442e-97b5-1fc6f08e0fd6",
      "name": "Send a message",
      "webhookId": "ab0d7eae-cce2-42b3-a332-76e0b34b94a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "ClO23cw4LdmPiacG",
          "name": "Business email"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d77fbb8-6e1b-4ea2-8852-8887ef2e8380",
              "leftValue": "={{$json.emails.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        224
      ],
      "id": "e2fe40df-03d2-49b7-b76e-c320f596bea1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744",
          "mode": "list",
          "cachedResultName": "Get leads - albert ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "hunter email": "no email found"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "displayName",
              "displayName": "displayName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nationalPhoneNumber",
              "displayName": "nationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internationalPhoneNumber",
              "displayName": "internationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "websiteUri",
              "displayName": "websiteUri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "format adrees",
              "displayName": "format adrees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hunter email",
              "displayName": "hunter email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "verfication",
              "displayName": "verfication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedn",
              "displayName": "linkedn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        432
      ],
      "id": "3864a281-0828-4002-af66-9a71735aa936",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        208
      ],
      "id": "3c097749-d32f-4f77-8e3c-0ff296c7af16",
      "name": "Wait",
      "webhookId": "348e933e-4e12-4e5c-be17-cea3bde36283"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        432
      ],
      "id": "40a1d5b9-2ec9-4366-896a-c1768b34b683",
      "name": "Wait1",
      "webhookId": "e3d1ead0-cdc0-4791-9a51-19521fe3e9ec"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "row_number",
              "value": "={{ $('Get row(s) in sheet').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        432
      ],
      "id": "53d2774c-5bd4-48aa-a287-25a6ddfa8e89",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "548ee1e9-db03-4fd4-a1c9-5627e0dd5ee0",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "ecf24989-ed45-4873-8db9-3fee90b28c7b",
              "name": "name",
              "value": "={{ $json['company name'] }}",
              "type": "string"
            },
            {
              "id": "6323428c-3306-4144-bcae-551fd34458da",
              "name": "websiteUri",
              "value": "={{ $json.websiteUri }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        208
      ],
      "id": "2d16c307-59fd-45e5-8466-c6a64fed9b6a",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "585b05ed-c2eb-48f3-abb2-6bd2898b790f",
              "name": "Website_URL",
              "value": "={{ $('Split Out').item.json.domain }}",
              "type": "string"
            },
            {
              "id": "16543e92-7848-4f86-bdba-2830b3b41626",
              "name": "email",
              "value": "={{ $('Split Out').item.json.emails.value }}",
              "type": "string"
            },
            {
              "id": "53f78f00-ced8-40e0-b7a2-66ce10466f0a",
              "name": "first_name",
              "value": "={{ $('Split Out').item.json.emails.first_name }}",
              "type": "string"
            },
            {
              "id": "f23326ea-e9b5-4463-8236-766aee75b708",
              "name": "last_name",
              "value": "={{ $('Split Out').item.json.emails.last_name }}",
              "type": "string"
            },
            {
              "id": "a2d49c4a-ec8b-4a6a-a4ca-8efcdfe855a4",
              "name": "position_raw",
              "value": "={{ $('Split Out').item.json.emails.position_raw }}",
              "type": "string"
            },
            {
              "id": "518ebb43-6632-4bae-b12c-4c0cd6041472",
              "name": "position",
              "value": "={{ $('Split Out').item.json.emails.position }}",
              "type": "string"
            },
            {
              "id": "44794344-7b1e-413b-bd32-22136b4d23d9",
              "name": "linkedin",
              "value": "={{ $('Split Out').item.json.emails.linkedin }}",
              "type": "string"
            },
            {
              "id": "519b03e1-8fe4-4f41-a0bb-b955c1bde719",
              "name": "seniority",
              "value": "={{ $('Split Out').item.json.emails.seniority }}",
              "type": "string"
            },
            {
              "id": "2b544f5f-b231-46b7-9a93-c1db1a4bedcc",
              "name": "twitter",
              "value": "={{ $('Split Out').item.json.emails.twitter }}",
              "type": "string"
            },
            {
              "id": "9f2c9ee8-17a5-4865-99e4-f003ef350d68",
              "name": "verification",
              "value": "={{ $('Split Out').item.json.emails.verification }}",
              "type": "object"
            },
            {
              "id": "48a7f622-6f69-4507-bd69-9fad6e139eb6",
              "name": "emails.department",
              "value": "={{ $('Split Out').item.json.emails.department }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        208
      ],
      "id": "c0601c1d-e05f-411b-8f76-4bd8b69a895e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ad5dee7-63da-4873-8e93-aef1830dcba5",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -784,
        208
      ],
      "id": "2b24729f-e15d-4ba0-80bf-6d84a203292d",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        944,
        208
      ],
      "id": "191b4cba-2e43-4f2c-9c09-abd334409125",
      "name": "Wait2",
      "webhookId": "e9d0df04-4d0c-4dd1-986c-016d3908de51"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744",
          "mode": "list",
          "cachedResultName": "Get leads - albert ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 798005522,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8PqyNqPIx8e_Phzwz81ODSsxpy9EPty9ohjUNMw744/edit#gid=798005522"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company name": "={{ $('Get row(s) in sheet').item.json.displayName }}",
            "place id": "={{ $('Get row(s) in sheet').item.json.id }}",
            "nationalPhoneNumber": "={{ $('Get row(s) in sheet').item.json.nationalPhoneNumber }}",
            "internationalPhoneNumber": "={{ $('Get row(s) in sheet').item.json.nationalPhoneNumber }}",
            "rating": "={{ $('Get row(s) in sheet').item.json.rating }}",
            "websiteUri": "={{ $('Get row(s) in sheet').item.json.websiteUri }}",
            "format adrees": "={{ $('Get row(s) in sheet').item.json['format adrees'] }}",
            "text": "={{ $('Get row(s) in sheet').item.json.text }}",
            "hunter email": "={{ $json.email }}",
            "first name": "={{ $json.first_name }}",
            "last name": "={{ $json.last_name }}",
            "twitter": "={{ $json.twitter }}",
            "department": "={{ $json.emails.department }}",
            "job title": "={{ $json.position_raw }}",
            "linkedn": "={{ $json.linkedin }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nationalPhoneNumber",
              "displayName": "nationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "websiteUri",
              "displayName": "websiteUri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "format adrees",
              "displayName": "format adrees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "google search email",
              "displayName": "google search email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hunter email",
              "displayName": "hunter email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verfication",
              "displayName": "verfication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedn",
              "displayName": "linkedn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internationalPhoneNumber",
              "displayName": "internationalPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "infor added to step 5 3.0",
              "displayName": "infor added to step 5 3.0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        208
      ],
      "id": "2f8e1829-55d8-44e9-9bcb-09964955f488",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ce1ea886-d630-4203-b2e8-2ce23dfe843c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-23T20:30:34.392Z",
      "createdAt": "2026-05-23T20:30:34.392Z",
      "role": "workflow:owner",
      "workflowId": "f82BP8IoNH76Io1U",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}