workflows/inactive/no-agent-HWwrG2fyQpUOJonQ.json
{
  "updatedAt": "2026-05-28T15:56:46.865Z",
  "createdAt": "2026-05-28T15:50:37.962Z",
  "id": "HWwrG2fyQpUOJonQ",
  "name": "no agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -16
      ],
      "id": "3c327a0f-e8ec-4c8c-923a-f721e9559c58",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA",
          "mode": "list",
          "cachedResultName": "Recruitment agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2124205879,
          "mode": "list",
          "cachedResultName": "no duplicate huntor emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-gVddh8f8OkLNNPl6MY6pKjD73wqGf6b0m8zNjOYUpA/edit#gid=2124205879"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "AI chat box",
              "lookupValue": "issue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -16
      ],
      "id": "a7c67ef3-cc79-468f-a1ad-375e1b188b24",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mRUJc0K4_XlL3JkxZ1USEPzRNXShym1CgECMS6GCtGI",
          "mode": "list",
          "cachedResultName": "Recrument agency - no agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mRUJc0K4_XlL3JkxZ1USEPzRNXShym1CgECMS6GCtGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1956519700,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mRUJc0K4_XlL3JkxZ1USEPzRNXShym1CgECMS6GCtGI/edit#gid=1956519700"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company name": "={{ $json['company name'] }}",
            "place id": "={{ $json['place id'] }}",
            "national phone number ": "={{ $json['national phone number '] }}",
            "email": "={{ $json.email }}",
            "rating": "={{ $json.rating }}",
            "website url": "={{ $json['website url'] }}",
            "format address": "={{ $json['format address'] }}",
            "huntor email": "={{ $json['huntor email'] }}",
            "twitter": "={{ $json.twitter }}",
            "first name": "={{ $json['first name'] }}",
            "last name": "={{ $json['last name'] }}",
            "department": "={{ $json.department }}",
            "job title": "={{ $json['job title'] }}",
            "lindkedn": "={{ $json.lindkedn }}",
            "AI chat box": "={{ $json['AI chat box'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "place id",
              "displayName": "place id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "national phone number ",
              "displayName": "national phone number ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website url",
              "displayName": "website url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "format address",
              "displayName": "format address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "huntor email",
              "displayName": "huntor email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "twitter",
              "displayName": "twitter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lindkedn",
              "displayName": "lindkedn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI chat box",
              "displayName": "AI chat box",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -16
      ],
      "id": "0398b340-960e-4322-975a-9ab154ebbecb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XurJbcuuPZn14SYW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "434e59e3-df00-4759-ab4c-4a5db8307d0f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-28T15:50:37.970Z",
      "createdAt": "2026-05-28T15:50:37.970Z",
      "role": "workflow:owner",
      "workflowId": "HWwrG2fyQpUOJonQ",
      "projectId": "5GBCFFrIrIkPnjdc"
    }
  ],
  "activeVersion": null,
  "tags": []
}